include ../mixins.pug
doctype html
html(lang="en")
	head
		+header()
	body.bg-neutral-400
		div.w-fit.min-w-96.mx-auto.my-10
			div.bg-white.border.border-gray-200.rounded-xl.shadow-sm.mt-7(class="dark:bg-neutral-900 dark:border-neutral-700")
				div.p-4(class="sm:p-7")
					div
						img(src="https://cdn.thefemdevs.com/assets/images/icon/pink" alt="FemDevs Logo" class="w-[25rem] mx-auto")
					div
						h1.text-2xl.font-semibold.text-neutral-900.text-center(class="dark:text-white") Reset your password
						p.text-sm.text-center.text-neutral-500(class="dark:text-neutral-400").
							We have sent you an email with instructions on how to reset your password.
							If you don't receive an email, please check your spam folder.