doctype html
html(lang='en-us')
  head
    include ../defaults/header.pug
  body.bg-neutral-200
    include ../defaults/nav.pug
    content.flex.flex-col.items-center.justify-center
      main
        //- Add a button so that it can be submitted to create a passkey
        //- Create a div with an id of "success"
        //- Create a div with an id of "error"
        button(type='submit' id='btnBegin') Register
        div
          h2#success
        div
          h2#error
    include ../defaults/footer.pug
    script.
      const { startRegistration } = SimpleWebAuthnBrowser;
      const elemBegin = document.getElementById('btnBegin');
      const elemSuccess = document.getElementById('success');
      const elemError = document.getElementById('error');
      elemBegin.addEventListener('click', async () => {
        elemSuccess.innerHTML = '';
        elemError.innerHTML = '';
        const resp = await fetch('/auth/register/get-creds');

        let attResp;
        try {
          attResp = await startRegistration(await resp.json());
        } catch (error) {
          //- Some basic error handling
          if (error.name === 'InvalidStateError') elemError.innerText = 'Error: Authenticator was probably already registered by user';
          else elemError.innerText = error;
          throw error;
        }

        //- POST the response to the endpoint that calls
        //- @simplewebauthn/server -> verifyRegistrationResponse()
        const verificationResp = await fetch('/auth/register/verify', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(attResp),
        });

        //- Wait for the results of verification
        const verificationJSON = await verificationResp.json();

        //- Show UI appropriate for the `verified` status
        if (verificationJSON && verificationJSON.verified) elemSuccess.innerHTML = 'Success!';
        else elemError.innerHTML = `Oh no, something went wrong! Response: <pre>${JSON.stringify(verificationJSON)}</pre>`;
      });