div[main] {
    position: relative;
    display: flex;
    justify-items: center;
    
}

#player1, #player2 {
    display: grid;
    justify-items: center;
    margin: 0;
    width: 50%;
    height: 100vh;
    background-size: cover;
}

#player1 {
    border-right: 2px solid var(--dark900);
    background-color: rgba(255,0,0,0.3);
}

#player2 {
    background-color: rgba(0,0,255,0.3);
}

div.score {
    display: flex;
}

.score > h2 {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 30px 30px 30px;
}

@media only screen and (max-width: 500px) {
    .score > h2 {
        padding: 0px 5px 0px 5px;
    }
    button.score {
        border-radius: 30px;
        border: 2px solid black;
        height: 60px;
        width: 60px;
        margin: 0px 10px 0px 10px;
    }
}

button.score {
    border-radius: 50px;
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin: 0px 10px 0px 10px;
}

.point {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 10px 0px 10px;
}

[rs] {
    border-right: 1px solid black;
    height: fit-content;
}

[gs] {
    /* empty... */
}

.onboard {
    background: red;
}

.inhole {
    background: orange;
}

.slidehole {
    background: yellow;
}

.slideoff {
    background: green;
}

.miss {
    background: blue;
}

[nac]::after {
    content: " (NETC)";
    font-weight: bolder;
}

body {
    padding:0;
    margin:0;
}

.submit {
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    left:50vw;
    top:50vh;
    transform: translate(-50%,-50%);
    width: 70px;
    height: 70px;
    border: 3px solid black;
    border-radius: 35px;
}

:root {
    color: black;
    touch-action: manipulation;
}