body {
  font-family: sans-serif;
}

.title {
  font-size: 48px;
  font-size: bolder;
}

.container {
  padding: 20px;
}

.social-links {
  display: inline-grid;
  gap: 20px;
  justify-items: center;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  list-style: none;
}

.social-links ul {
  display: flex;
  align-items: center;
}

.social-links li {
  font-size: 18px;
}

.social-links img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}