/web/oss/ @femdevs/admin
/web/auth/ @femdevs/admin
/web/mail/ @femdevs/admin
/web/admin/ @femdevs/admin
/web/security/ @femdevs/admin
/functions/database.js @femdevs/admin
/functions/security.js @femdevs/admin
CODEOWNERS @femdevs/admin
CONTRIBUTING.md @femdevs/admin
LICENSE @femdevs/admin
README.md @femdevs/admin
SECURITY.md @femdevs/admin
.github/ @femdevs/admin
* @femdevs/code-review @femdevs/dev
**/meta/
