* @femdevs/code-review @femdevs/dev
/web/oss/ @femdevs/admin @femdevs/code-review @femdevs/dev
/web/auth/ @femdevs/admin @femdevs/code-review @femdevs/dev
/web/mail/ @femdevs/admin @femdevs/code-review @femdevs/dev
/web/admin/ @femdevs/admin @femdevs/code-review @femdevs/dev
/web/security/ @femdevs/admin @femdevs/code-review @femdevs/dev
/functions/database.js @femdevs/admin @femdevs/code-review @femdevs/dev
/functions/security.js @femdevs/admin @femdevs/code-review @femdevs/dev
**/meta/ @femdevs/admin @femdevs/code-review @femdevs/dev
CODEOWNERS @femdevs/admin @femdevs/code-review @femdevs/dev
CONTRIBUTING.md @femdevs/admin @femdevs/code-review @femdevs/dev
LICENSE @femdevs/admin @femdevs/code-review @femdevs/dev
README.md @femdevs/admin @femdevs/code-review @femdevs/dev
SECURITY.md @femdevs/admin @femdevs/code-review @femdevs/dev
.github/ @femdevs/admin @femdevs/code-review @femdevs/dev
