include ../../../mixins.pug
doctype html
html(lang="en")
  head
    +header()
  body
    .container
      .row
        .col-12
          h1 Tokens
          a.btn.btn-primary(href="/admin/tokens/create") Create Token
          table.table.table-striped.table-hover
            thead
              tr
                th Token
                th Associated User
                th Disabled
                th Blocked
                th
                th
                th
            tbody
              each token in tokens
                tr(id= token.id)
                  td: p.token= token.token
                  td: p.user= token.user.username
                  td
                    if token.disabled
                      p.disabled Disabled
                    else
                      p.disabled Enabled
                  td
                    if token.blocked
                      p.blocked Blocked
                    else
                      p.blocked Unblocked
                  td
                    p
                      unless token.disabled
                        .btn.btn-danger.disabled-btn Disable
                      else
                        .btn.btn-success.disabled-btn Enable
                  td
                    p
                      unless token.blocked
                        .btn.btn-danger.block-btn Block
                      else
                        .btn.btn-success.block-btn Unblock
                  td: p: .btn.btn-danger.delete-btn Delete
    script
      include ./token.js