include ../../../mixins.pug
doctype html
html(lang="en")
	head
		+header()
		//- +headerlink('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css', 'stylesheet', 'text/css')
		//- script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js')
	body
		header(class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-blue-600 text-sm py-3 sm:py-0")
			nav(class="relative max-w-[85rem] w-full mx-auto px-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8")
				div(class="flex items-center justify-between")
					a(class="flex-none text-xl font-semibold text-white" href="https://thefemdevs.com")
						img(class="h-8" src="https://cdn.thefemdevs.com/assets/images/deficon" alt="Logo")
					div(class="sm:hidden")
						button(type="button" class="hs-collapse-toggle size-9 flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-white/20 text-white hover:border-white/40 disabled:opacity-50 disabled:pointer-events-none" data-hs-collapse="#navbar-collapse-with-animation")
							svg(class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								line(x1="3" x2="21" y1="6" y2="6")
								line(x1="3" x2="21" y1="12" y2="12")
								line(x1="3" x2="21" y1="18" y2="18")
							svg(class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
								path(d="M18 6 6 18")
								path(d="m6 6 12 12")
				div(id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow sm:block")
					div(class="flex flex-col sm:flex-row sm:items-center sm:justify-end py-2 md:py-0 sm:ps-7")
						a(class="py-3 ps-px sm:px-3 font-medium text-white/80 hover:text-white" href="/") Homepage
						a(class="py-3 ps-px sm:px-3 font-medium text-white/80 hover:text-white" href="/tokens") Tokens
						a(class="py-3 ps-px sm:px-3 font-medium text-white/80 hover:text-white" href="/users") Work
						unless currentUser.loggedIn
							a(class="flex items-center gap-x-2 font-medium text-white/80 hover:text-white sm:border-s sm:border-white/30 py-2 md:py-0 sm:my-6 sm:ps-6" href="/auth/login")
								svg(class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2")
									circle(cx="12" cy="7" r="4")
								| Log in
						else
							a(class="flex items-center gap-x-2 font-medium text-white/80 hover:text-white sm:border-s sm:border-white/30 py-2 md:py-0 sm:my-6 sm:ps-6" href="/auth/login")
								svg(class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
									path(d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2")
									circle(cx="12" cy="7" r="4")
								| #{currentUser.user.name.display}
		h1.mt-4.py-10.text-3xl.text-center Tokens
		div(class="flex flex-col")
			div(class="m-1.5 overflow-x-auto")
				div(class="p-1.5 min-w-full inline-block align-middle")
					div(class="border rounded-lg shadow overflow-hidden dark:border-neutral-700 dark:shadow-gray-900")
						table(class="w-full divide-y divide-gray-200 dark:divide-neutral-700")
							thead(class="bg-gray-50 dark:bg-neutral-700")
								tr(class="dark:bg-neutral-700 gap-4")
									th(scope="col" class="min-w-20 px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400") Name
									th(scope="col" class="min-w-20 px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400") Token
									th(scope="col" class="min-w-20 px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400") Status
									th(scope="col" class="min-w-20 px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase dark:text-neutral-400") Block Status
									th(scope="col" class="min-w-20 px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-400")
									th(scope="col" class="min-w-20 px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase dark:text-neutral-400")
							tbody(class="divide-y divide-gray-200 dark:divide-neutral-700")
								each token in tokens
									tr(id= token.id class="dark:bg-neutral-700")
										td(class="m-4 min-w-20 px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-neutral-200")= token.user.name.display
										td(class="m-4 min-w-20 px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-neutral-200")= token.token
										td(class="m-4 min-w-20 px-6 py-4 whitespace-nowrap text-sm")
											unless token.disabled
												p.e-text(class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full font-medium bg-teal-100 text-teal-800 dark:bg-teal-800/30 dark:text-teal-500") Enabled
											else
												p.e-text(class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full font-medium bg-red-100 text-red-800 dark:bg-red-800/30 dark:text-red-500") Disabled
										td(class="m-4 min-w-20 px-6 py-4 whitespace-nowrap text-sm")
											unless token.blocked
												p.b-text(class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full font-medium bg-teal-100 text-teal-800 dark:bg-teal-800/30 dark:text-teal-500") Unblocked
											else
												p.b-text(class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full font-medium bg-red-100 text-red-800 dark:bg-red-800/30 dark:text-red-500") Blocked
										td(class="m-4 min-w-20 px-6 py-4 whitespace-nowrap text-end text-sm font-medium")
											button.disable(type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400")
												if token.disabled
													| Enable
												else
													| Disable
										td(class="m-4 min-w-20 px-6 py-4 whitespace-nowrap text-end text-sm font-medium")
											button.delete(type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 disabled:opacity-50 disabled:pointer-events-none dark:text-blue-500 dark:hover:text-blue-400") Delete
		script
			include ./token.js
		script
			include ../../../../node_modules/preline/dist/preline.js