include ../../defaults/mixins.pug
doctype html
html(lang="en")
  head
    title Benpai's Homepage
    meta(charset="UTF-8")
    +metav1('viewport', "width%e%device-width,initial-scale%e%1.0")
    +metav2('og:url', "https://ben.thefemdevs.com/")
    +metav2('og:title', 'Benpai\'s Website :3')
    +metav2('og:description', 'Welcome to my website, I hope you enjoy it!')
    +metav2('og:image', 'https://gravatar.com/avatar/f4353bfc07ad129aef250603da84be63cbe374dc27064a1c45fd9c59934944df?s=400')
    +metav2('og:type', 'website')
    +headerlink('https://cdn.thefemdevs.com/assets/css/d', 'stylesheet', 'text/css')
    +headerlink('https://gravatar.com/avatar/f4353bfc07ad129aef250603da84be63cbe374dc27064a1c45fd9c59934944df?s=400', 'icon', 'image/png')
    +headerlink('https://ka-f.fontawesome.com/releases/v6.5.1/css/free.min.css?token=7cffc2ccb5', 'stylesheet', 'text/css')(crossorigin='anonymous')
    +headerlink('https://ka-f.fontawesome.com/releases/v6.5.1/css/free-v5-font-face.min.css?token=7cffc2ccb5', 'stylesheet', 'text/css')(crossorigin='anonymous')
    script(type="application/ld+json").
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Benjamin",
        "url": "https://ben.thefemdevs.com",
        "image": "",
        "sameAs": [
          "https://github.com/therealbenpai",
          "https://sparty18.com",
          "https://ben.thefemdevs.com"
        ],
        "jobTitle": "Owner",
        "worksFor": {
          "@type": "Organization",
          "name": "The FemDevs"
        }
      }
  body.font-nunito.p-0.m-0.text-lg
    header.fixed.top-0.left-0.w-full.z-40.bg-purple-900.shadow-md.text-center.py-4.px-4
      nav
        ul.menu.list-none.flex.justify-center
          +navlinkv2("#main", "Main")
          +navlinkv2("#socials", "Socials")
          +navlinkv2("#femdevs", "FemDevs")
          +navlinkv2("#interests", "Interests")
    section#main.text-inherit.text-2xl.text-center.bg-purple-700(class="py-[75px]")
      h1 Hello! My name is Benjamin!
      p I am a full-stack software engineer and a co-owner of the Femdevs!
    section#socials.text-black.text-2xl.py-6.text-center.bg-purple-700
      h2 Connect with Me
      p You can find most of my socials here, if you're interested in contacting me
      .social-icons.grid.grid-cols-5.grid-rows-2.justify-evenly.place-items-center.pt-4(class="md:grid-cols-4 md:grid-rows-3 sm:grid-cols-2 sm:grid-rows-5")
        +socials("discord", "https://discord.com/users/1158220643616182445", "Discord", "ben")
        +socials("instagram", "https://www.instagram.com/realbenpai/", "Instagram", "ben")
        +socials("github", "https://github.com/therealbenpai", "GitHub", "ben")
        +socials("spotify", "https://open.spotify.com/user/mbvcmhkmq3rwhhrotcllhsk0q", "Spotify", "ben")
        +socials("twitter", "https://twitter.com/officialbenpai", "Twitter", "ben")
        +socials("code", "https://thefemdevs.com", "FemDevs", "ben")
        +socials("users", "https://en.pronouns.page/@therealbenpai", "Pronouns Page", "ben")
        +socials("youtube", "https://www.youtube.com/@benshawmean", "Youtube", "ben")
        +socials("lastfm", "https://www.last.fm/user/therealbenpai", "Last.fm", "ben")
        +socials("envelope", "mailto:therealbenpai@gmail.com", "Email", "ben")
    section#femdevs.text-black.text-2xl.py-6.text-center.bg-purple-700
      h2 FemDevs
      p As previously mentioned, I am a co-owner of the #[strong #[a(href="https://thefemdevs.com") FemDevs]], along with my fellow owners, colleagues, and most importantly, friends, Alex and Oblong. I'm committed to helping talented individuals, regardless of gender, sex, age, race, or any other factor, to achieve their dreams and goals in the tech industry.
    section#interests.text-black.text-2xl.py-6.text-center.bg-purple-700
      h2 General Interests
      p I enjoy a wide variety of things, such as programming, gaming, music, and anime. I have programmed in numberous languages such as HTML, CSS, Vinillia JavaScript, Node.js, Pug, Java, C, C++, C#, Python, Visual Basic, Asembly 
