h3.select-none.font-poppins.text-xl.text-neutral-900.
  If you have any questions or concerns regarding these Terms, please contact us at #[a.font-medium(href="mailto:legal@thefemdevs.com") legal@thefemdevs.com].
  By using the Website, you acknowledge that you have read, understood, and agreed to these Terms of the Privacy Policy. If you do not agree to these Terms, please refrain from accessing or using the Website.