doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title API Homepage
    style.
      :root {
      --mvw: 100vw;
      --mvh: 100vh;
      font-family: sans-serif;
      }
      li {
      list-style: none;
      display: flex;
      align-items: center;
      }
      ul {
      width: max-content;
      }
      pth {
      text-align: center;
      }
      li>* {
      margin-left: 16px;
      }
      [path] {
      padding: 5px;
      border: 2px solid #111;
      border-radius: 5px;
      font-weight: bold;
      background: rgba(0, 0, 0, 0.215);
      }
      tag {
      border: 2px solid black;
      border-radius: 40px;
      font-size: 14px;
      font-weight: bolder;
      }
      tag[g] {
      background: rgba(0, 0, 230, 0.4);
      }
      tag[p] {
      background: rgba(0, 230, 0, 0.4);
      }
      tag:before {
      content: "<";
      }
      tag:after {
      content: ">";
      }
      [post] {
      color: #f00;
      background-color: #b55;
      }
      [splitter] {
      display: block;
      margin: 10px 0px 10px 0px;
      border: 5px dashed black;
      width: -webkit-fill-available;
      height: 0px;
      color: transparent;
      font-size: 0px;
      transform: translateX(-8px);
      }
      footer {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 0;
      left: 0;
      height: 10vh;
      font-size: 16px;
      font-weight: bolder;
      background: #0c0;
      border: 1px solid black;
      margin: 0px 0px 0px 0px;
      padding: 5px;
      width: 100vw;
      }
      cr {
      font-size: 34px;
      transform: translate(-5px, 10%);
      }
      body {
      min-width: var(--mvw);
      width: var(--mvw);
      max-width: var(--mvw);
      height: var(--mvh);
      padding-bottom: 0;
      padding-right: 0;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url("https://raw.githubusercontent.com/sparty182020/imagehost/main/background1.svg");
      }
      @media (max-height: 300px) {
      body {
      overflow-y: initial;
      }
      }
      @media (max-width: 500px) {
      body {
      overflow-x: initial;
      }
      }
  h1 API Homepage
  p
    | This page is made for API requests. Please make a request with a path. Valid Paths include:
  ul
    li
      pth(path='') /gettemp
      tag(g='') GET
      p Get a temporary API key
    li
      pth(path='') /getkey
      tag(g='') GET
      p Convert the temporary key into a permanent API key
    li
      pth(path='') /enc
      tag(g='') GET
      p Encrypt data
    li
      pth(path='') /dec
      tag(g='') GET
      p Decrypt Data
  br
  div(splitter='') Hello
  br
  footer
    cr &copy;
    p Copyright Sparty182020 (2022)
