doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    include ./errorcss.pug
  body
    h1 &#8238;405
    p &#8238;Method not allowed. 
      br
      | &#8238;Method used: 
      br
      strong= methodUsed
      br
      | &#8238;Methods allowed: 
      br
      strong= allowedMethods
      br
      | &#8238;Please use one of the methods allowed.
    footer
      h3
        a(href="/") &#8238;Go Back Home