doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include errorcss.pug
    title egaP laineD noitacoL
  body
    h1 &#8238;451
    p &#8238;It appears that this request has originated from a location that we do not allow service for due to legal reasons
    br
    br
    br
    h2 &#8238;List of denied locations
      ul
        li &#8238;Democratic People's Republic of Korea / DPRK / North Korea
        li &#8238;People's Republic of China / PRC / China 
        li &#8238;Russia 
        li &#8238;California, United States of America
    br
    br
    br
    footer
      h3
        a(href="/") &#8238;Go Back Home