doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include errorcss.pug
    title kcolB yxorP/NPV
  body
    h1 &#8238;401
    p &#8238;It appears that you are using a VPN/Proxy.
    br
    p &#8238;We require that all users use their base IP address for security reasons
    footer
      h3
        a(href="/") &#8238;Go Back Home