include ../defaults/mixins.pug
doctype html
html(lang="en")
  head
    +meta(0)
    +meta(1, 'viewport', 'width%e%device-width, initial-scale%e%1.0')
    +meta(3, 'X-UA-Compatible', "IE%e%edge")
    title= meta.title
    include ./errorcss.pug
  body
    h1 400
    p You have submitted a request incorrectly. Please try again.
    include ./defaults/return.pug