include ../mixins.pug
doctype html
html(lang="en")
  head
    +meta(0)
    +meta(1, 'viewport', 'width%e%device-width, initial-scale%e%1.0')
    +meta(3, 'X-UA-Compatible', "IE%e%edge")
    +canonical(meta.canonical)
    title= meta.title
    include ./errorcss.pug
  body
    h1= errData.code
    p It appears that you do not have access to this portion of the website.
    +3br()
    p Please contact the webmaster for more information.
    include ./defaults/return.pug