doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= meta.title
    include ./errorcss.pug
  body
    h1 401
    p It appears that you do not have access to this portion of the website.
      br
      br
      | Please contact the webmaster for more information.
    footer
      h3
        a(href="/") Go Back Home