include ../defaults/mixins.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= meta.title
    include ./errorcss.pug
  body
    h1= errData.code
    +p2br("You have been banned from accessing this website", "Please contact the webmaster for more information.", `Ban Reason: ${reasonText}`)
    include ./defaults/return.pug