include ../defaults/mixins.pug
doctype html
html(lang="en")
  head
    +meta(0)
    +meta(1, 'viewport', 'width%e%device-width, initial-scale%e%1.0')
    +meta(3, 'X-UA-Compatible', "IE%e%edge")
    title= meta.title
    include ./errorcss.pug
  body
    h1= errData.code
    +p2br("You have been banned from accessing this website", "Please contact the webmaster for more information.", `Ban Reason: ${reasonText}`)
    include ./defaults/return.pug