doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= meta.title
    include ./errorcss.pug
  body
    h1 405
    p Method not allowed. 
      br
      | Method used: 
      br
      strong= methodUsed
      br
      | Methods allowed: 
      br
      strong= allowedMethods
      br
      | Please use one of the methods allowed.
    footer
      h3
        a(href="/") Go Back Home