doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    include ./errorcss.pug
  body
    h1 429
    p Too many requests. You have been rate limited. Please remember that the rate limit is 10 requests per second.
    footer
      h3
        a(href="/") Go Back Home