include ../defaults/mixins.pug
doctype html
html(lang="en")
  head
    +meta(0)
    +meta(1, 'viewport', 'width%e%device-width, initial-scale%e%1.0')
    +meta(3, 'X-UA-Compatible', "IE%e%edge")
    title= meta.title
    include ./errorcss.pug
  body
    h1 501
    p An Error Occurred! Please contact the administrator #[a(href="mailto:support@thefemdevs.com") here] if the problem persists.
    include ./defaults/return.pug