doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= meta.title
    include ./errorcss.pug
  body
    h1 501
    p An Error Occurred! Please contact the administrator 
      a(href="mailto:support@thefemdevs.com") here
      |  if the problem persists.
    footer
      h3
        a(href="/") Go Back Home