include ../defaults/mixins.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include errorcss.pug
    title= meta.title
  body
    h1 451
    p It appears that this request has originated from a location that we do not allow service for due to legal reasons
    +3br()
    h2 List of denied locations
      ul
        li Democratic People's Republic of Korea / DPRK / North Korea
        li People's Republic of China / PRC / China 
        li Russia 
        li California, United States of America
    +3br()
    include ./defaults/return.pug