openapi: "3.0.0"
info:
  version: "1.2.0"
  title: "FemDevs API Documentation"
  description: "The documentation for the FemDevs API."
  contact:
    name: "FemDevs"
    url: "https://thefemdevs.com"
    email: "support@thefemdevs.com"
  license:
    name: "GNU Affero General Public License v3.0"
    identifier: "AGPL-3.0"
servers:
  - url: "https://thefemdevs.com/api/"
    description: "Production Server"
paths:
  /user/get:
    get:
      operationId: "GetUser"
      description: "Gets the user information for the user with the given ID. Returns the user information if the user exists, otherwise returns an error."
      summary: "Get User Info by ID"
      parameters:
        - in: "header"
          name: "x-user-id"
          description: "The ID of the user to get information for"
          schema:
            type: "string"
      responses:
        200:
          description: "The user information for the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitializedUserInfo"
              examples:
                user:
                  value:
                    id: 1
                    name: "FemDevs"
                    picture: "https://thefemdevs.com/assets/img/logo.png"
                    flags: 0
                    username: "FemDevs"
        400:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /user/update:
    patch:
      operationId: "UpdateUser"
      description: "Updates the user information for the user with the given ID. Returns the user information if the user exists, otherwise returns an error."
      summary: "Update User Info by ID"
      parameters:
        - in: "header"
          name: "x-user-id"
          description: "The ID of the user to get information for"
          schema:
            type: "string"
      requestBody:
        description: "The new user information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInfo"
            examples:
              user:
                value:
                  name: "FemDevs"
                  picture: "https://thefemdevs.com/assets/img/logo.png"
                  username: "FemDevs"
      responses:
        200:
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserUpdateData"
              examples:
                user:
                  value:
                    success: true
                    user:
                      id: 1
                      name: "FemDevs"
                      picture: "https://thefemdevs.com/assets/img/logo.png"
                      flags: 0
                      username: "FemDevs"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to find requested resource"
        500:
          description: "Unable to update user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 23
                    message: "Unable to update user"
      security:
        - APIToken: []
  /user/create:
    post:
      operationId: "CreateUser"
      description: "Creates a user using the provided information. Returns the user information if successful, otherwise returns an error."
      summary: "Create a User"
      requestBody:
        description: "The new user information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInfo"
            examples:
              user:
                value:
                  name: "FemDevs"
                  picture: "https://thefemdevs.com/assets/img/logo.png"
                  username: "FemDevs"
      responses:
        201:
          description: "The user information for the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InitializedUserInfo"
              examples:
                user:
                  value:
                    id: 1
                    name: "FemDevs"
                    picture: "https://thefemdevs.com/assets/img/logo.png"
                    flags: 0
                    username: "FemDevs"
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to find requested resource"
        500:
          description: "Unable to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to create user"
      security:
        - APIToken: []
  /user/delete:
    delete:
      operationId: "DeleteUser"
      description: "Deletes the user with the given ID. Returns `true if successful, otherwise returns an error."
      summary: "Delete User by ID"
      parameters:
        - in: "header"
          name: "x-user-id"
          description: "The ID of the user to get delete"
          schema:
            type: "string"
      responses:
        200:
          description: "The successful notification of the deletion"
          content:
            application/json:
              schema:
                type: "boolean"
              examples:
                user:
                  value: true
        403:
          description: "Unauthorized to delete user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to find requested resource"
        500:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 14
                    message: "Unable to delete requested resource"
      security:
        - APIToken: []
  /crypto/enc:
    get:
      operationId: "CryptographyEnc"
      description: "API Endpoint for encrypting data"
      summary: "Encryption Endpoint"
      parameters:
        - in: "query"
          name: "data"
          description: "The data to encrypt"
          schema:
            type: "string"
      responses:
        200:
          description: "The Encrypted Data"
          content:
            application/json:
              schema:
                type: "string"
              examples:
                data:
                  value: "Pc6W8_h9XSg8LVhZ8yAP4vtui0sJIMNmC_E18ee9JBQyEmBPLZBDz5Jx745u31Pbr2EkS9Z2S8oFB02uwzpWtt3PH48HE-Wj27VkpvV1glrpZ0f_cW0Ema-gT-6S675xCgb9cy0ZTx3rH-kzuVZXaOwrMjMJTVe7ZpyH8zyUNHnDo0xvkhq9Z523azZm1mq1rcJWMJl8iCuZc6TQp5E2-4xiAZF59ZCZyQCtzxryPzX6aR5ENBvBVdkOaNWtmjWc9ZM5Ni9PXc2cVGbi5IDo6RvX5KuU2DUvGpIKvf15xLptPXZPLNtU4syXjXI4vA03EpV1-Dqs6H7FrtXLAu9M5Q7NxaSxynr4oyJC7CzIXJtJVUwrFN9I-zSJCcR9rE90XzolaWICUjfhSkMtPBTkr_ibNFcyPhG-oaMPGuc1Hb8gJzEDDtWTGPZdV2rbGJIw3XBi_h80fj8F_DQujSGsbo2DmBwSF-PZtKG5WHK9cf3rWCIxF1Sc5Hhkd-HnhrFrSv30Kjvede88MmofhchsS9cEn4eFF7rfj35blLBxGKBKzhS0k_k7FWQznK6J24lfUR_Gtkz3IJlTcqQN-ixucjHdI58xheVETAg_PkK3KZIwgabxQRSz96JUANyEPIPdodIF2f4PpEMomjYp8mCc_0F26uUSgsm9_LcJvC9oNZU"
        400:
          description: "Error With Encryption"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                no-data:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        500:
          description: "Error With Encryption"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 10
                    message: "Unable to encrypt data"
      security:
        - APIToken: []
  /crypto/dec:
    get:
      operationId: "CryptographyDecr"
      description: "API Endpoint for decrypting data"
      summary: "Decryption Endpoint"
      parameters:
        - in: "query"
          name: "data"
          description: "The data to decrypt"
          schema:
            type: "string"
      responses:
        200:
          description: "The Decrypted Data"
          content:
            application/json:
              schema:
                type: "string"
              examples:
                data:
                  value: "testing"
        400:
          description: "Error with Decryption"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                no-data:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        500:
          description: "Error with Decryption"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 11
                    message: "Unable to decrypt data"
      security:
        - APIToken: []
components:
  securitySchemes:
    APIToken:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      name: "Authorization"
      description: "JSON Web Token Authentication with information containing your license key"
  schemas:
    UserInfo:
      required:
        - name
        - picture
        - username
      properties:
        name:
          nullable: false
          type: "string"
          description: "The name of the user"
        picture:
          nullable: false
          type: "string"
          description: "The picture URL of the user"
        username:
          nullable: false
          type: "string"
          description: "The username of the user"
    InitalizedUserInfo:
      allOf:
        - $ref: "#/components/schemas/UserInfo"
        - type: "object"
          required:
            - id
            - flags
          properties:
            id:
              nullable: false
              type: "integer"
              description: "The ID of the user"
            flags:
              nullable: false
              type: "integer"
              description: "The flags of the user"
    ErrorData:
      required:
        - code
        - message
      properties:
        code:
          nullable: false
          type: "integer"
          description: "The error code"
        message:
          nullable: false
          type: "string"
          description: "The error message"
    UserUpdateData:
      required:
        - user
      properties:
        user:
          nullable: false
          type: "object"
          $ref: "#/components/schemas/InitializedUserInfo"
          description: "The user information"
    TokenCreationResponse:
      required:
        - token
        - license
      properties:
        token:
          nullable: false
          type: "string"
          description: "The token that was created"
        license:
          nullable: false
          type: "string"
          description: "The license thats associated with the token"
    TokenDeletionResponse:
      required:
        - message
      properties:
        message:
          nullable: false
          type: "string"
          description: "The message that was returned"
    TokenData:
      required:
        - license
        - token
        - associatedFirebaseUID
        - username
      properties:
        license:
          nullable: false
          type: "string"
          description: "The license that the token is associated with"
        token:
          nullable: false
          type: "string"
          description: "The token"
        associatedFirebaseUID:
          nullable: false
          type: "string"
          description: "The Firebase UID that the token is associated with"
        username:
          nullable: false
          type: "string"
          description: "The username that the token is associated with"
    TokenListResponse:
      required:
        - tokens
      properties:
        tokens:
          nullable: false
          type: "array"
          items:
            $ref: "#/components/schemas/TokenData"
          description: "The list of tokens"
