openapi: "3.0.0"
info:
  version: "1.2.1"
  title: "FemDevs API Documentation"
  description: "The documentation for the FemDevs API."
  contact:
    name: "FemDevs"
    url: "https://thefemdevs.com"
    email: "support@thefemdevs.com"
  license:
    name: "GNU Affero General Public License v3.0"
    identifier: "AGPL-3.0"
servers:
  - url: "https://thefemdevs.com/api/"
    description: "Production Server"
paths:
  /user/get:
    get:
      operationId: "GetUser"
      description: "Gets the user information for the user with the given ID. Returns the user information if the user exists, otherwise returns an error."
      summary: "Get User Info by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get information for"
          schema:
            type: string
      responses:
        200:
          description: "The user information for the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserInfoResponse"
              examples:
                user:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    username: "JohnDoe0001"
                    fullName: "John Doe"
                    email: "example@example.com"
                    permissions: 0
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /user/update:
    patch:
      operationId: "UpdateUser"
      description: "Updates the user information for the user with the given ID. Returns the user information if the user exists, otherwise returns an error."
      summary: "Update User Info by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get information for"
          schema:
            type: string
      requestBody:
        description: "The new user information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserInfo"
            examples:
              displayname:
                value:
                  displayname: "newDisplayName"
              email:
                value:
                  email: "newEmail@example.com"
              password:
                value:
                  password: "newPassword"
              perms:
                value:
                  perms: 1
      responses:
        200:
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserInfoResponse"
              examples:
                displayname:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "newDisplayName"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                email:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "newEmail@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                password:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                perms:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 1
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to find requested resource"
        500:
          description: "Unable to update user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 23
                    message: "Unable to update user"
      security:
        - APIToken: []
  /user/create:
    post:
      operationId: "CreateUser"
      description: "Creates a user using the provided information. Returns the user information if successful, otherwise returns an error."
      summary: "Create a User"
      requestBody:
        description: "The new user information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserInfo"
            examples:
              user:
                value:
                  username: "JohnDoe0001"
                  firstname: "John"
                  lastname: "Doe"
                  email: "example@example.com"
                  password: "ARandomPassword"
      responses:
        201:
          description: "The user information for the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserInfoResponse"
              examples:
                user:
                  value:
                    user:
                      uid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      email: "example@example.com"
                      emailVerified: false
                      displayName: "JohnDoe0001"
                      disabled: false
                      metadata:
                        lastSignInTime: "null"
                        creationTime: "Sat, 23 Sep 2023 16:06:10 GMT"
                        lastRefreshTime: "null"
                      tokensValidAfterTime: "Sat, 23 Sep 2023 16:06:10 GMT"
                      providerData:
                        - uid: "example@example.com"
                          displayName: "JohnDoe0001"
                          email: "example@example.com"
                          providerId: "password"
                    username: "JohnDoe0001"
                    fullName: "John Doe"
                    email: "example@example.com"
                    permissions: 0
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
                  
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
        500:
          description: "Unable to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to create user"
      security:
        - APIToken: []
  /user/delete:
    delete:
      operationId: "DeleteUser"
      description: "Deletes the user with the given ID. Returns `true if successful, otherwise returns an error."
      summary: "Delete User by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get delete"
          schema:
            type: string
      responses:
        200:
          description: "The successful notification of the deletion"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUserInfoResponse"
              examples:
                deleted:
                  value:
                    uid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    deleted: true
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        403:
          description: "Unauthorized to delete user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to find requested resource"
        500:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 14
                    message: "Unable to delete requested resource"
      security:
        - APIToken: []
  /crypto/enc:
    get:
      operationId: "CryptographyEnc"
      description: "API Endpoint for encrypting data"
      summary: "Encryption Endpoint"
      parameters:
        - in: "query"
          name: "data"
          description: "The data to encrypt"
          schema:
            type: string
      responses:
        200:
          description: "The Encrypted Data"
          content:
            application/json:
              schema:
                type: string
              examples:
                data:
                  value: "Pc6W8_h9XSg8LVhZ8yAP4vtui0sJIMNmC_E18ee9JBQyEmBPLZBDz5Jx745u31Pbr2EkS9Z2S8oFB02uwzpWtt3PH48HE-Wj27VkpvV1glrpZ0f_cW0Ema-gT-6S675xCgb9cy0ZTx3rH-kzuVZXaOwrMjMJTVe7ZpyH8zyUNHnDo0xvkhq9Z523azZm1mq1rcJWMJl8iCuZc6TQp5E2-4xiAZF59ZCZyQCtzxryPzX6aR5ENBvBVdkOaNWtmjWc9ZM5Ni9PXc2cVGbi5IDo6RvX5KuU2DUvGpIKvf15xLptPXZPLNtU4syXjXI4vA03EpV1-Dqs6H7FrtXLAu9M5Q7NxaSxynr4oyJC7CzIXJtJVUwrFN9I-zSJCcR9rE90XzolaWICUjfhSkMtPBTkr_ibNFcyPhG-oaMPGuc1Hb8gJzEDDtWTGPZdV2rbGJIw3XBi_h80fj8F_DQujSGsbo2DmBwSF-PZtKG5WHK9cf3rWCIxF1Sc5Hhkd-HnhrFrSv30Kjvede88MmofhchsS9cEn4eFF7rfj35blLBxGKBKzhS0k_k7FWQznK6J24lfUR_Gtkz3IJlTcqQN-ixucjHdI58xheVETAg_PkK3KZIwgabxQRSz96JUANyEPIPdodIF2f4PpEMomjYp8mCc_0F26uUSgsm9_LcJvC9oNZU"
        400:
          description: "Error With Encryption (Client Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                no-data:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        500:
          description: "Error With Encryption (Server Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 10
                    message: "Unable to encrypt data"
      security:
        - APIToken: []
  /crypto/dec:
    get:
      operationId: "CryptographyDecr"
      description: "API Endpoint for decrypting data"
      summary: "Decryption Endpoint"
      parameters:
        - in: "query"
          name: "data"
          description: "The data to decrypt"
          schema:
            type: string
      responses:
        200:
          description: "The Decrypted Data"
          content:
            application/json:
              schema:
                type: string
              examples:
                data:
                  value: "testing"
        400:
          description: "Error with Decryption (Client Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                no-data:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        500:
          description: "Error with Decryption (Server Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 11
                    message: "Unable to decrypt data"
      security:
        - APIToken: []
  /token/create:
    post:
      operationId: "CreateToken"
      description: "Creates a token using the provided information. Returns the token information if successful, otherwise returns an error."
      summary: "Create a Token"
      requestBody:
        description: "The new token information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenCreationRequestBody"
            examples:
              token:
                value:
                  firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
      responses:
        201:
          description: "The information on the generated token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenCreationResponse"
              examples:
                token:
                  tokenData:
                    license: "1234-5678-9012-3456"
                    token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
                  
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
        500:
          description: "Unable to create token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "Misc Error"
      security:
        - APIToken: []
  /token/delete:
    delete:
      operationId: "DeleteToken"
      description: "Deletes the given token. Returns `true` if successful, otherwise returns an error."
      summary: "Delete Token"
      parameters:
        - in: "query"
          name: "token"
          description: "The token to delete"
          schema:
            type: string
      responses:
        200:
          description: "The successful notification of the deletion"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenDeletionResponse"
              examples:
                deleted:
                  value:
                    message: "Token deleted successfully"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
                  
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /token/list:
    get:
      operationId: "ListTokens"
      description: "Lists all API keys along with the information associated with it. Returns the list of tokens if successful, otherwise returns an error."
      summary: "List Tokens"
      responses:
        200:
          description: "The list of tokens"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTokenResponse"
              examples:
                tokens:
                  value:
                    - license: "1234-5678-9012-3456"
                      token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                      associatedFirebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      username: "JohnDoe0001"
                    - license: "1234-5678-9012-3456"
                      token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                      associatedFirebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      username: "JohnDoe0001"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
                  
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        500:
          description: "Unable to list tokens"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "Misc Error"
      security:
        - APIToken: []
  /token/info:
    get:
      operationId: "GetTokenInfo"
      description: "Gets the token information for the given token. Returns the token information if the token exists, otherwise returns an error."
      summary: "Get Token Info"
      parameters:
        - in: "query"
          name: "token"
          description: "The token to get information for"
          schema:
            type: string
      responses:
        200:
          description: "The token information for the given token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenInfoResponse"
              examples:
                token:
                  value:
                    license: "1234-5678-9012-3456"
                    token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                    associatedFirebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    username: "JohnDoe0001"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"               
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
        500:
          description: "Unable to get token information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "Misc Error"
      security:
        - APIToken: []
  /minecraft/hive/player:
    get:
      operationId: "GetHivePlayer"
      description: "Gets the player information for the given username. Returns the player information if the player exists, otherwise returns an error."
      summary: "Get Hive Player Info"
      parameters:
        - in: "header"
          name: "x-user"
          description: "The Minecraft username of the player to get information for"
          schema:
            type: string
      responses:
        200:
          description: "The player information for the given username"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinecraftHivePlayerCombinedData"
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-User:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)" 
        404:
          description: "Error with the given username"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /minecraft/hive/maps:
    get:
      operationId: "GetHiveMaps"
      description: "Gets the list of maps for the given game. Returns the list of maps if the game exists, otherwise returns an error."
      summary: "Get Hive Maps"
      parameters:
        - in: "header"
          name: "x-game"
          description: "The game to get maps for"
          schema:
            type: string
      responses:
        200:
          description: "The list of maps for the given game"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/MinecraftHiveURLDataObj"
        400:
          description: "Missing game information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Game:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Game:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given game"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /dictionary/def:
    get:
      operationId: "GetDictionaryDefinition"
      description: "Gets the definition for the given word. Returns the definition if the word exists, otherwise returns an error."
      summary: "Get Dictionary Definition"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the definition for"
          schema:
            type: string
      responses:
        200:
          description: "The definition for the given word"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Word:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /dictionary/syn:
    get:
      operationId: "GetDictionarySynonyms"
      description: "Gets the synonyms for the given word. Returns the synonyms if the word exists, otherwise returns an error."
      summary: "Get Dictionary Synonyms"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the synonyms for"
          schema:
            type: string
      responses:
        200:
          description: "The synonyms for the given word"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Word:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /dictionary/ant:
    get:
      operationId: "GetDictionaryAntonyms"
      description: "Gets the antonyms for the given word. Returns the antonyms if the word exists, otherwise returns an error."
      summary: "Get Dictionary Antonyms"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the antonyms for"
          schema:
            type: string
      responses:
        200:
          description: "The antonyms for the given word"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Word:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /facts/dog:
    get:
      operationId: "GetDogFact"
      description: "Gets a random dog fact. Returns the fact if successful, otherwise returns an error."
      summary: "Get Dog Fact"
      responses:
        200:
          description: "The dog fact"
          content:
            application/json:
              schema:
                type: string
  /facts/cat:
    get:
      operationId: "GetCatFact"
      description: "Gets a random cat fact. Returns the fact if successful, otherwise returns an error."
      summary: "Get Cat Fact"
      responses:
        200:
          description: "The cat fact"
          content:
            application/json:
              schema:
                type: string
  /facts/random:
    get:
      operationId: "GetRandomFact"
      description: "Gets a random fact. Returns the fact if successful, otherwise returns an error."
      summary: "Get Random Fact"
      responses:
        200:
          description: "The random fact"
          content:
            application/json:
              schema:
                type: string
  /location/coords:
    get:
      operationId: "GetLocationByCoords"
      description: "Gets the location for the given coordinates. Returns the location if successful, otherwise returns an error."
      summary: "Get Location By Coordinates"
      parameters:
        - in: "header"
          name: "x-coordpair"
          description: "The coordinates to get the location for"
          schema:
            type: string
      responses:
        200:
          description: "The location for the given coordinates"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing coordinates information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Coordinates:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Coordinates:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given coordinates"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /location/pluscode:
    get:
      operationId: "GetLocationByPlusCode"
      description: "Gets the location for the given plus code. Returns the location if successful, otherwise returns an error."
      summary: "Get Location By Plus Code"
      parameters:
        - in: "header"
          name: "x-pluscode"
          description: "The pluscode"
          schema:
            type: string
      responses:
        200:
          description: "The location for the given pluscode"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing pluscode information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Pluscode:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Pluscode:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given pluscode"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /location/address:
    get:
      operationId: "GetLocationByAddress"
      description: "Gets the location for the given address. Returns the location if successful, otherwise returns an error."
      summary: "Get Location By Address"
      parameters:
        - in: "header"
          name: "x-address"
          description: "The address to get the location for"
          schema:
            type: string
      responses:
        200:
          description: "The location for the given address"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing address information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Address:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Address:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given address"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /phone/details:
    get:
      operationId: "GetPhoneDetails"
      description: "Gets the details for the given phone number. Returns the details if successful, otherwise returns an error."
      summary: "Get Phone Details"
      parameters:
        - in: "header"
          name: "x-number"
          description: "The phone number to get the details for"
          schema:
            type: string
      responses:
        200:
          description: "The details for the given phone number"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumberData"
              examples:
                details:
                  value:
                    status: "success"
                    phone: "+15179029616"
                    phone_valid: true
                    phone_type: "fixed_line_or_mobile"
                    phone_region: "Michigan"
                    country: "United States"
                    country_code: "US"
                    country_prefix: '1'
                    international_number: "+1 517-902-9616"
                    local_number: "(517) 902-9616"
                    e164: "+15179029616"
                    carrier: ''
        400:
          description: "Missing phone number information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Phone:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Phone:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given phone number"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /quotes/kanye:
    get:
      operationId: "GetKanyeQuote"
      description: "Gets a random Kanye West quote. Returns the quote if successful, otherwise returns an error."
      summary: "Get Kanye Quote"
      responses:
        200:
          description: "The Kanye West quote"
          content:
            application/json:
              schema:
                type: string
  /quotes/ronswanson:
    get:
      operationId: "GetRonSwansonQuote"
      description: "Gets a random Ron Swanson quote. Returns the quote if successful, otherwise returns an error."
      summary: "Get Ron Swanson Quote"
      responses:
        200:
          description: "The Ron Swanson quote"
          content:
            application/json:
              schema:
                type: string
  /quotes/random:
    get:
      operationId: "GetRandomQuote"
      description: "Gets a random quote. Returns the quote if successful, otherwise returns an error."
      summary: "Get Random Quote"
      responses:
        200:
          description: "The random quote"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteData"
              examples:
                quote:
                  value:
                    quote: "The best way to predict the future is to create it."
                    author: "Abraham Lincoln"
  /weather/current:
    get:
      operationId: "GetCurrentWeather"
      description: "Gets the current weather for the given location. Returns the weather if successful, otherwise returns an error."
      summary: "Get Current Weather"
      parameters:
        - in: "header"
          name: "x-city"
          description: "The city to get the weather for"
          schema:
            type: string
        - in: "header"
          name: "x-coords"
          description: "The coordinates to get the weather for"
          schema:
            type: string
      responses:
        200:
          description: "The weather for the given location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherData"
              examples:
                WashingtonDC:
                  value:
                    coord:
                      lon: -77.0369
                      lat: 38.9072
                    weather:
                    - id: 803
                      main: 'Clouds'
                      description: 'broken clouds'
                      icon: '04d'
                    base: 'stations'
                    main:
                      temp: 63.32
                      feels_like: 62.83
                      temp_min: 60.82
                      temp_max: 66.13
                      pressure: 1026
                      humidity: 74
                    visibility: 10000
                    wind:
                      speed: 11.5
                      deg: 20
                    clouds:
                      all: 75
                    dt: 1695829210
                    sys:
                      type: 2
                      id: 2084333
                      country: 'US'
                      sunrise: 1695812403
                      sunset: 1695855499
                    timezone: -14400
                    id: 4140963
                    name: 'Washington D.C.'
                    cod: 200
        400:
          description: "Missing location information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Location:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                Invalid-Location:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        404:
          description: "Error with the given location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
  /weather/forecast:
    get:
      operationId: "GetWeatherForecast"
      description: "Gets the weather forecast for the given location. Returns the forecast if successful, otherwise returns an error."
      summary: "Get Weather Forecast"
      parameters:
        - in: "header"
          name: "x-city"
          description: "The city to get the weather for"
          schema:
            type: string
        - in: "header"
          name: "x-coords"
          description: "The coordinates to get the weather for"
          schema:
            type: string
      responses:
        200:
          description: "The weather forecast for the given location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherForecastData"
              examples:
                WashingtonDC:
                  value:
                    cod: '200'
                    message: 0
                    cnt: 40
                    list:
                    - dt: 1695837600
                      main:
                        temp: 65.35
                        feels_like: 64.65
                        temp_min: 65.35
                        temp_max: 69.01
                        pressure: 1025
                        sea_level: 1025
                        grnd_level: 1022
                        humidity: 65
                        temp_kf: -2.03
                      weather:
                      - id: 803
                        main: Clouds
                        description: broken clouds
                        icon: 04d
                      clouds:
                        all: 65
                      wind:
                        speed: 8.63
                        deg: 74
                        gust: 9.86
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-27 18:00:00'
                    - dt: 1695848400
                      main:
                        temp: 66.45
                        feels_like: 65.52
                        temp_min: 66.45
                        temp_max: 67.93
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1020
                        humidity: 58
                        temp_kf: -0.82
                      weather:
                      - id: 802
                        main: Clouds
                        description: scattered clouds
                        icon: 03d
                      clouds:
                        all: 28
                      wind:
                        speed: 7.85
                        deg: 79
                        gust: 10.02
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-27 21:00:00'
                    - dt: 1695859200
                      main:
                        temp: 60.71
                        feels_like: 59.63
                        temp_min: 60.71
                        temp_max: 60.71
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1021
                        humidity: 67
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 8
                      wind:
                        speed: 4.56
                        deg: 94
                        gust: 13.42
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-28 00:00:00'
                    - dt: 1695870000
                      main:
                        temp: 57.49
                        feels_like: 56.61
                        temp_min: 57.49
                        temp_max: 57.49
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1021
                        humidity: 78
                        temp_kf: 0
                      weather:
                      - id: 802
                        main: Clouds
                        description: scattered clouds
                        icon: 03n
                      clouds:
                        all: 32
                      wind:
                        speed: 4.43
                        deg: 79
                        gust: 13.38
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-28 03:00:00'
                    - dt: 1695880800
                      main:
                        temp: 55.81
                        feels_like: 55
                        temp_min: 55.81
                        temp_max: 55.81
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1021
                        humidity: 83
                        temp_kf: 0
                      weather:
                      - id: 802
                        main: Clouds
                        description: scattered clouds
                        icon: 03n
                      clouds:
                        all: 36
                      wind:
                        speed: 4.83
                        deg: 46
                        gust: 13.38
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-28 06:00:00'
                    - dt: 1695891600
                      main:
                        temp: 54.88
                        feels_like: 54.16
                        temp_min: 54.88
                        temp_max: 54.88
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1021
                        humidity: 87
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 4
                      wind:
                        speed: 5.5
                        deg: 41
                        gust: 15.95
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-28 09:00:00'
                    - dt: 1695902400
                      main:
                        temp: 56.39
                        feels_like: 55.54
                        temp_min: 56.39
                        temp_max: 56.39
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1021
                        humidity: 81
                        temp_kf: 0
                      weather:
                      - id: 801
                        main: Clouds
                        description: few clouds
                        icon: 02d
                      clouds:
                        all: 20
                      wind:
                        speed: 5.7
                        deg: 35
                        gust: 15.23
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-28 12:00:00'
                    - dt: 1695913200
                      main:
                        temp: 62.98
                        feels_like: 62.26
                        temp_min: 62.98
                        temp_max: 62.98
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1022
                        humidity: 70
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 93
                      wind:
                        speed: 5.75
                        deg: 64
                        gust: 8.55
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-28 15:00:00'
                    - dt: 1695924000
                      main:
                        temp: 67.86
                        feels_like: 67.3
                        temp_min: 67.86
                        temp_max: 67.86
                        pressure: 1023
                        sea_level: 1023
                        grnd_level: 1020
                        humidity: 63
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 97
                      wind:
                        speed: 5.35
                        deg: 77
                        gust: 6.46
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-28 18:00:00'
                    - dt: 1695934800
                      main:
                        temp: 65.25
                        feels_like: 64.94
                        temp_min: 65.25
                        temp_max: 65.25
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 74
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 100
                      wind:
                        speed: 6.62
                        deg: 80
                        gust: 9.64
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-28 21:00:00'
                    - dt: 1695945600
                      main:
                        temp: 63.21
                        feels_like: 63.03
                        temp_min: 63.21
                        temp_max: 63.21
                        pressure: 1023
                        sea_level: 1023
                        grnd_level: 1020
                        humidity: 81
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 100
                      wind:
                        speed: 5.01
                        deg: 60
                        gust: 16.02
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-29 00:00:00'
                    - dt: 1695956400
                      main:
                        temp: 62.83
                        feels_like: 62.91
                        temp_min: 62.83
                        temp_max: 62.83
                        pressure: 1023
                        sea_level: 1023
                        grnd_level: 1020
                        humidity: 87
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 100
                      wind:
                        speed: 5.06
                        deg: 63
                        gust: 13.67
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-29 03:00:00'
                    - dt: 1695967200
                      main:
                        temp: 61.99
                        feels_like: 62.08
                        temp_min: 61.99
                        temp_max: 61.99
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 89
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 100
                      wind:
                        speed: 4.7
                        deg: 33
                        gust: 12.48
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-29 06:00:00'
                    - dt: 1695978000
                      main:
                        temp: 61.86
                        feels_like: 61.79
                        temp_min: 61.86
                        temp_max: 61.86
                        pressure: 1021
                        sea_level: 1021
                        grnd_level: 1018
                        humidity: 86
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 100
                      wind:
                        speed: 5.1
                        deg: 25
                        gust: 13.82
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-29 09:00:00'
                    - dt: 1695988800
                      main:
                        temp: 61.95
                        feels_like: 61.93
                        temp_min: 61.95
                        temp_max: 61.95
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 87
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 100
                      wind:
                        speed: 5.37
                        deg: 356
                        gust: 13.31
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-29 12:00:00'
                    - dt: 1695999600
                      main:
                        temp: 66.81
                        feels_like: 66.87
                        temp_min: 66.81
                        temp_max: 66.81
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 78
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 100
                      wind:
                        speed: 6.85
                        deg: 30
                        gust: 11.77
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-29 15:00:00'
                    - dt: 1696010400
                      main:
                        temp: 69.24
                        feels_like: 69.3
                        temp_min: 69.24
                        temp_max: 69.24
                        pressure: 1021
                        sea_level: 1021
                        grnd_level: 1018
                        humidity: 73
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 100
                      wind:
                        speed: 7.63
                        deg: 45
                        gust: 11.3
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-29 18:00:00'
                    - dt: 1696021200
                      main:
                        temp: 67.84
                        feels_like: 67.89
                        temp_min: 67.84
                        temp_max: 67.84
                        pressure: 1020
                        sea_level: 1020
                        grnd_level: 1018
                        humidity: 76
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 98
                      wind:
                        speed: 8.34
                        deg: 46
                        gust: 12.86
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-29 21:00:00'
                    - dt: 1696032000
                      main:
                        temp: 64.63
                        feels_like: 64.8
                        temp_min: 64.63
                        temp_max: 64.63
                        pressure: 1021
                        sea_level: 1021
                        grnd_level: 1018
                        humidity: 85
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 99
                      wind:
                        speed: 6.13
                        deg: 29
                        gust: 16.64
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-30 00:00:00'
                    - dt: 1696042800
                      main:
                        temp: 63.79
                        feels_like: 63.95
                        temp_min: 63.79
                        temp_max: 63.79
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 87
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 100
                      wind:
                        speed: 6.42
                        deg: 20
                        gust: 15.59
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-30 03:00:00'
                    - dt: 1696053600
                      main:
                        temp: 62.98
                        feels_like: 63.07
                        temp_min: 62.98
                        temp_max: 62.98
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 87
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 100
                      wind:
                        speed: 6.62
                        deg: 22
                        gust: 15.86
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-30 06:00:00'
                    - dt: 1696064400
                      main:
                        temp: 62.74
                        feels_like: 62.71
                        temp_min: 62.74
                        temp_max: 62.74
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 85
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 100
                      wind:
                        speed: 5.93
                        deg: 21
                        gust: 16.96
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-09-30 09:00:00'
                    - dt: 1696075200
                      main:
                        temp: 62.71
                        feels_like: 62.53
                        temp_min: 62.71
                        temp_max: 62.71
                        pressure: 1023
                        sea_level: 1023
                        grnd_level: 1020
                        humidity: 82
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 98
                      wind:
                        speed: 5.77
                        deg: 16
                        gust: 16.49
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-30 12:00:00'
                    - dt: 1696086000
                      main:
                        temp: 70.43
                        feels_like: 70.03
                        temp_min: 70.43
                        temp_max: 70.43
                        pressure: 1023
                        sea_level: 1023
                        grnd_level: 1021
                        humidity: 61
                        temp_kf: 0
                      weather:
                      - id: 803
                        main: Clouds
                        description: broken clouds
                        icon: 04d
                      clouds:
                        all: 64
                      wind:
                        speed: 7.45
                        deg: 21
                        gust: 10.2
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-30 15:00:00'
                    - dt: 1696096800
                      main:
                        temp: 74.77
                        feels_like: 74.44
                        temp_min: 74.77
                        temp_max: 74.77
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 53
                        temp_kf: 0
                      weather:
                      - id: 803
                        main: Clouds
                        description: broken clouds
                        icon: 04d
                      clouds:
                        all: 55
                      wind:
                        speed: 8.68
                        deg: 44
                        gust: 12.17
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-30 18:00:00'
                    - dt: 1696107600
                      main:
                        temp: 70.93
                        feels_like: 70.68
                        temp_min: 70.93
                        temp_max: 70.93
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 63
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04d
                      clouds:
                        all: 92
                      wind:
                        speed: 8.39
                        deg: 78
                        gust: 12.59
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-09-30 21:00:00'
                    - dt: 1696118400
                      main:
                        temp: 65.3
                        feels_like: 64.92
                        temp_min: 65.3
                        temp_max: 65.3
                        pressure: 1023
                        sea_level: 1023
                        grnd_level: 1021
                        humidity: 72
                        temp_kf: 0
                      weather:
                      - id: 804
                        main: Clouds
                        description: overcast clouds
                        icon: 04n
                      clouds:
                        all: 87
                      wind:
                        speed: 3.89
                        deg: 72
                        gust: 11.23
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-10-01 00:00:00'
                    - dt: 1696129200
                      main:
                        temp: 61.65
                        feels_like: 61.18
                        temp_min: 61.65
                        temp_max: 61.65
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1021
                        humidity: 78
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 0
                      wind:
                        speed: 3.67
                        deg: 36
                        gust: 10.16
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-10-01 03:00:00'
                    - dt: 1696140000
                      main:
                        temp: 60.13
                        feels_like: 59.61
                        temp_min: 60.13
                        temp_max: 60.13
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1022
                        humidity: 80
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 1
                      wind:
                        speed: 3.8
                        deg: 30
                        gust: 9.78
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-10-01 06:00:00'
                    - dt: 1696150800
                      main:
                        temp: 58.68
                        feels_like: 57.87
                        temp_min: 58.68
                        temp_max: 58.68
                        pressure: 1024
                        sea_level: 1024
                        grnd_level: 1021
                        humidity: 77
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 0
                      wind:
                        speed: 4.29
                        deg: 4
                        gust: 11.01
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-10-01 09:00:00'
                    - dt: 1696161600
                      main:
                        temp: 59.02
                        feels_like: 57.87
                        temp_min: 59.02
                        temp_max: 59.02
                        pressure: 1025
                        sea_level: 1025
                        grnd_level: 1022
                        humidity: 69
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01d
                      clouds:
                        all: 0
                      wind:
                        speed: 4.12
                        deg: 340
                        gust: 11.21
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-10-01 12:00:00'
                    - dt: 1696172400
                      main:
                        temp: 71.42
                        feels_like: 70.66
                        temp_min: 71.42
                        temp_max: 71.42
                        pressure: 1025
                        sea_level: 1025
                        grnd_level: 1022
                        humidity: 51
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01d
                      clouds:
                        all: 0
                      wind:
                        speed: 4.92
                        deg: 12
                        gust: 8.99
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-10-01 15:00:00'
                    - dt: 1696183200
                      main:
                        temp: 78.55
                        feels_like: 78.31
                        temp_min: 78.55
                        temp_max: 78.55
                        pressure: 1023
                        sea_level: 1023
                        grnd_level: 1020
                        humidity: 47
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01d
                      clouds:
                        all: 1
                      wind:
                        speed: 6.04
                        deg: 4
                        gust: 10.96
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-10-01 18:00:00'
                    - dt: 1696194000
                      main:
                        temp: 78.91
                        feels_like: 78.91
                        temp_min: 78.91
                        temp_max: 78.91
                        pressure: 1021
                        sea_level: 1021
                        grnd_level: 1018
                        humidity: 48
                        temp_kf: 0
                      weather:
                      - id: 801
                        main: Clouds
                        description: few clouds
                        icon: 02d
                      clouds:
                        all: 12
                      wind:
                        speed: 6.64
                        deg: 10
                        gust: 10.87
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-10-01 21:00:00'
                    - dt: 1696204800
                      main:
                        temp: 68.99
                        feels_like: 68.92
                        temp_min: 68.99
                        temp_max: 68.99
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 71
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 10
                      wind:
                        speed: 2.66
                        deg: 17
                        gust: 4.12
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-10-02 00:00:00'
                    - dt: 1696215600
                      main:
                        temp: 66.33
                        feels_like: 66.18
                        temp_min: 66.33
                        temp_max: 66.33
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 75
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 0
                      wind:
                        speed: 3.06
                        deg: 357
                        gust: 3.89
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-10-02 03:00:00'
                    - dt: 1696226400
                      main:
                        temp: 64.18
                        feels_like: 64.06
                        temp_min: 64.18
                        temp_max: 64.18
                        pressure: 1021
                        sea_level: 1021
                        grnd_level: 1018
                        humidity: 80
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 0
                      wind:
                        speed: 3.98
                        deg: 352
                        gust: 7.23
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-10-02 06:00:00'
                    - dt: 1696237200
                      main:
                        temp: 62.24
                        feels_like: 62.15
                        temp_min: 62.24
                        temp_max: 62.24
                        pressure: 1021
                        sea_level: 1021
                        grnd_level: 1019
                        humidity: 85
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01n
                      clouds:
                        all: 0
                      wind:
                        speed: 4.18
                        deg: 358
                        gust: 9.04
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: n
                      dt_txt: '2023-10-02 09:00:00'
                    - dt: 1696248000
                      main:
                        temp: 62.98
                        feels_like: 62.92
                        temp_min: 62.98
                        temp_max: 62.98
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 84
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01d
                      clouds:
                        all: 0
                      wind:
                        speed: 3.36
                        deg: 4
                        gust: 9.44
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-10-02 12:00:00'
                    - dt: 1696258800
                      main:
                        temp: 74.91
                        feels_like: 74.79
                        temp_min: 74.91
                        temp_max: 74.91
                        pressure: 1022
                        sea_level: 1022
                        grnd_level: 1019
                        humidity: 57
                        temp_kf: 0
                      weather:
                      - id: 800
                        main: Clear
                        description: clear sky
                        icon: 01d
                      clouds:
                        all: 1
                      wind:
                        speed: 4.41
                        deg: 14
                        gust: 7.65
                      visibility: 10000
                      pop: 0
                      sys:
                        pod: d
                      dt_txt: '2023-10-02 15:00:00'
                    city:
                      id: 4140963
                      name: Washington D.C.
                      coord:
                        lat: 38.9072
                        lon: -77.0369
                      country: US
                      population: 601723
                      timezone: -14400
                      sunrise: 1695812403
                      sunset: 1695855499
        400:
          description: "Invalid request body"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                missingRequest:
                  value:
                    message: "Missing request param(s)"
                    code: 4
                invalidRequest:
                  value:
                    message: "Invalid request param(s)"
                    code: 5
        404:
          description: "Data not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                userNotFound:
                  value:
                    message: "Resource not found"
                    code: 13
components:
  securitySchemes:
    APIToken:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      name: "Authorization"
      description: "JSON Web Token Authentication with information containing your license key"
  schemas:
    FirebaseProviderData:
      required:
        - uid
        - displayName
        - email
        - providerId
      properties:
        uid:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        displayName:
          nullable: false
          type: string
          description: "The display name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        providerId:
          nullable: false
          type: string
          description: "The provider ID of the user"
    FirebaseMetadata:
      required:
        - lastSignInTime
        - creationTime
        - lastRefreshTime
      properties:
        lastSignInTime:
          nullable: false
          type: string
          description: "The last sign in time of the user"
        creationTime:
          nullable: false
          type: string
          description: "The creation time of the user"
        lastRefreshTime:
          nullable: false
          type: string
          description: "The last refresh time of the user"
    CreatedFirebaseUser:
      required:
        - uid
        - displayName
        - email
        - emailVerified
        - phoneNumber
        - photoURL
        - disabled
        - metadata
        - providerData
      properties:
        uid:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        displayName:
          nullable: false
          type: string
          description: "The display name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        emailVerified:
          nullable: false
          type: boolean
          description: "Whether or not the email is verified"
        phoneNumber:
          nullable: false
          type: string
          description: "The phone number of the user"
        photoURL:
          nullable: false
          type: string
          description: "The photo URL of the user"
        disabled:
          nullable: false
          type: boolean
          description: "Whether or not the user is disabled"
        metadata:
          nullable: false
          type: object
          $ref: "#/components/schemas/FirebaseMetadata"
          description: "The metadata of the user"
        providerData:
          nullable: false
          type: array
          items:
            $ref: "#/components/schemas/FirebaseProviderData"
          description: "The provider data of the user"
    FullUserInformation:
      required:
        - id
        - firebaseUID
        - firstname
        - lastname
        - displayname
        - email
        - dateofbirth
        - permissions
        - betaAccess
      properties:
        id:
          nullable: false
          type: integer
          description: "The ID of the user"
        firebaseUID:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        firstname:
          nullable: false
          type: string
          description: "The first name of the user"
        lastname:
          nullable: false
          type: string
          description: "The last name of the user"
        displayname:
          nullable: false
          type: string
          description: "The display name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        dateofbirth:
          nullable: false
          type: string
          description: "The date of birth of the user"
        permissions:
          nullable: false
          type: integer
          description: "The permissions of the user"
        betaAccess:
          nullable: false
          type: integer
          description: "Whether or not the user has beta access"
    GetUserInfoResponse:
      required:
        - id
        - username
        - fullName
        - email
        - permissions
      properties:
        id:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        username:
          nullable: false
          type: string
          description: "The username of the user"
        fullName:
          nullable: false
          type: string
          description: "The full name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        permissions:
          nullable: false
          type: integer
          description: "The permissions of the user"
    UpdateUserInfo:
      properties:
        displayname:
          nullable: true
          type: string
          description: "The new display name of the user"
        email:
          nullable: true
          type: string
          description: "The new email of the user"
        password:
          nullable: true
          type: string
          description: "The new password of the user"
        perms:
          nullable: true
          type: integer
          description: "The new permissions of the user"
    UpdateUserInfoResponse:
      required:
        - id
        - upatedUser
      properties:
        id:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        updatedUser:
          nullable: false
          type: object
          $ref: "#/components/schemas/FullUserInformation"
          description: "The updated user information"
    CreateUserInfo:
      required:
        - username
        - firstname
        - lastname
        - email
        - password
      properties:
        username:
          nullable: false
          type: string
          description: "The username of the user"
        firstname:
          nullable: false
          type: string
          description: "The first name of the user"
        lastname:
          nullable: false
          type: string
          description: "The last name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        password:
          nullable: false
          type: string
          description: "The password of the user"
    CreateUserInfoResponse:
      required:
        - user
        - username
        - fullName
        - email
        - permissions
      properties:
        user:
          nullable: false
          type: object
          $ref: "#/components/schemas/CreatedFirebaseUser"
          description: "The user information"
        username:
          nullable: false
          type: string
          description: "The username of the user"
        fullName:
          nullable: false
          type: string
          description: "The full name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        permissions:
          nullable: false
          type: integer
          description: "The permissions of the user"
    DeleteUserInfoResponse:
      required:
        - uid
        - deleted
      properties:
        uid:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        deleted:
          nullable: false
          type: boolean
          description: "Whether or not the user was deleted"
    ErrorData:
      required:
        - code
        - message
      properties:
        code:
          nullable: false
          type: integer
          description: "The error code"
        message:
          nullable: false
          type: string
          description: "The error message"
    TokenCreationRequestBody:
      required:
        - firebaseUID
      properties:
        firebaseUID:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
    TokenCreationResponse:
      required:
        - token
        - license
      properties:
        token:
          nullable: false
          type: string
          description: "The token that was created"
        license:
          nullable: false
          type: string
          description: "The license thats associated with the token"
    TokenDeletionResponse:
      required:
        - message
      properties:
        message:
          nullable: false
          type: string
          description: "The message that was returned"
    TokenData:
      required:
        - license
        - token
        - associatedFirebaseUID
        - username
      properties:
        license:
          nullable: false
          type: string
          description: "The license that the token is associated with"
        token:
          nullable: false
          type: string
          description: "The token"
        associatedFirebaseUID:
          nullable: false
          type: string
          description: "The Firebase UID that the token is associated with"
        username:
          nullable: false
          type: string
          description: "The username that the token is associated with"
    ListTokenResponse:
      required:
        - tokens
      properties:
        tokens:
          nullable: false
          type: array
          items:
            $ref: "#/components/schemas/ListTokenData"
          description: "The list of tokens"
    MinecraftHiveURLDataObj:
      required:
        - url
        - name
      properties:
        url:
          nullable: false
          type: string
          description: "The URL of the player's skin"
        name:
          nullable: false
          type: string
          description: "The name of the player"
    MinecraftHiveMainPlayerData:
      required:
        - xuid
        - username
        - username_cc
        - rank
        - first_played
        - daily_login_streak
        - longest_daily_login_streak
        - hub_title_count
        - hub_title_unlocked
        - avatar_count
        - avatar_unlocked
        - costume_count
        - friend_count
        - equipped_hub_title
        - equipped_avatar
        - quest_count
        - pets
        - mounts
        - hats
      properties:
        xuid:
          nullable: false
          type: integer
          description: "The XUID of the player"
        username:
          nullable: false
          type: string
          description: "The username of the player"
        username_cc:
          nullable: false
          type: string
          description: "The username of the player with color codes"
        rank:
          nullable: false
          type: string
          description: "The rank of the player"
        first_played:
          nullable: false
[...]
