openapi: "3.0.0"
info:
  version: "1.2.3"
  title: "FemDevs API Documentation"
  description: "The documentation for the FemDevs API."
  contact:
    name: "FemDevs"
    url: "https://thefemdevs.com"
    email: "support@thefemdevs.com"
  license:
    name: "GNU Affero General Public License v3.0"
    url: "https://www.gnu.org/licenses/agpl-3.0.en.html"
servers:
  - url: "https://thefemdevs.com/api/"
    description: "Production Server"
paths:
  /user/get:
    get:
      operationId: "GetUser"
      description: "Gets the user information for the user with the given ID. Returns the user information if the user exists, otherwise returns an error."
      summary: "Get User Info by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get information for"
          schema:
            type: string
      responses:
        200:
          description: "The user information for the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserInfoResponse"
              examples:
                user:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    username: "JohnDoe0001"
                    fullName: "John Doe"
                    email: "example@example.com"
                    permissions: 0
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-User:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /user/update:
    patch:
      operationId: "UpdateUser"
      description: "Updates the user information for the user with the given ID. Returns the user information if the user exists, otherwise returns an error."
      summary: "Update User Info by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get information for"
          schema:
            type: string
      requestBody:
        description: "The new user information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserInfo"
            examples:
              displayname:
                value:
                  displayname: "newDisplayName"
              email:
                value:
                  email: "newEmail@example.com"
              password:
                value:
                  password: "newPassword"
              perms:
                value:
                  perms: 1
      responses:
        200:
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserInfoResponse"
              examples:
                displayname:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "newDisplayName"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                email:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "newEmail@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                password:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                perms:
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 1
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-User:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to find requested resource"
        500:
          description: "Unable to update user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 23
                    message: "Unable to update user"
      security:
        - APIToken: []
  /user/create:
    post:
      operationId: "CreateUser"
      description: "Creates a user using the provided information. Returns the user information if successful, otherwise returns an error."
      summary: "Create a User"
      requestBody:
        description: "The new user information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserInfo"
            examples:
              user:
                value:
                  username: "JohnDoe0001"
                  firstname: "John"
                  lastname: "Doe"
                  email: "example@example.com"
                  password: "ARandomPassword"
      responses:
        201:
          description: "The user information for the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserInfoResponse"
              examples:
                user:
                  value:
                    user:
                      uid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      email: "example@example.com"
                      emailVerified: false
                      displayName: "JohnDoe0001"
                      disabled: false
                      metadata:
                        lastSignInTime: "null"
                        creationTime: "Sat, 23 Sep 2023 16:06:10 GMT"
                        lastRefreshTime: "null"
                      tokensValidAfterTime: "Sat, 23 Sep 2023 16:06:10 GMT"
                      providerData:
                        - uid: "example@example.com"
                          displayName: "JohnDoe0001"
                          email: "example@example.com"
                          providerId: "password"
                    username: "JohnDoe0001"
                    fullName: "John Doe"
                    email: "example@example.com"
                    permissions: 0
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
                  
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
        500:
          description: "Unable to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to create user"
      security:
        - APIToken: []
  /user/delete:
    delete:
      operationId: "DeleteUser"
      description: "Deletes the user with the given ID. Returns `true if successful, otherwise returns an error."
      summary: "Delete User by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get delete"
          schema:
            type: string
      responses:
        200:
          description: "The successful notification of the deletion"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUserInfoResponse"
              examples:
                deleted:
                  value:
                    uid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    deleted: true
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-User:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        403:
          description: "Unauthorized to delete user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 24
                    message: "Unable to find requested resource"
        500:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 14
                    message: "Unable to delete requested resource"
      security:
        - APIToken: []
  /crypto/enc:
    get:
      operationId: "CryptographyEnc"
      description: "API Endpoint for encrypting data"
      summary: "Encryption Endpoint"
      parameters:
        - in: "query"
          name: "data"
          description: "The data to encrypt"
          schema:
            type: string
      responses:
        200:
          description: "The Encrypted Data"
          content:
            application/json:
              schema:
                type: string
              examples:
                data:
                  value: "Pc6W8_h9XSg8LVhZ8yAP4vtui0sJIMNmC_E18ee9JBQyEmBPLZBDz5Jx745u31Pbr2EkS9Z2S8oFB02uwzpWtt3PH48HE-Wj27VkpvV1glrpZ0f_cW0Ema-gT-6S675xCgb9cy0ZTx3rH-kzuVZXaOwrMjMJTVe7ZpyH8zyUNHnDo0xvkhq9Z523azZm1mq1rcJWMJl8iCuZc6TQp5E2-4xiAZF59ZCZyQCtzxryPzX6aR5ENBvBVdkOaNWtmjWc9ZM5Ni9PXc2cVGbi5IDo6RvX5KuU2DUvGpIKvf15xLptPXZPLNtU4syXjXI4vA03EpV1-Dqs6H7FrtXLAu9M5Q7NxaSxynr4oyJC7CzIXJtJVUwrFN9I-zSJCcR9rE90XzolaWICUjfhSkMtPBTkr_ibNFcyPhG-oaMPGuc1Hb8gJzEDDtWTGPZdV2rbGJIw3XBi_h80fj8F_DQujSGsbo2DmBwSF-PZtKG5WHK9cf3rWCIxF1Sc5Hhkd-HnhrFrSv30Kjvede88MmofhchsS9cEn4eFF7rfj35blLBxGKBKzhS0k_k7FWQznK6J24lfUR_Gtkz3IJlTcqQN-ixucjHdI58xheVETAg_PkK3KZIwgabxQRSz96JUANyEPIPdodIF2f4PpEMomjYp8mCc_0F26uUSgsm9_LcJvC9oNZU"
        400:
          description: "Error With Encryption (Client Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                no-data:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        500:
          description: "Error With Encryption (Server Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 10
                    message: "Unable to encrypt data"
      security:
        - APIToken: []
  /crypto/dec:
    get:
      operationId: "CryptographyDecr"
      description: "API Endpoint for decrypting data"
      summary: "Decryption Endpoint"
      parameters:
        - in: "query"
          name: "data"
          description: "The data to decrypt"
          schema:
            type: string
      responses:
        200:
          description: "The Decrypted Data"
          content:
            application/json:
              schema:
                type: string
              examples:
                data:
                  value: "testing"
        400:
          description: "Error with Decryption (Client Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 4
                    message: "Missing Query Parameter(s)"
                no-data:
                  value:
                    code: 5
                    message: "Invalid Query Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        500:
          description: "Error with Decryption (Server Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 11
                    message: "Unable to decrypt data"
      security:
        - APIToken: []
  /token/create:
    post:
      operationId: "CreateToken"
      description: "Creates a token using the provided information. Returns the token information if successful, otherwise returns an error."
      summary: "Create a Token"
      requestBody:
        description: "The new token information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenCreationRequestBody"
            examples:
              token:
                value:
                  firebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
      responses:
        201:
          description: "The information on the generated token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenCreationResponse"
              examples:
                token:
                  value:
                    license: "1234-5678-9012-3456"
                    token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
                  
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
        500:
          description: "Unable to create token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "Misc Error"
      security:
        - APIToken: []
  /token/delete:
    delete:
      operationId: "DeleteToken"
      description: "Deletes the given token. Returns `true` if successful, otherwise returns an error."
      summary: "Delete Token"
      parameters:
        - in: "query"
          name: "token"
          description: "The token to delete"
          schema:
            type: string
      responses:
        200:
          description: "The successful notification of the deletion"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenDeletionResponse"
              examples:
                deleted:
                  value:
                    message: "Token deleted successfully"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
                  
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /token/list:
    get:
      operationId: "ListTokens"
      description: "Lists all API keys along with the information associated with it. Returns the list of tokens if successful, otherwise returns an error."
      summary: "List Tokens"
      responses:
        200:
          description: "The list of tokens"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTokenResponse"
              examples:
                tokens:
                  value:
                    - license: "1234-5678-9012-3456"
                      token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                      associatedFirebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      username: "JohnDoe0001"
                    - license: "1234-5678-9012-3456"
                      token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                      associatedFirebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      username: "JohnDoe0001"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
                  
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        500:
          description: "Unable to list tokens"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "Misc Error"
      security:
        - APIToken: []
  /token/info:
    get:
      operationId: "GetTokenInfo"
      description: "Gets the token information for the given token. Returns the token information if the token exists, otherwise returns an error."
      summary: "Get Token Info"
      parameters:
        - in: "query"
          name: "token"
          description: "The token to get information for"
          schema:
            type: string
      responses:
        200:
          description: "The token information for the given token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenData"
              examples:
                token:
                  value:
                    license: "1234-5678-9012-3456"
                    token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                    associatedFirebaseUID: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    username: "JohnDoe0001"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"               
        403:
          description: "Unauthorized to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "You are not authorized to access this resource"
        404:
          description: "Error with the given token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
        500:
          description: "Unable to get token information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "Misc Error"
      security:
        - APIToken: []
  /minecraft/hive/player:
    get:
      operationId: "GetHivePlayer"
      description: "Gets the player information for the given username. Returns the player information if the player exists, otherwise returns an error."
      summary: "Get Hive Player Info"
      parameters:
        - in: "header"
          name: "x-user"
          description: "The Minecraft username of the player to get information for"
          schema:
            type: string
      responses:
        200:
          description: "The player information for the given username"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinecraftHivePlayerCombinedData"
              examples:
                user:
                  value:
                    hide:
                      xp: 1612
                      played: 13
                      victories: 3
                      first_played: 1600464717
                      deaths: 9
                      hider_kills: 28
                      seeker_kills: 2
                    main:
                      xuid: 2535441321443031
                      username: therealbenpai
                      username_cc: therealbenpai
                      rank: REGULAR
                      first_played: 1597106900
                      daily_login_streak: 0
                      longest_daily_login_streak: 6
                      hub_title_count: 6
                      hub_title_unlocked:
                      - "&cThe Short Sighted"
                      - "&cThe Defender"
                      - "&eAir &aSwimmer"
                      - "&aThe Good Citizen"
                      - "&aThe Snail"
                      - "&eClickety &6Clack"
                      avatar_count: 6
                      avatar_unlocked:
                      - url: https://cdn.playhive.com/avatars/monster-drew.png
                        name: Drew (Monster)
                      - url: https://cdn.playhive.com/avatars/pet-endolotl.png
                        name: Endolotl Pet
                      - url: https://cdn.playhive.com/avatars/monster-harper.png
                        name: Harper (Monster)
                      - url: https://cdn.playhive.com/avatars/monster-reese.png
                        name: Reese (Monster)
                      - url: https://cdn.playhive.com/avatars/monster-riley.png
                        name: Riley (Monster)
                      - url: https://cdn.playhive.com/avatars/grav-zoomies.png
                        name: Zoomies
                      costume_count: 0
                      friend_count: 8
                      equipped_hub_title: "&eClickety &6Clack"
                      equipped_avatar:
                        url: https://cdn.playhive.com/avatars/grav-zoomies.png
                        name: Zoomies
                      quest_count: 20
                      pets:
                      - Rock
                      - Endolotl
                      mounts: []
                      hats: []
                    dr:
                      xp: 4248
                      played: 46
                      victories: 31
                      first_played: 1694643520
                      deaths: 203
                      checkpoints: 264
                      activated: 76
                      kills: 86
                    wars:
                      xp: 1160
                      played: 27
                      first_played: 1612317414
                      final_kills: 5
                      kills: 27
                      treasure_destroyed: 19
                      deaths: 82
                      victories: 1
                    murder:
                      xp: 16914
                      played: 420
                      victories: 308
                      first_played: 1597106959
                      deaths: 192
                      coins: 3193
                      murders: 170
                      murderer_eliminations: 22
                    sg:
                      xp: 65
                      played: 6
                      first_played: 1615497464
                      crates: 40
                      kills: 6
                      deaths: 6
                      cows: 1
                    sky:
                      xp: 320
                      played: 27
                      victories: 5
                      first_played: 1612392245
                      ores_mined: 551
                      deaths: 20
                      kills: 5
                      mystery_chests_destroyed: 1
                      spells_used: 10
                    ctf:
                      xp: 143
                      played: 3
                      victories: 1
                      first_played: 1694295639
                      assists: 4
                      deaths: 7
                      flags_captured: 0
                      kills: 6
                      flags_returned: 1
                    drop:
                      xp: 65
                      played: 1
                      first_played: 1694288117
                      blocks_destroyed: 506
                      powerups_collected: 0
                      vaults_used: 0
                      deaths: 1
                    ground:
                      xp: 0
                      played: 0
                      victories: 0
                      first_played: 0
                      blocks_destroyed: 0
                      powerups_collected: 0
                      vaults_used: 0
                      deaths: 0
                    build:
                      xp: 10
                      played: 2
                      first_played: 1597107129
                      rating_good_received: 5
                      rating_love_received: 0
                      rating_meh_received: 4
                      rating_okay_received: 1
                      rating_great_received: 0
                    party:
                      xp: 1072
                      played: 35
                      victories: 2
                      first_played: 1687883920
                      powerups_collected: 55
                      rounds_survived: 284
                    bridge:
                      xp: 0
                      first_played: 0
                    grav:
                      xp: 658
                      played: 21
                      victories: 7
                      first_played: 1694283594
                      deaths: 413
                      maps_completed: 57
                      maps_completed_without_dying: 15
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-User:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)" 
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given username"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /minecraft/hive/maps:
    get:
      operationId: "GetHiveMaps"
      description: "Gets the list of maps for the given game. Returns the list of maps if the game exists, otherwise returns an error."
      summary: "Get Hive Maps"
      parameters:
        - in: "header"
          name: "x-game"
          description: "The game to get maps for"
          schema:
            type: string
      responses:
        200:
          description: "The list of maps for the given game"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  $ref: "#/components/schemas/MinecraftHiveURLDataObj"
              examples:
                maps:
                  value:
                    - name: Chroma
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_chroma.jpg
                    - name: Eso Hotel
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_esohotel.jpg
                    - name: Manor
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_manor.jpg
                    - name: Museum
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_museum.jpg
                    - name: Office Party
                      season: WINTERFEST
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_office.winterfest.jpg
                    - name: Office
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_office.jpg
                    - name: Pigment
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_pigment.jpg
                    - name: Remnants
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_remnants.jpg
                    - name: Spaceship
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_spaceship.jpg
                    - name: Ghost House
                      season: HALLOWEEN
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_toyhouse.halloween.jpg
                    - name: Toy House
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_toyhouse.jpg
                    - name: Village
                      season: WINTERFEST
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_village.winterfest.jpg
                    - name: Warehouse
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_warehouse.jpg
                    - name: Witch School
                      season: HALLOWEEN
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_witchschool.halloween.jpg
        400:
          description: "Missing game information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Game:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Game:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given game"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /dictionary/def:
    get:
      operationId: "GetDictionaryDefinition"
      description: "Gets the definition for the given word. Returns the definition if the word exists, otherwise returns an error."
      summary: "Get Dictionary Definition"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the definition for"
          schema:
            type: string
      responses:
        200:
          description: "The definition for the given word"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Word:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /dictionary/syn:
    get:
      operationId: "GetDictionarySynonyms"
      description: "Gets the synonyms for the given word. Returns the synonyms if the word exists, otherwise returns an error."
      summary: "Get Dictionary Synonyms"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the synonyms for"
          schema:
            type: string
      responses:
        200:
          description: "The synonyms for the given word"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Word:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /dictionary/ant:
    get:
      operationId: "GetDictionaryAntonyms"
      description: "Gets the antonyms for the given word. Returns the antonyms if the word exists, otherwise returns an error."
      summary: "Get Dictionary Antonyms"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the antonyms for"
          schema:
            type: string
      responses:
        200:
          description: "The antonyms for the given word"
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Word:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /facts/dog:
    get:
      operationId: "GetDogFact"
      description: "Gets a random dog fact. Returns the fact if successful, otherwise returns an error."
      summary: "Get Dog Fact"
      responses:
        200:
          description: "The dog fact"
          content:
            application/json:
              schema:
                type: string
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
      security:
        - APIToken: []
  /facts/cat:
    get:
      operationId: "GetCatFact"
      description: "Gets a random cat fact. Returns the fact if successful, otherwise returns an error."
      summary: "Get Cat Fact"
      responses:
        200:
          description: "The cat fact"
          content:
            application/json:
              schema:
                type: string
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
      security:
        - APIToken: []
  /facts/random:
    get:
      operationId: "GetRandomFact"
      description: "Gets a random fact. Returns the fact if successful, otherwise returns an error."
      summary: "Get Random Fact"
      responses:
        200:
          description: "The random fact"
          content:
            application/json:
              schema:
                type: string
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
      security:
        - APIToken: []
  /location/coords:
    get:
      operationId: "GetLocationByCoords"
      description: "Gets the location for the given coordinates. Returns the location if successful, otherwise returns an error."
      summary: "Get Location By Coordinates"
      parameters:
        - in: "header"
          name: "x-coordpair"
          description: "The coordinates to get the location for"
          schema:
            type: string
      responses:
        200:
          description: "The location for the given coordinates"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing coordinates information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Coordinates:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Coordinates:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given coordinates"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /location/pluscode:
    get:
      operationId: "GetLocationByPlusCode"
      description: "Gets the location for the given plus code. Returns the location if successful, otherwise returns an error."
      summary: "Get Location By Plus Code"
      parameters:
        - in: "header"
          name: "x-pluscode"
          description: "The pluscode"
          schema:
            type: string
      responses:
        200:
          description: "The location for the given pluscode"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing pluscode information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Pluscode:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Pluscode:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given pluscode"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /location/address:
    get:
      operationId: "GetLocationByAddress"
      description: "Gets the location for the given address. Returns the location if successful, otherwise returns an error."
      summary: "Get Location By Address"
      parameters:
        - in: "header"
          name: "x-address"
          description: "The address to get the location for"
          schema:
            type: string
      responses:
        200:
          description: "The location for the given address"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing address information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Address:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Address:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given address"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /phone/details:
    get:
      operationId: "GetPhoneDetails"
      description: "Gets the details for the given phone number. Returns the details if successful, otherwise returns an error."
      summary: "Get Phone Details"
      parameters:
        - in: "header"
          name: "x-number"
          description: "The phone number to get the details for"
          schema:
            type: string
      responses:
        200:
          description: "The details for the given phone number"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumberData"
              examples:
                details:
                  value:
                    status: "success"
                    phone: "+8888888888"
                    phone_valid: true
                    phone_type: "fixed_line_or_mobile"
                    phone_region: "Michigan"
                    country: "United States"
                    country_code: "US"
                    country_prefix: '1'
                    international_number: "+1 888-888-888"
                    local_number: "(888) 888-8888"
                    e164: "+18888888888"
                    carrier: ''
        400:
          description: "Missing phone number information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Phone:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Phone:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given phone number"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
  /quotes/kanye:
    get:
      operationId: "GetKanyeQuote"
      description: "Gets a random Kanye West quote. Returns the quote if successful, otherwise returns an error."
      summary: "Get Kanye Quote"
      responses:
        200:
          description: "The Kanye West quote"
          content:
            application/json:
              schema:
                type: string
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
      security:
        - APIToken: []
  /quotes/ronswanson:
    get:
      operationId: "GetRonSwansonQuote"
      description: "Gets a random Ron Swanson quote. Returns the quote if successful, otherwise returns an error."
      summary: "Get Ron Swanson Quote"
      responses:
        200:
          description: "The Ron Swanson quote"
          content:
            application/json:
              schema:
                type: string
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
      security:
        - APIToken: []
  /quotes/random:
    get:
      operationId: "GetRandomQuote"
      description: "Gets a random quote. Returns the quote if successful, otherwise returns an error."
      summary: "Get Random Quote"
      responses:
        200:
          description: "The random quote"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteData"
              examples:
                quote:
                  value:
                    quote: "The best way to predict the future is to create it."
                    author: "Abraham Lincoln"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
      security:
        - APIToken: []
  /weather/current:
    get:
      operationId: "GetCurrentWeather"
      description: "Gets the current weather for the given location. Returns the weather if successful, otherwise returns an error."
      summary: "Get Current Weather"
      parameters:
        - in: "header"
          name: "x-city"
          description: "The city to get the weather for"
          schema:
            type: string
        - in: "header"
          name: "x-coords"
          description: "The coordinates to get the weather for"
          schema:
            type: string
      responses:
        200:
          description: "The weather for the given location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherCurrentData"
              examples:
                WashingtonDC:
                  value:
                    coord:
                      lon: -77.0369
                      lat: 38.9072
                    weather:
                    - id: 803
                      main: 'Clouds'
                      description: 'broken clouds'
                      icon: '04d'
                    base: 'stations'
                    main:
                      temp: 63.32
                      feels_like: 62.83
                      temp_min: 60.82
                      temp_max: 66.13
                      pressure: 1026
                      humidity: 74
                    visibility: 10000
                    wind:
                      speed: 11.5
                      deg: 20
                    clouds:
                      all: 75
                    dt: 1695829210
                    sys:
                      type: 2
                      id: 2084333
                      country: 'US'
                      sunrise: 1695812403
                      sunset: 1695855499
                    timezone: -14400
                    id: 4140963
                    name: 'Washington D.C.'
                    cod: 200
        400:
          description: "Missing location information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Location:
                  value:
                    code: 6
                    message: "Missing Header Parameter(s)"
                Invalid-Location:
                  value:
                    code: 7
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  value:
                    code: 1
                    message: "Missing API Token"
                Invalid-Token:
                  value:
                    code: 2
                    message: "Invalid API Token"
        404:
          description: "Error with the given location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to find requested resource"
      security:
        - APIToken: []
components:
  securitySchemes:
    APIToken:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      description: "JSON Web Token Authentication with information containing your license key"
  schemas:
    FirebaseProviderData:
      required:
        - uid
        - displayName
        - email
        - providerId
      properties:
        uid:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        displayName:
          nullable: false
          type: string
          description: "The display name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        providerId:
          nullable: false
          type: string
          description: "The provider ID of the user"
    FirebaseMetadata:
      required:
        - lastSignInTime
        - creationTime
        - lastRefreshTime
      properties:
        lastSignInTime:
          nullable: false
          type: string
          description: "The last sign in time of the user"
        creationTime:
          nullable: false
          type: string
          description: "The creation time of the user"
        lastRefreshTime:
          nullable: false
          type: string
          description: "The last refresh time of the user"
    CreatedFirebaseUser:
      required:
        - uid
        - displayName
        - email
        - emailVerified
        - phoneNumber
        - photoURL
        - disabled
        - metadata
        - providerData
      properties:
        uid:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        displayName:
          nullable: false
          type: string
          description: "The display name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        emailVerified:
          nullable: false
          type: boolean
          description: "Whether or not the email is verified"
        phoneNumber:
          nullable: false
          type: string
          description: "The phone number of the user"
        photoURL:
          nullable: false
          type: string
          description: "The photo URL of the user"
        disabled:
          nullable: false
          type: boolean
          description: "Whether or not the user is disabled"
        metadata:
          nullable: false
          type: object
          $ref: "#/components/schemas/FirebaseMetadata"
          description: "The metadata of the user"
        providerData:
          nullable: false
          type: array
          items:
            $ref: "#/components/schemas/FirebaseProviderData"
          description: "The provider data of the user"
    FullUserInformation:
      required:
        - id
        - firebaseUID
        - firstname
        - lastname
        - displayname
        - email
        - dateofbirth
        - permissions
        - betaAccess
      properties:
        id:
          nullable: false
          type: integer
          description: "The ID of the user"
        firebaseUID:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        firstname:
          nullable: false
          type: string
          description: "The first name of the user"
        lastname:
          nullable: false
          type: string
          description: "The last name of the user"
        displayname:
          nullable: false
          type: string
          description: "The display name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        dateofbirth:
          nullable: false
          type: string
          description: "The date of birth of the user"
        permissions:
          nullable: false
          type: integer
          description: "The permissions of the user"
        betaAccess:
          nullable: false
          type: integer
          description: "Whether or not the user has beta access"
    GetUserInfoResponse:
      required:
        - id
        - username
        - fullName
        - email
        - permissions
      properties:
        id:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        username:
          nullable: false
          type: string
          description: "The username of the user"
        fullName:
          nullable: false
          type: string
          description: "The full name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        permissions:
          nullable: false
          type: integer
          description: "The permissions of the user"
    UpdateUserInfo:
      properties:
        displayname:
          nullable: true
          type: string
          description: "The new display name of the user"
        email:
          nullable: true
          type: string
          description: "The new email of the user"
        password:
          nullable: true
          type: string
          description: "The new password of the user"
        perms:
          nullable: true
          type: integer
          description: "The new permissions of the user"
    UpdateUserInfoResponse:
      required:
        - id
        - upatedUser
      properties:
        id:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        updatedUser:
          nullable: false
          type: object
          $ref: "#/components/schemas/FullUserInformation"
          description: "The updated user information"
    CreateUserInfo:
      required:
        - username
        - firstname
        - lastname
        - email
        - password
      properties:
        username:
          nullable: false
          type: string
          description: "The username of the user"
        firstname:
          nullable: false
          type: string
          description: "The first name of the user"
        lastname:
          nullable: false
          type: string
          description: "The last name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        password:
          nullable: false
          type: string
          description: "The password of the user"
    CreateUserInfoResponse:
      required:
        - user
        - username
        - fullName
        - email
        - permissions
      properties:
        user:
          nullable: false
          type: object
          $ref: "#/components/schemas/CreatedFirebaseUser"
          description: "The user information"
        username:
          nullable: false
          type: string
          description: "The username of the user"
        fullName:
          nullable: false
          type: string
          description: "The full name of the user"
        email:
          nullable: false
          type: string
          description: "The email of the user"
        permissions:
          nullable: false
          type: integer
          description: "The permissions of the user"
    DeleteUserInfoResponse:
      required:
        - uid
        - deleted
      properties:
        uid:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
        deleted:
          nullable: false
          type: boolean
          description: "Whether or not the user was deleted"
    ErrorData:
      required:
        - code
        - message
      properties:
        code:
          nullable: false
          type: integer
          description: "The error code"
        message:
          nullable: false
          type: string
          description: "The error message"
    TokenCreationRequestBody:
      required:
        - firebaseUID
      properties:
        firebaseUID:
          nullable: false
          type: string
          description: "The Firebase UID of the user"
    TokenCreationResponse:
      required:
        - token
        - license
      properties:
        token:
          nullable: false
          type: string
          description: "The token that was created"
        license:
          nullable: false
          type: string
          description: "The license thats associated with the token"
    TokenDeletionResponse:
      required:
        - message
      properties:
        message:
          nullable: false
          type: string
          description: "The message that was returned"
    TokenData:
      required:
        - license
        - token
        - associatedFirebaseUID
        - username
      properties:
        license:
          nullable: false
          type: string
          description: "The license that the token is associated with"
        token:
          nullable: false
          type: string
          description: "The token"
        associatedFirebaseUID:
          nullable: false
          type: string
          description: "The Firebase UID that the token is associated with"
        username:
          nullable: false
          type: string
          description: "The username that the token is associated with"
    ListTokenResponse:
      required:
        - tokens
      properties:
        tokens:
          nullable: false
          type: array
          items:
            $ref: "#/components/schemas/TokenData"
          description: "The list of tokens"
    MinecraftHiveURLDataObj:
      required:
        - url
        - name
      properties:
        url:
          nullable: false
          type: string
          description: "The URL of the player's skin"
        name:
          nullable: false
          type: string
          description: "The name of the player"
    MinecraftHiveMainPlayerData:
      required:
        - xuid
        - username
        - username_cc
        - rank
        - first_played
        - daily_login_streak
        - longest_daily_login_streak
        - hub_title_count
        - hub_title_unlocked
        - avatar_count
        - avatar_unlocked
        - costume_count
        - friend_count
        - equipped_hub_title
        - equipped_avatar
        - quest_count
        - pets
        - mounts
        - hats
      properties:
        xuid:
          nullable: false
          type: integer
          description: "The XUID of the player"
        username:
          nullable: false
          type: string
          description: "The username of the player"
        username_cc:
          nullable: false
          type: string
          description: "The username of the player with color codes"
        rank:
          nullable: false
          type: string
          description: "The rank of the player"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        daily_login_streak:
          nullable: false
          type: integer
          description: "The current daily login streak of the player"
        longest_daily_login_streak:
          nullable: false
          type: integer
          description: "The longest daily login streak of the player"
        hub_title_count:
          nullable: false
          type: integer
          description: "The number of hub titles the player has"
        hub_title_unlocked:
          nullable: false
          type: array
          items:
            type: string
          description: "The number of hub titles the player has unlocked"
        avatar_count:
          nullable: false
          type: integer
          description: "The number of avatars the player has"
        avatar_unlocked:
          nullable: false
          type: array
          items:
            type: object
            $ref: '#/components/schemas/MinecraftHiveURLDataObj'
          description: "The avatars the player has unlocked"
        costume_count:
          nullable: false
          type: integer
          description: "The number of costumes the player has"
        friend_count:
          nullable: false
          type: integer
          description: "The number of friends the player has"
        equipped_hub_title:
          nullable: false
          type: string
          description: "The hub title the player has equipped"
        equipped_avatar:
          nullable: false
          type: object
          $ref: '#/components/schemas/MinecraftHiveURLDataObj'
          description: "The avatar the player has equipped"
        quest_count:
          nullable: false
          type: integer
          description: "The number of quests the player has"
        pets:
          nullable: false
          type: array
          items:
            type: string
          description: "The pets the player has"
        mounts:
          nullable: false
          type: array
          items:
            type: string
          description: "The mounts the player has"
        hats:
          nullable: false
          type: array
          items:
            type: string
          description: "The hats the player has"
    MinecraftHivePlayerHideGameStatistics:
      required:
        - xp
        - played
        - victories
        - first_played
        - deaths
        - hider_kills
      properties:
        xp:
          nullable: false
          type: integer
          description: "The XP of the player"
        played:
          nullable: false
          type: integer
          description: "The number of games the player has played"
        victories:
          nullable: false
          type: integer
          description: "The number of games the player has won"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
        hider_kills:
          nullable: false
          type: integer
          description: "The number of hiders the player has killed"
    MinecraftHivePlayerDeathrunStatistics:
      required:
        - xp
        - played
        - victories
        - first_played
        - deaths
        - checkpoints
        - activated
        - kills
      properties:
        xp:
          nullable: false
          type: integer
          description: "The XP of the player"
        played:
          nullable: false
          type: integer
          description: "The number of games the player has played"
        victories:
          nullable: false
          type: integer
          description: "The number of games the player has won"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
        checkpoints:
          nullable: false
          type: integer
          description: "The number of checkpoints the player has reached"
        activated:
          nullable: false
          type: integer
          description: "The number of traps the player has activated"
        kills:
          nullable: false
          type: integer
          description: "The number of deaths the player has caused"
    MinecraftHivePlayerWarStatistics:
      required:
        - xp
        - played
        - first_played
        - final_kills
        - kills
        - treasure_destroyed
        - deaths
      properties:
        xp:
          nullable: false
          type: integer
          description: "The XP of the player"
        played:
          nullable: false
          type: integer
          description: "The number of games the player has played"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        final_kills:
          nullable: false
          type: integer
          description: "The number of final kills the player has"
        kills:
          nullable: false
          type: integer
          description: "The number of kills the player has"
        treasure_destroyed:
          nullable: false
          type: integer
          description: "The number of treasures the player has destroyed"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
    MinecraftHivePlayerMurderMysteryStatistics:
      required:
        - xp
        - played
        - victories
        - first_played
        - deaths
        - coins
        - murders
      properties:
        xp:
          nullable: false
          type: integer
          description: "The XP of the player"
        played:
          nullable: false
          type: integer
          description: "The number of games the player has played"
        victories:
          nullable: false
          type: integer
          description: "The number of games the player has won"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
        coins:
          nullable: false
          type: integer
          description: "The number of coins the player has"
        murders:
          nullable: false
          type: integer
          description: "The number of murders the player has committed"
    MinecraftHivePlayerSurvivalGamesStatistics:
      required:
        - xp
        - played
        - first_played
        - crates
        - kills
        - deaths
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        played:
          nullable: false
          type: integer
          description: "The amount of games the player has played"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        crates:
          nullable: false
          type: integer
          description: "The number of crates the player has opened"
        kills:
          nullable: false
          type: integer
          description: "The number of kills the player has"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
    MinecraftHivePlayerSkyWarsStatistics:
      required:
        - xp
        - played
        - victories
        - first_played
        - ores_mined
        - deaths
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        played:
          nullable: false
          type: integer
          description: "The amount of games the player has played"
        victories:
          nullable: false
          type: integer
          description: "The amount of games the player has won"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        ores_mined:
          nullable: false
          type: integer
          description: "The number of ores the player has mined"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
    MinecraftHivePlayerCTFStatistics:
      required:
        - xp
        - played
        - victories
        - first_played
        - assists
        - deaths
        - flags_captured
        - kills
        - flags_returned
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        played:
          nullable: false
          type: integer
          description: "The amount of games the player has played"
        victories:
          nullable: false
          type: integer
          description: "The amount of games the player has won"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        assists:
          nullable: false
          type: integer
          description: "The number of assists the player has"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
        flags_captured:
          nullable: false
          type: integer
          description: "The number of flags the player has captured"
        kills:
          nullable: false
          type: integer
          description: "The number of kills the player has"
        flags_returned:
          nullable: false
          type: integer
          description: "The number of flags the player has returned"
    MinecraftHivePlayerDropStatistics:
      required:
        - xp
        - played
        - first_played
        - blocks_destroyed
        - powerups_collected
        - vaults_used
        - deaths
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        played:
          nullable: false
          type: integer
          description: "The amount of games the player has played"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        blocks_destroyed:
          nullable: false
          type: integer
          description: "The number of blocks the player has destroyed"
        powerups_collected:
          nullable: false
          type: integer
          description: "The number of powerups the player has collected"
        vaults_used:
          nullable: false
          type: integer
          description: "The number of vaults the player has used"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
    MinecraftHivePlayerGroundStatistics:
      required:
        - xp
        - played
        - victories
        - first_played
        - blocks_destroyed
        - powerups_collected
        - vaults_used
        - deaths
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        played:
          nullable: false
          type: integer
          description: "The amount of games the player has played"
        victories:
          nullable: false
          type: integer
          description: "The amount of games the player has won"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        blocks_destroyed:
          nullable: false
          type: integer
          description: "The number of blocks the player has destroyed"
        powerups_collected:
          nullable: false
          type: integer
          description: "The number of powerups the player has collected"
        vaults_used:
          nullable: false
          type: integer
          description: "The number of vaults the player has used"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
    MinecraftHivePlayerBuildStatistics:
      required: 
        - xp
        - played
        - first_played
        - rating_meh_received
        - rating_ok_received
        - rating_good_received
        - rating_great_received
        - rating_love_received
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        played:
          nullable: false
          type: integer
          description: "The amount of games the player has played"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        rating_meh_received:
          nullable: false
          type: integer
          description: "The number of meh ratings the player has received"
        rating_ok_received:
          nullable: false
          type: integer
          description: "The number of ok ratings the player has received"
        rating_good_received:
          nullable: false
          type: integer
          description: "The number of good ratings the player has received"
        rating_great_received:
          nullable: false
          type: integer
          description: "The number of great ratings the player has received"
        rating_love_received:
          nullable: false
          type: integer
          description: "The number of love ratings the player has received"
    MinecraftHivePlayerPartyStatistics:
      required:
        - xp
        - played
        - victories
        - first_played
        - powerups_collected
        - rounds_survived
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        played:
          nullable: false
          type: integer
          description: "The amount of games the player has played"
        victories:
          nullable: false
          type: integer
          description: "The amount of games the player has won"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        powerups_collected:
          nullable: false
          type: integer
          description: "The number of powerups the player has collected"
        rounds_survived:
          nullable: false
          type: integer
          description: "The number of rounds the player has survived"
    MinecraftHivePlayerBridgeStatistics:
      required:
        - xp
        - first_played
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
    MinecraftHivePlayerGravityStatistics:
      required:
        - xp
        - played
        - victories
        - first_played
        - deaths
        - maps_completed
        - maps_completed_without_dying
      properties:
        xp:
          nullable: false
          type: integer
          description: "The amount of XP the player has"
        played:
          nullable: false
          type: integer
          description: "The amount of games the player has played"
        victories:
          nullable: false
          type: integer
          description: "The amount of games the player has won"
        first_played:
          nullable: false
          type: integer
          description: "The first time the player played"
        deaths:
          nullable: false
          type: integer
          description: "The number of times the player has died"
        maps_completed:
          nullable: false
          type: integer
          description: "The number of maps the player has completed"
        maps_completed_without_dying:
          nullable: false
          type: integer
          description: "The number of maps the player has completed without dying"
    MinecraftHivePlayerCombinedData:
      required:
        - hide
        - main
        - deathrun
        - war
        - sg
        - sky
        - ctf
        - drop
        - ground
        - build
        - party
        - bridge
        - grav
      properties:
        hide:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerHideGameStatistics"
          description: "The hide game statistics of the player"
        main:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHiveMainPlayerData"
          description: "The main statistics of the player"
        deathrun:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerDeathrunStatistics"
          description: "The deathrun statistics of the player"
        war:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerWarStatistics"
          description: "The war statistics of the player"
        sg:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerSurvivalGamesStatistics"
          description: "The survival games statistics of the player"
        sky:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerSkyWarsStatistics"
          description: "The sky wars statistics of the player"
        ctf:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerCTFStatistics"
          description: "The capture the flag statistics of the player"
        drop:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerDropStatistics"
          description: "The drop statistics of the player"
        ground:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerGroundStatistics"
          description: "The ground statistics of the player"
        build:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerBuildStatistics"
          description: "The build statistics of the player"
        party:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerPartyStatistics"
          description: "The party statistics of the player"
        bridge:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerBridgeStatistics"
          description: "The bridge statistics of the player"
        grav:
          nullable: false
          type: object
          $ref: "#/components/schemas/MinecraftHivePlayerGravityStatistics"
          description: "The gravity statistics of the player"
    MinecraftHiveMapData:
      required:
        - name
        - season
        - variant
        - image
      properties:
        name:
          nullable: false
          type: string
          description: "The name of the map"
        season:
          nullable: false
          type: string
          description: "The season of the map"
        variant:
          nullable: false
          type: string
          description: "The variant of the map"
        image:
          nullable: false
          type: string
          description: "The image of the map"
    LocationAddressData:
      required:
        - full
        - houseNumber
        - street
        - city
        - region
        - country
        - postalCode
      properties:
        full:
          nullable: false
          type: string
          description: "The full address"
        houseNumber:
          nullable: false
          type: string
          description: "The house number"
        street:
          nullable: false
          type: string
          description: "The street"
        city:
          nullable: false
          type: string
          description: "The city"
        region:
          nullable: false
          type: string
          description: "The region"
        country:
          nullable: false
          type: string
          description: "The country"
        postalCode:
          nullable: false
          type: string
          description: "The postal code"
    LocationCoordData:
      required:
        - lat
        - lng
      properties:
        lat:
          nullable: false
          type: number
          description: "The latitude of the location"
        lng:
          nullable: false
          type: number
          description: "The longitude of the location"
    LocationData:
      required:
        - address
        - coords
        - pluscode
      properties:
        address:
          nullable: false
          type: object
          $ref: "#/components/schemas/LocationAddressData"
          description: "The address of the location"
        coords:
          nullable: false
          type: object
          $ref: "#/components/schemas/LocationCoordData"
          description: "The coordinates of the location"
        pluscode:
          nullable: false
          type: string
          description: "The plus code of the location"
    PhoneNumberData:
      required:
        - status
        - phone
        - phone_valid
        - phone_type
        - phone_region
        - country
        - country_code
        - country_prefix
        - international_number
        - local_number
        - e164
        - carrier
      properties:
        status:
          nullable: false
          type: string
          description: "The status of the phone number"
        phone:
          nullable: false
          type: string
          description: "The phone number"
        phone_valid:
          nullable: false
          type: boolean
          description: "Whether or not the phone number is valid"
        phone_type:
          nullable: false
          type: string
[...]
