hero.flex.w-full.justify-center.bg-neutral-900.p-12.text-neutral-100
  .flex.w-full.max-w-6xl.flex-col.space-y-8.divide-y.divide-brand-primary.divide-neutral-700.px-8
    .flex.flex-col.justify-between.space-y-4(class='md:flex-row md:space-x-4 md:space-y-0')
      .flex.flex-col.space-y-2
        h1.select-none.font-poppins.text-xl.font-medium &#8238;About
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/about') &#8238;About
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/team') &#8238;Team
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/products') &#8238;Products
      .flex.flex-col.space-y-2
        h1.select-none.font-poppins.text-xl.font-medium &#8238;Community
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300',href='https://discord.gg/FgQvDW8jtr') &#8238;Discord
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300',href='https://x.com/officialfemdevs') &#8238;Twitter
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300',href='https://femboyland.eu/view-persons-profile/femdevs') &#8238;FemboyLand
      .flex.flex-col.space-y-2
        h1.select-none.font-poppins.text-xl.font-medium &#8238;Company
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/branding') &#8238;Branding
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/carrers') &#8238;Carrers
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='mailto:support@thefemdevs.com' target="_blank") &#8238;Contact
      .flex.flex-col.space-y-2
        h1.select-none.font-poppins.text-xl.font-medium &#8238;Legal
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/legal/terms') &#8238;Terms
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/legal/privacy') &#8238;Privacy
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/legal/cookies') &#8238;Cookies
    .flex.flex-row.items-center.justify-between.pt-8
      h1.select-none.font-poppins.text-lg &#8238;FemDevs &copy; 2023
      .flex.flex-row.items-center.justify-center.space-x-4
        h1.select-none.font-poppins.text-lg &#8238;Service Status
        span.relative.flex.rounded-full.bg-green-500(class="h-[12px] w-[12px]")
          span.absolute.flex.animate-ping.rounded-full.bg-green-500(class="h-[12px] w-[12px]")