#blocker
#login
  label(for='psw') Admin Password: 
  input#psw(type='password' minlength='4')
  p#pswCheck(style='color:red;' ch='' ns='')
    icon(type='3' rounded='') error
    |  Password Incorrect 
    icon(type='3' rounded='') error