doctype html
html(lang='en')
  head
    include ../defaults/header.pug
    // Script
    script(defer='' src='/js/fs/about-me.js')
  body
    include ../defaults/nav.pug
    h1#aboutme.anim-typewriter
    .info
      p Hello! My name is Benjamin! I am a full stack web developer who knows many languages including: 
        | HTML, CSS, JavaScript, Node.js, Express, MySQL, Java, C++, C#, Python, VBS, bash, git, and more! 
        | I am currently working on multiple projects including a few Discord Bots, this website, and an API! 
        | Check out my GitHub 
        a(href='https://github.com/sparty182020/' target='_blank') here
        |  to see what I am working on!
    include ../defaults/footer.pug
