doctype html
html(lang='en')
  head
    include ../defaults/header.pug
    script(src='/js/fs/cornhole.js')
  include ../defaults/nav.pug
  div(main='')
    #player1
      .display
        h1.name Player 1
      .score
        h2(rs='')
          | Round: 
          p#rs1 0
        h2(gs='')
          | Game: 
          p#gs1 0
      .point
        button.score.onboard(onclick='gameEvent(1,1)')
          | Land on board
          br
          | (+1)
        button.score.inhole(onclick='gameEvent(1,2)')
          | Land in hole
          br
          | (+3)
        button.score.slidehole(onclick='gameEvent(1,3)' nac='')
          | Slide into hole
          br
          | (1 =&gt; 3)
        button.score.slideoff(onclick='gameEvent(1,4)' nac='')
          | Slide off
          br
          | (1 =&gt; 0)
        button.score.miss(onclick='gameEvent(1,5)')
          | Miss
          br
          | (+0)
    split(vert='')
    #player2
      .display
        h1.name Player 2
      .score
        h2(rs='')
          | Round: 
          p#rs2 0
        h2(gs='')
          | Game: 
          p#gs2 0
      .point
        button.score.onboard(onclick='gameEvent(2,1)')
          | Land on board
          br
          | (+1)
        button.score.inhole(onclick='gameEvent(2,2)')
          | Land in hole
          br
          | (+3)
        button.score.slidehole(onclick='gameEvent(2,3)' nac='')
          | Slide into hole
          br
          | (1 =&gt; 3)
        button.score.slideoff(onclick='gameEvent(2,4)' nac='')
          | Slide off
          br
          | (1 =&gt; 0)
        button.score.miss(onclick='gameEvent(2,5)')
          | Miss
          br
          | (+0)
  button.submit(onclick='submit()') Submit Scores
  include ../defaults/footer.pug
