doctype html
html(lang='en')
  head
    include ../defaults/header.pug
    // Script
    script.
      class Counter {
        constructor() {
          this.ti = 0;
          this.ci = 0;
        }
        addMouseHit() {
          document.getElementById("click_counter").innerHTML = this.ci++;
        }
        addKeyHit() {
          document.getElementById("type_counter").innerHTML = this.ti++;
        }
      }

      const x = new Counter();

      function load() {
        //Full Text Area
        document.onkeypress = function () {
          x.addKeyHit();
        };
        //Full Click Area
        document.onclick = function () {
          x.addMouseHit();
        };
      }

      screen.orientation.lock('portrait-primary');
  include ../defaults/nav.pug
  body(onload='load()')
    .main
      #typing
        h1
          | Type Here
          icon.md-36(type='1') keyboard
        p.counter
          | Keys hit: 
          span#type_counter 0
      #clicking
        h1
          | Click Here
          icon.md-36(type='1') mouse
        p.counter
          | Clicks: 
          span#click_counter 0
    include ../defaults/footer.pug
