doctype html
html(lang='en')
  head
    include ../defaults/header.pug
  body(class="font-assistant bg-zinc-950 text-slate-100")
    include ../defaults/nav.pug
    div(class="p-5 flex flex-col mx-auto gap-3 md:w-[900px] md:gap-5")
      div
        h1(class="font-tenorite-bold") Welcome to FemDevs!
        p
          | We are a passionate team who love creating elegant and powerful web and software solutions. 
          | Our team of skilled and talented developers is ready to take on any project and deliver 
          | top-notch results that exceed your expectations.
      div
        h2(class="font-tenorite-bold") Our Services
        ul(class="list-disc pl-6 md:pl-8")
          li Web Development
          li Mobile App Development 
          li Game Development 
          li Custom Software Solutions
          li UI/UX Design
          li 24/7 Hosting 
          li And more!
      div
        h2(class="font-tenorite-bold") Contact Us
        p
          | Ready to start your next project with us? Feel free to 
          a(href='/socials') Get in touch!
          |  and we'll be more than happy to discuss your requirements and provide a free quote.

    include ../defaults/footer.pug