doctype html
html
  head
    include ../defaults/header.pug
  body.bg-neutral-200
    include ../defaults/nav.pug
    h1#pdstitle Poland Destruction Simulator
    .container
      #map 
        p#gameOver Game Over!
      button#startButton Start Game
      button#destroyButton Destroy!
      #stats
        p#score Score: 0
        p#timeLeft Time Left: 15
        p#personalBest Personal Best: 0
    script(src="assets/js/fs/pds.js")
