doctype html
html(lang='en')
  head
    include ../defaults/header.pug
  body
    include ../defaults/nav.pug
    .container
      h1.title Check us out, and contact us!
      ul.social-links
        li
          a(href='https://discord.gg/t5YRPwfECH', target='_blank')
            img(src='/assets/images/static/discord-icon.png')
            | Join us on Discord
        li
          a(href='https://x.com/officialfemdevs', target='_blank')
            img(src='/assets/images/static/twitter-icon.png')
            | Follow us on Twitter
        li
          a(href='https://github.com/femdevs', target='_blank')
            img(src='/assets/images/static/github-icon.png')
            | Check out our GitHub
        li
          a(href='mailto:support@thefemdevs.com', target='_blank')
            img(src='/assets/images/static/email-icon.png')
            | Email us for support: support@thefemdevs.com
        li
          a(href='mailto:projects@thefemdevs.com', target='_blank')
            img(src='/assets/images/static/email-icon.png') 
            | Inquire about projects: inquries@thefemdevs.com
      p 
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima dolorum tempore sed explicabo? Ad omnis veniam nam debitis, eos eveniet odit ipsam non sit ratione facilis, incidunt fuga quod totam nemo quasi quis sequi. Explicabo quisquam suscipit at quia, sint eos veritatis ipsum esse, corrupti magni facilis iste saepe quo aliquid fugiat quaerat nulla accusantium repellendus possimus beatae minima. Nesciunt doloribus natus voluptatibus laboriosam soluta consequatur, vel distinctio rerum explicabo error aspernatur maxime qui totam sit debitis porro at perspiciatis quas ullam sed? Porro, alias. Quibusdam delectus esse adipisci vel architecto maxime consequatur veritatis beatae, commodi optio corporis minima quia deserunt aperiam perspiciatis eligendi natus aspernatur ab accusamus voluptatum dicta est. Iste illum exercitationem nulla iure explicabo fugit aliquam, nostrum officiis incidunt delectus voluptatibus repellendus corrupti repellat quibusdam sequi pariatur ipsum mollitia alias quisquam, adipisci ab possimus beatae ex voluptatum! Sit, facere soluta. Eos explicabo deleniti magnam veritatis possimus eligendi laudantium repellendus esse dolorem ut commodi culpa rem et blanditiis minus, tenetur aperiam, dolor magni dignissimos asperiores saepe. Dolores minus fugiat assumenda, sunt unde, laborum eveniet ea odio harum placeat praesentium accusamus incidunt alias non! Aliquid fugit, iusto omnis impedit, ipsam laboriosam fugiat rerum voluptas eligendi atque obcaecati non praesentium temporibus sequi, et nam corrupti consequuntur. Corrupti et voluptas praesentium quis recusandae assumenda asperiores dolores unde quod officia ex, deleniti possimus soluta est exercitationem libero culpa! Autem iure placeat optio, architecto amet est cumque vitae? Repellat modi perspiciatis libero autem eligendi dolore iure sapiente ullam necessitatibus dolorem voluptatibus cupiditate magnam numquam eius dolor quaerat, dolores veritatis asperiores reiciendis illo quae unde soluta. Illum, sunt, consequuntur, laboriosam doloribus nobis fugiat repudiandae id ex aspernatur ipsa incidunt consequatur saepe corporis iure magnam repellendus laborum reiciendis ea deleniti fugit enim pariatur? Perferendis ipsam autem officiis expedita id! Voluptatum non, at aspernatur, nulla debitis ullam aliquid, aut eligendi temporibus necessitatibus assumenda excepturi id quo itaque. Sequi beatae nam velit nostrum atque inventore possimus tenetur delectus fuga explicabo porro deserunt odit dolor veritatis provident consequuntur officia, assumenda a voluptatum quae. Libero ab asperiores, accusamus modi nam vero architecto ullam ad illo quibusdam, necessitatibus at quam, minus impedit rem illum sequi praesentium tenetur laborum! Deserunt blanditiis vel ex in, vitae nisi ipsa inventore tempore nobis, explicabo odit? Cumque incidunt qui, assumenda magni repellat, quisquam, quod dolores inventore omnis asperiores suscipit laudantium explicabo earum voluptates ea enim aspernatur? Qui cumque inventore voluptate ea? Totam dolore ipsam placeat, eveniet reiciendis magni? Exercitationem placeat nostrum eligendi nesciunt modi ipsa odio quis quae, eveniet, architecto, dicta error nisi saepe illum voluptatem beatae autem. Fugiat cum quibusdam consequatur dolore illo ad doloremque nihil iure incidunt atque, ex itaque, ipsum, optio numquam ipsam quos. Itaque deserunt nemo aperiam vero illum recusandae quasi quas blanditiis eos doloremque, accusamus esse! Numquam incidunt blanditiis natus in asperiores neque vero, sit dicta fugiat optio facere! Dolore, deleniti voluptates minima laboriosam tempore illum libero, placeat fuga quaerat molestias sed rerum. Consequuntur sint ab ex molestias asperiores magni, nihil libero. Quam laboriosam qui expedita veniam, inventore quidem. Laudantium?

    include ../defaults/footer.pug