doctype html
html(lang='en')
  head
    include ../defaults/header.pug
  body
    include ../defaults/nav.pug
    .container
      h1.title Check us out, and contact us!
      ul.social-links
        li
          a(href='https://discord.gg/t5YRPwfECH', target='_blank')
            img(src='/assets/images/static/discord-icon.png')
            | Join us on Discord
        li
          a(href='https://x.com/officialfemdevs', target='_blank')
            img(src='/assets/images/static/twitter-icon.png')
            | Follow us on Twitter
        li
          a(href='https://github.com/femdevs', target='_blank')
            img(src='/assets/images/static/github-icon.png')
            | Check out our GitHub
        li
          a(href='mailto:support@thefemdevs.com', target='_blank')
            img(src='/assets/images/static/email-icon.png')
            | Email us for support: support@thefemdevs.com
        li
          a(href='mailto:projects@thefemdevs.com', target='_blank')
            img(src='/assets/images/static/email-icon.png') 
            | Inquire about projects: inquries@thefemdevs.com

    include ../defaults/footer.pug