doctype html
html(lang='en')
  head
    include ../defaults/header.pug
    script(defer='' src='/js/fs/toolbox.js')
  body(onload='setup()')
    include ../defaults/nav.pug
    #toolbox-container
      h1(rbt='') Benjamin&apos;s Coding Toolbox
      .innerdiv
        button(onclick='Util.writeClipboard(1)') Copy Code Part #1
        button(onclick='Util.writeClipboard(2)') Copy Code Part #2
        button(onclick='Util.writeClipboard(3)') Copy Code Part #3
        button(onclick='Util.writeClipboard(4)') Copy Code Part #4
        button(onclick='Util.writeClipboard(5)') Copy Code Part #5
    lb
    include ../defaults/locked.pug
    include ../defaults/footer.pug
