doctype html
html(lang="en")
  head
    title Alex
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="og:title" content="Alex's Website :3")
    meta(property="og:description" content="Welcome to my website, I hope you enjoy it!")
    meta(property="og:image" content="https://avatars.githubusercontent.com/u/106552893?v=4")
    meta(property="og:url" content="https://alex.thefemdevs.com/")
    meta(property="og:type" content="website")
    link(rel="icon" href="/cdn/img/webicon.png" type="image/x-icon")
    link(href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="/cdn/css/index" type="text/css")
    script(src="https://kit.fontawesome.com/7cffc2ccb5.js" crossorigin="anonymous")
    script.
      const q = (e) => document.querySelector(e);
      window.onload = () => {
        setTimeout(() => {q('.loading-screen').style.display = 'none';q('.loading-screen').classList.add('fade-out'); q('.loading-screen').addEventListener('transitionend', () => { q('.loading-screen').style.display = 'none' }) }, 2000);
        q('.menu-icon').addEventListener('click', () => { q('.header-menu').classList.toggle('open'); q('.menu').classList.toggle('active') });
      }
    script(type="application/ld+json").
      {
        "@context": "https://schema.org/",
        "@type": "Person",
        "name": "Alex",
        "url": "https://auxiliaryfrfr.com",
        "image": "",
        "sameAs": [
          "https://github.com/auxiliaryfrfr",
          "https://auxiliaryfrfr.com"
        ],
        "jobTitle": "Owner",
        "worksFor": {
          "@type": "Organization",
          "name": "The FemDevs"
        }
      }
  body
    .loading-screen
      .loading-content
        img(src="/cdn/img/webicon.png" alt="Astolfo")
        h1 Welcome to auxiliaryfrfr.com!
    header
      nav
        .menu-icon
          span.bar
          span.bar
          span.bar
        ul.menu
          li
            a(href="#main") Main
          li
            a(href="#socials") Socials
          li
            a(href="#femdevs") FemDevs
          li
            a(href="#language") Language
          li
            a(href="#interests") Interests
    section#main.sect
      h1 Hai, I'm Alex! :3 (She/They)
      p A 16 year old, transgender, pansexual person with lots of passion and enthusiasm. Learn even more about me below!
    section#socials.sect
      h2 Connect with Me
      p You can find most of my socials here, if you're interested in contacting me
      .social-icons
        .obj#o1
          a(href="https://discord.com/users/1112774630416076850").fab.fa-discord
            p.txt Discord
        .obj#o2
          a(href="https://www.instagram.com/auxiliaryfrfr/").fab.fa-instagram
            p.txt Instagram
        .obj#o3
          a(href="https://github.com/auxiliaryfrfr").fab.fa-github
            p.txt Github
        .obj#o4
          a(href="https://open.spotify.com/user/31a3c3jitxf3fde24p5ohiqfrmnm").fab.fa-spotify
            p.txt Spotify
        .obj#o5
          a(href="https://twitter.com/auxiliaryfrfr").fab.fa-twitter
            p.txt Twitter
        .obj#o6
          a(href="https://thefemdevs.com").fas.fa-users
            p.txt FemDevs
        .obj#o7
          a(href="https://en.pronouns.page/@auxiliaryfrfr").fas.fa-users
            p.txt Pronouns Page
        .obj#o8
          a(href="https://www.youtube.com/channel/UCfK45ILqng9SMe7EcCzd57g").fab.fa-youtube
            p.txt Youtube
        .obj#o9
          a(href="https://www.snapchat.com/add/auxiliaryfrfr").fab.fa-snapchat
            p.txt Snapchat
        .obj#o10
          a(href="https://www.last.fm/user/auxiliaryfrfr").fab.fa-lastfm
            p.txt Last.fm
        .obj#o11
          a(href="https://www.threads.net/@auxiliaryfrfr").fab.fa-threads
            p.txt Threads
        .obj#o12
          a(href="mailto:alex@thefemdevs.com").fas.fa-envelope
            p.txt Email
    section#femdevs.sect
      h2 FemDevs
      p
        | My journey extends into the world of entrepreneurship. As a co-owner of 
        strong
          a(href="https://thefemdevs.com") FemDevs, 
        | along with my fellow owners, colleagues, and most importantly, friends, Oblong and Ben. I'm committed to helping talented individuals, regardless of gender, to thrive in the tech industry.
    section#language.sect
      h2 Language Proficiency
      p
        | Beyond coding, I'm also talented in many other areas, like language.
        | I am fluent in both English and Arabic. Additionally, I'm currently learning French.
        | I've found a passion for translation. As a dedicated member of the 
        strong
          a(href="https://en.pronouns.page/") Pronouns Page 
        | team, I contribute my expertise as an Arabic translator, to make it more inclusive and diverse.
    section#interests.sect
      h2 General Interests
      p.
        I have loved cooking, and the culinary world since I was child.
        Additionaly, although I'm not great at it, I love playing the piano.
        I also love spending my free time either watching movies or films, or playing video games
        As well as socializing with friends and hanging out :D
