include ../../defaults/mixins.pug
doctype html
html(lang="en")
	head
		+meta(0)
		+canonical(meta.canonical)
		+meta(3, 'X-UA-Compatible', "IE%e%edge")
		+meta(3, 'Content-Type', 'text/html; charset%e%utf-8')
		+meta(1, 'viewport', 'width%e%device-width, initial-scale%e%1.0')
		+meta(1, 'google', 'nositelinkssearchbox')
		+meta(1, 'title', meta.title)
		+meta(1, 'description', meta.desc)
		+meta(2, 'og:url', meta.url)
		+meta(2, 'og:title', meta.title)
		+meta(2, 'og:description', meta.desc)
		+meta(2, 'twitter:url', meta.url)
		+meta(2, 'twitter:title', meta.title)
		+meta(2, 'twitter:description', meta.desc)
		+meta(2, 'og:image', 'https://cdn.thefemdevs.com/assets/images/grav/ad7cc897aef0988a7f7039f16417008b')
		+meta(2, 'og:type', 'website')
		+meta(1, 'language', 'en-us')
		+meta(1, 'revisit-after', '2 days')
		+meta(2, 'twitter:card', 'summary_large_image')
		+meta(2, 'twitter:image', 'https://cdn.thefemdevs.com/assets/images/grav/ad7cc897aef0988a7f7039f16417008b')
		+meta(1, 'apple-mobile-web-app-status-bar-style', 'black')
		+meta(1, 'apple-mobile-web-app-title', 'The FemDevs Website')
		+meta(1, 'google-adsense-account', 'ca-pub-1906373468377810')
		+headerlink('https://cdn.thefemdevs.com/assets/images/grav/ad7cc897aef0988a7f7039f16417008b', 'apple-touch-icon', 'image/png')
		+headerlink('https://cdn.thefemdevs.com/assets/images/grav/ad7cc897aef0988a7f7039f16417008b', 'icon', 'image/png')
		+headerlink('https://cdn.thefemdevs.com/assets/css/d', 'stylesheet', 'text/css')
		+headerlink('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css', 'stylesheet', 'text/css')
		+headerlink('https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css', 'stylesheet', 'text/css')
		+headerlink('https://fonts.googleapis.com/icon?family=Material+Icons', 'stylesheet', 'text/css')
		+headerlink('https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined', 'stylesheet', 'text/css')
		title= meta.title
		script(type="application/ld+json").
			{
				"@context": "https://schema.org/",
				"@type": "Person",
				"name": "Alex",
				"url": "https://alex.thefemdevs.com",
				"image": "https://cdn.thefemdevs.com/assets/images/grav/ad7cc897aef0988a7f7039f16417008b",
				"sameAs": [
					"https://github.com/auxiliaryfrfr",
					"https://en.pronouns.page/@auxiliaryfrfr",
					"https://auxiliaryfrfr.com",
					"https://alex.thefemdevs.com"
				],
				"jobTitle": "Owner",
				"worksFor": {
					"@type": "Organization",
					"name": "The FemDevs"
				}
			}
	body(class='bg-gray-100 font-sans leading-normal tracking-normal')
		.container(class='mx-auto px-4')
			.max-w-3xl(class='mx-auto bg-white shadow-lg rounded-lg overflow-hidden mt-10')
				.p-6
					.flex.flex-col.items-center.justify-center
						img(src='https://cdn.thefemdevs.com/assets/images/grav/ad7cc897aef0988a7f7039f16417008b' alt='Alex' class='p-8 rounded-full w-1/2')
					h1.text-3xl.font-bold.mb-4.text-gray-800 About Me
					.text-gray-700.mb-4
						p.
							Hai, I'm Alex! (She/They), an exceptionally silly 17 year old :3
					h2.text-2xl.font-semibold.mb-4.text-gray-800 FemDevs
					.text-gray-700.mb-4
						p.
							As a co-owner of #[strong #[a(href="https://thefemdevs.com") FemDevs]],
							I'm committed to helping everyone thrive in the coding world, regardless of gender. 
							We also strive to make new and unique projects for people worldwide.
					h2.text-2xl.font-semibold.mb-4.text-gray-800 Language Proficiency
					.text-gray-700.mb-4
						p.
							I'm fluent in both English and Arabic, and I'm all for learning new languages.
							I've found a passion for translation
							as a member of the #[strong #[a(href="https://en.pronouns.page/") Pronouns Page]] team,
							where we're dedicated to making the Arab world more inclusive and open.
					h2.text-2xl.font-semibold.mb-4.text-gray-800 General Intrests
					.text-gray-700.mb-4
						p.
							I have loved cooking since I was child, and I like learning new recipes all the time.
							And while I might not be great at it, I play video games, when I have some extra free time.
							I also enjoy playing badminton, and hanging out with close friends, even though I'm socially anxious.
					h2(class='text-2xl font-semibold mb-4 text-gray-800') Current Statuses
					.text-gray-700.mb-4.grid.grid-cols-1.grid-rows-2.justify-evenly.place-items-center
						div#discord.m-4.grid.justify-center.place-items-center
							p Discord: 
							p#discordstatus.font-semibold.text-center
							p#discordactivity.font-semibold.text-center
						div#spotify.m-4.grid.justify-center.place-items-center
							p Spotify: 
							p#spotifytrack.font-semibold.text-center
							p#spotifyartist.font-semibold.text-center
							p#spotifyalbum.font-semibold.text-center
					h2(class='text-2xl font-semibold mb-4 text-gray-800') Social Media
					.grid.grid-cols-2.grid-rows-6.justify-evenly.place-items-center(class="md:grid-cols-6 md:grid-rows-2 sm:grid-cols-4 sm:grid-rows-3")
						+socials("discord", "https://discord.com/users/1112774630416076850", "Discord", "alex")
						+socials("instagram", "https://www.instagram.com/auxiliaryfrfr/", "Instagram", "alex")
						+socials("github", "https://github.com/auxiliaryfrfr", "GitHub", "alex")
						+socials("spotify", "https://open.spotify.com/user/31a3c3jitxf3fde24p5ohiqfrmnm", "Spotify", "alex")
						+socials("twitter", "https://twitter.com/auxiliaryfrfr", "Twitter", "alex")
						+socials("code", "https://thefemdevs.com", "The FemDevs", "alex")
						+socials("users", "https://en.pronouns.page/@auxiliaryfrfr", "Pronouns.Page", "alex")
						+socials("youtube", "https://www.youtube.com/channel/UCfK45ILqng9SMe7EcCzd57g", "YouTube", "alex")
						+socials("snapchat", "https://www.snapchat.com/add/auxiliaryfrfr", "Snapchat", "alex")
						+socials("lastfm", "https://www.last.fm/user/auxiliaryfrfr", "LastFM", "alex")
						+socials("envelope", "mailto:alex@thefemdevs.com", "Email", "alex")
		script(src='/cdn/js/script')
