include ../../mixins.pug
doctype html
html(lang="en")
	head
		+header()
		script(src="https://cdn.jsdelivr.net/npm/preline@latest/dist/index.js")
	body
		+adminNav()
		<main id="content">
			<div class="max-w-[85rem] mx-auto py-10 px-4 sm:px-6 lg:px-8">
				<h1 class="text-3xl font-semibold text-gray-900">Welcome to the Admin Panel</h1>
				<p class="mt-2 text-gray-600">This is the admin panel for the application. You can manage your application from here.</p>
			</div>
		</main>
<!-- ========== END MAIN CONTENT ========== -->