doctype html
html(lang='en')
  head
    include ../defaults/header.pug
  body.bg-neutral-200
    include ../defaults/nav.pug
    content.flex.flex-col.items-center.justify-center
      hero.flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8(class='md:my-16')
        .flex.w-full.flex-col.space-y-4
          h1.text-5xl.text-neutral-900 Icons
          .flex.flex-col.space-y-6
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Reds
            .grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/lightred')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Light Red
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/red')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Red
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/darkred')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Dark Red
          .flex.flex-col.space-y-6
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Oranges
            .grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/lightorange')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Light Orange
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/orange')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Orange
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/darkorange')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Dark Orange
          .flex.flex-col.space-y-6
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Yellows
            .grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/yellow')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Yellow
          .flex.flex-col.space-y-6
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Greens
            .grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/lightgreen')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Light Green
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/green')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Green
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/darkgreen')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Dark Green
          .flex.flex-col.space-y-6
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Blues
            .grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/lightblue')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Light Blue
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/blue')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Blue
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/darkblue')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Dark Blue
          .flex.flex-col.space-y-6
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Purples
            .grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/lightpurple')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Light Purple
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/purple')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Purple
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/darkpurple')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Dark Purple
          .flex.flex-col.space-y-6
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Pinks
            .grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/lightpink')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Light Pink
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/pink')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Pink
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/darkpink')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Dark Pink
          .flex.flex-col.space-y-6
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Others
            .grid.grid-cols-1.gap-4(class='md:grid-cols-2 xl:grid-cols-3')
              div.group.flex.flex-col.rounded-xl.bg-white.transition-all(class='hover:ring-1 hover:ring-brand-black hover:drop-shadow-xl')
                img.h-32.rounded-t-xl.object-cover.transition-all(src='/assets/images/icon/default')
                .space-y-1.p-4
                  h3.select-none.font-poppins.text-xl.font-medium.text-neutral-900 Default (Black)
            

    include ../defaults/footer.pug