@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

@font-face {
    font-family: "assistant";
    src: url(../fonts/Assistant1.ttf);
}
@font-face {
    font-family: "tenoriteRegular";
    src: url(../fonts/tenoriteRegular.ttf);
}
@font-face {
    font-family: "tenoriteBold";
    src: url(../fonts/tenoriteBold.ttf);
}