doctype html
html(lang='en-us')
  include ../defaults/header.pug
  body.bg-neutral-200
    include ../defaults/nav.pug
    content.flex.flex-col.items-center.justify-center
      hero.flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8(class='md:my-16')
        .flex.w-full.flex-col.space-y-8
          .flex.w-full.flex-col.space-y-4
            h1.select-none.font-poppins.text-5xl.font-bold.text-neutral-900 Contributors
            h3.select-none.font-poppins.text-xl.text-neutral-900 Last Updated 11th Febuary 2024
          .flex.w-full.flex-col.space-y-4
            h2.select-none.font-poppins.text-3xl.font-bold.text-neutral-900 The following people have contributed to the website
            h3.select-none.font-poppins.text-xl.text-neutral-900
              a.font-bold(href="https://github.com/therealbenpai" target="_blank").text-cyan-700 @therealbenpai
              |  - FemDevs Owner, Head Developer, Lead Documenter, Contributor, Maintainer, Community Manager, Head of Security
            h3.select-none.font-poppins.text-xl.text-neutral-900
              a.font-bold(href="https://github.com/auxiliaryfrfr" target="_blank").text-cyan-700 @auxiliaryfrfr
              |  - FemDevs Owner, Developer, Contributor, Maintainer, Community Manager
            h3.select-none.font-poppins.text-xl.text-neutral-900
              a.font-bold(href="https://github.com/oblong101" target="_blank").text-cyan-700 @oblong101
              |  - FemDevs Owner, Developer, Contributor, Maintainer, Community Manager
    include ../defaults/footer.pug