include ../mixins.pug
doctype html
html(lang='en-us')
	head
		+header()
	body.bg-neutral-200
		+nav()
		content.flex.flex-col.items-center.justify-center
			hero.flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8(class='md:my-16')
				.flex.w-full.flex-col.space-y-8
					.flex.w-full.flex-col.space-y-4
						h1.select-none.font-poppins.text-5xl.font-bold.text-neutral-900 Contributing Policy
						p.select-none.font-poppins.text-xl.text-neutral-900 Last Updated 11th Febuary 2024
					.flex.w-full.flex-col.space-y-4
						h2.select-none.font-poppins.text-3xl.font-bold.text-neutral-900 How to Contribute to the Repository
						p.select-none.font-poppins.text-xl.text-neutral-900.
							To contribute to this repository, please follow the following steps:
							#[br]
							1. #[em.select-none.font-poppins.text-xl.text-neutral-900.font-bold Fork] this repository and edit it on your own repository.
							#[br]
							2. If you would like to have them merged, make a #[em.select-none.font-poppins.text-xl.text-neutral-900.font-bold pull request] to this repository that includes a detailed explanation of the changes you made as well as an accurate and concise title.
							#[br]
							3. Upon creating the pull request, GitHub will automaticlly request a review from both the #[a.font-bold.text-cyan-700(href="https://github.com/orgs/femdevs/teams/admin" target="_blank") developers] and the #[a.font-bold.text-cyan-700(href="https://github.com/orgs/femdevs/teams/code-review" target="_blank") code reviewers] to #[em.select-none.font-poppins.text-xl.text-neutral-900.font-bold review] your code and pull request information and then decide if the code is ready and is of high enough quality to be merged.
						p.select-none.font-poppins.text-xl.text-neutral-900.font-bold For more information, please contact us at #[a.font-bold.text-cyan-700(href="mailto:support@thefemdevs.com" target="_blank") this email address] and explain.
		+footer()