include ../mixins.pug
doctype html
html(lang='en-us')
	head
		+header()
	body.bg-neutral-200
		+nav()
		content.flex.flex-col.items-center.justify-center
			hero.flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8(class='md:my-16')
				.flex.w-full.flex-col.space-y-4
					h1.select-none.font-poppins.text-5xl.font-medium.text-neutral-900 Contributing to Open Source
					h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 Introduction
					p.select-none.font-poppins.text-xl.text-neutral-900.
						Here at FemDevs, we believe that code should be open-sourced.
						#[br]
						With very few exceptions (such as paid commissions), all code should be available to the public.
						#[br]
						Open-sourced codebases have been shown to be more updated and in reality secure than propriatary codebases which don't allow users to view the code and create public bug fixes. Along with that, it also can help new developers learn how to program. For these reasons and many more, we have made this website open-source on GitHub.
						#[br]
						To access it, head to our #[a(href='https://github.com/femdevs/femdev-website' target='_blank').text-cyan-700 official website repository] and follow our guide on #[a(href='https://oss.thefemdevs.com/contributing').text-cyan-700 how to contributing to our open source repository].
		+footer()