doctype html
html(lang='en')
  include ../defaults/header.pug
  body.bg-neutral-200
    include ../defaults/nav.pug
    content.flex.flex-col.items-center.justify-center
      hero.flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8(class='md:my-16')
        .flex.w-full.flex-col.space-y-8
          .flex.w-full.flex-col.space-y-4
            h1.select-none.font-poppins.text-5xl.font-medium.text-neutral-900 Cookie Policy
            h3.select-none.font-poppins.text-xl.text-neutral-900 Last Updated 1st September 2023
          .flex.w-full.flex-col.space-y-4
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 1. Introduction
            h3.select-none.font-poppins.text-xl.text-neutral-900 At thefemdevs.com ("we", "us", "our"), we believe in being clear and open about how we collect and use data related to you. This policy provides detailed information about how and when we use cookies.
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 2. Does our site use cookies?
            h3.select-none.font-poppins.text-xl.text-neutral-900 Yes. We use cookies and other technologies to ensure everyone who uses our website has the best possible experience.
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 3. What is a cookie?
            h3.select-none.font-poppins.text-xl.text-neutral-900 A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 4. Why do we use cookies?
            h3.select-none.font-poppins.text-xl.text-neutral-900 We use cookies for several reasons. Some cookies are required for technical reasons in order for our website to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies enable us to track and target the interests of our users and to enhance the experience on our website. Third parties serve cookies through our website for analytics and other purposes.
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 5. How can you control cookies?
            h3.select-none.font-poppins.text-xl.text-neutral-900 You have the right to decide whether to accept or reject cookies. You can exercise your cookie preferences by adjusting your browser settings to refuse cookies or to indicate when a cookie is being sent. However, please note that if you choose to refuse cookies, you may not be able to use the full functionality of our website.
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 6. Updates to this policy
            h3.select-none.font-poppins.text-xl.text-neutral-900 We may update this Cookie Policy from time to time in order to reflect changes to the cookies we use or for other operational, legal, or regulatory reasons. Please revisit this Cookie Policy regularly to stay informed about our use of cookies and related technologies.
            h2.select-none.font-poppins.text-3xl.font-medium.text-neutral-900 8. Contact Us
            h3.select-none.font-poppins.text-xl.text-neutral-900 If you have any questions or concerns regarding these Terms, please contact us at 
              a.font-medium(href="mailto:legal@thefemdevs.com") legal@thefemdevs.com
              | .
            h3.select-none.font-poppins.text-xl.text-neutral-900 By using the Website, you acknowledge that you have read, understood, and agreed to these Terms of the Cookie Policy. If you do not agree to these Terms, please refrain from accessing or using the Website.
    include ../defaults/footer.pug