include ../../mixins.pug
include ./oblongMixins.pug

doctype html
html(lang='en-us')
	head
		+meta(0)
		+meta(1, 'viewport', "width%e%device-width")
		+meta(2, 'og:url', "https://oblong101.com")
		+meta(2, 'og:title', 'Oblong\'s Website')
		+meta(2, 'og:description', 'Oblong\'s personal website')
		+meta(2, 'og:image', 'https://github.com/Oblong101.png')
		+headerlink(href="/cdn/css/index" rel="stylesheet" type="text/css")
		+headerlink(href="/cdn/css/window-styling" rel="stylesheet" type="text/css")
		+headerlink(href="/cdn/img/site-icon.png" rel="icon" type="image/png")
		title Oblong's Page
	body

    +menuBar()

    +windowElement(title="Test")
        p Testing page
