include ../../mixins.pug
doctype html
html(lang='en-us')
	head
		+meta(0)
		+meta(1, 'viewport', "width%e%device-width")
		+meta(2, 'og:url', "https://oblong101.com")
		+meta(2, 'og:title', 'Oblong\'s Website')
		+meta(2, 'og:description', 'Oblong\'s personal website')
		+meta(2, 'og:image', 'https://github.com/Oblong101.png')
		+headerlink(href="/cdn/css/index" rel="stylesheet" type="text/css")
		+headerlink(href="/cdn/css/window-styling" rel="stylesheet" type="text/css")
	body
    nav
        a(href="https://oblong.thefemdevs.com/")
            img(src="/cdn/imgs/house-icon.png" alt="macOS-esque house icon that links to the homepage" width="16" height="16")

    main
        div
            .window-container
                .window-titlebar
                    .titlebar-title
                        .window-title
                .window-content
                    p
                        | Guh (test commit)