include ../../mixins.pug
doctype html 
html(lang='en-us') 
	head 
		+meta(0)
		+meta(1, 'viewport', "width%e%device-width")
		+meta(2, 'og:url', "https://oblong101.com")
		+meta(2, 'og:title', 'Oblong\'s Website')
		+meta(2, 'og:description', 'Oblong\'s personal website')
		+meta(2, 'og:image', 'https://github.com/Oblong101.png')
		+headerlink('https://cdn.thefemdevs.com/assets/css/d', 'stylesheet', 'text/css')
		+headerlink('https://fonts.googleapis.com/css2?family=Inter&display=swap', 'stylesheet', 'text/css')
		+headerlink('https://ka-f.fontawesome.com/releases/v6.5.1/css/free.min.css?token=7cffc2ccb5', 'stylesheet', 'text/css')(crossorigin='anonymous')
		+headerlink('https://ka-f.fontawesome.com/releases/v6.5.1/css/free-v5-font-face.min.css?token=7cffc2ccb5', 'stylesheet', 'text/css')(crossorigin='anonymous')
	body.font-inter
		section:
			h1 Hey, I&#39;m Oblong
			p I am an artist, a web developer, and I&#39;m dabbling in game development.
		section
			p If you&#39;re interested, you can find me in these places: 
			div
				i.fa-regular.fa-envelope
				i.fa-brands.fa-discord