doctype html 
html(lang='en-us') 
  head 
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    meta(property="og:url" content="https://oblong101.com")
    meta(property="og:title" content="Oblong's Website")
    meta(property="og:description" content="Oblong's personal website")
    meta(property="og:image" content="https://github.com/Oblong101.png")
    link(rel="stylesheet" href="https://cdn.thefemdevs.com/assets/css/d" type="text/css")
    link(href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://ka-f.fontawesome.com/releases/v6.5.1/css/free.min.css?token=7cffc2ccb5" crossorigin="anonymous")
    link(rel="stylesheet" href="https://ka-f.fontawesome.com/releases/v6.5.1/css/free-v5-font-face.min.css?token=7cffc2ccb5" crossorigin="anonymous")
  body.font-inter
    section
      h1 Hey, I&#39;m Oblong
    section
      p 
        | I am an artist, a web developer, and I&#39;m dabbling in game development.
    section
      p 
        | If you&#39;re interested, you can find me in these places: 
      div
        div 
          i.fa-regular.fa-envelope
        div 
          i.fa-brands.fa-discord

      