mixin menuBar()
	nav
		a(href="/")
			img(src="/cdn/img/house-icon.png" alt="macOS-esque house icon that links to the homepage" width="16" height="16")
		p Safari
		p File
		p Edit
		p View
		p Help

mixin windowElement(title)
    .window-container
        .window-titlebar
            .titlebar-title
     			.window-title
    				p= title
        .window-content
            if block
                block
            else
                p No content provided
