hero.flex.w-full.justify-center.bg-neutral-900.p-12.text-neutral-100
  .flex.w-full.max-w-6xl.flex-col.space-y-8.divide-y.divide-brand-primary.divide-neutral-700.px-8
    .flex.flex-col.justify-between.space-y-4(class='md:flex-row md:space-x-4 md:space-y-0')
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium About
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/about') About
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/team') Team
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/products') Products
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Community
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/redirect?dest=https%3A%2F%2Fdiscord.gg%2FFgQvDW8jtr') Discord
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/redirect?dest=https%3A%2F%2Fx.com%2Fofficialfemdevs') Twitter
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/redirect?dest=https%3A%2F%2Finstagram.com%2Fofficialfemdevs') Instagram
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/redirect?dest=https%3A%2F%2Ftiktok.com%2F%40femdevs') TikTok
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/redirect?dest=https%3A%2F%2Freddit.com%2Fr%2Ffemdevs') Reddit
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/redirect?dest=https%3A%2F%2Ffemboyland.eu%2Fview-persons-profile%2Ffemdevs') FemboyLand
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Company
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/branding') Branding
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://thefemdevs.com/careers') Careers
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='mailto:support@thefemdevs.com' rel="noreferrer" target="_blank") Contact
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Legal
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://legal.thefemdevs.com/terms') Terms
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://legal.thefemdevs.com/privacy') Privacy
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300' href='https://legal.thefemdevs.com/cookies') Cookies
    .flex.flex-row.items-center.justify-between.pt-8
      h2.select-none.font-poppins.text-lg FemDevs &copy; 2024
      .flex.flex-row.items-center.justify-center.space-x-4
        if status == "down"
          h2.select-none.font-poppins.text-base Service Status: Down
          span.relative.flex.rounded-full.bg-red-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
            span.absolute.flex.animate-ping.rounded-full.bg-red-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
        else if status == "degraded"
          h2.select-none.font-poppins.text-base Service Status: Degraded
          span.relative.flex.rounded-full.bg-yellow-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
            span.absolute.flex.animate-ping.rounded-full.bg-yellow-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
        else if status == "maintenance"
          h2.select-none.font-poppins.text-base Service Status: Maintenance
          span.relative.flex.rounded-full.bg-blue-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
            span.absolute.flex.animate-ping.rounded-full.bg-blue-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
        else if status == "up"
          h2.select-none.font-poppins.text-base Service Status: Up
          span.relative.flex.rounded-full.bg-green-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
            span.absolute.flex.animate-ping.rounded-full.bg-green-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
        else
          h2.select-none.font-poppins.text-base Service Status: Unknown
          span.relative.flex.rounded-full.bg-gray-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
            span.absolute.flex.animate-ping.rounded-full.bg-gray-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")