hero.flex.w-full.justify-center.bg-neutral-900.p-12.text-neutral-100
  .flex.w-full.max-w-6xl.flex-col.space-y-8.divide-y.divide-brand-primary.divide-neutral-700.px-8
    .flex.flex-col.justify-between.space-y-4(class='md:flex-row md:space-x-4 md:space-y-0')
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium About
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/about') About
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/team') Team
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/products') Products
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Community
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300',href='https://discord.gg/FgQvDW8jtr') Discord
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300',href='https://x.com/officialfemdevs') Twitter
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300',href='https://instagram.com/femdevs') Instagram
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300',href='https://tiktok.com/@femdevs') TikTok
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300',href='https://femboyland.eu/view-persons-profile/femdevs') FemboyLand
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Company
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/branding') Branding
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/carrers') Carrers
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='mailto:support@thefemdevs.com' rel="noreferrer" target="_blank") Contact
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Legal
        .flex.flex-col.space-y-0
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/legal/terms') Terms
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/legal/privacy') Privacy
          a.select-none.font-poppins.text-lg.text-neutral-100.transition-all(class='hover:text-neutral-300', href='/legal/cookies') Cookies
    .flex.flex-row.items-center.justify-between.pt-8
      h2.select-none.font-poppins.text-lg FemDevs &copy; 2023
      .flex.flex-row.items-center.justify-center.space-x-4
        h2.select-none.font-poppins.text-lg Service Status
        span.relative.flex.rounded-full.bg-green-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")
          span.absolute.flex.animate-ping.rounded-full.bg-green-500(class="min-h-[12px] min-w-[12px] max-h-[12px] max-w-[12px]")