include ./mixins.pug
hero.flex.w-full.justify-center.bg-neutral-900.p-12.text-neutral-100
  .flex.w-full.max-w-6xl.flex-col.space-y-8.divide-y.divide-brand-primary.divide-neutral-700.px-8
    .flex.flex-col.justify-between.space-y-4(class='md:flex-row md:space-x-4 md:space-y-0')
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium About
        .flex.flex-col.space-y-0
          +mainlink('https://thefemdevs.com/about', 'About')
          +mainlink('https://thefemdevs.com/team', 'Team')
          +mainlink('https://thefemdevs.com/products', 'Products')
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Community
        .flex.flex-col.space-y-0
          +mainlink('https://discord.gg/FgQvDW8jtr', 'Discord')
          +mainlink('https://x.com/officialfemdevs', 'Twitter')
          +mainlink('https://instagram.com/officialfemdevs', 'Instagram')
          +mainlink('https://tiktok.com/@femdevs', 'TikTok')
          +mainlink('https://reddit.com/r/femdevs', 'Reddit')
          +mainlink('https://femboyland.eu/view-persons-profile/femdevs', 'FemboyLand')
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Company
        .flex.flex-col.space-y-0
          +mainlink('https://thefemdevs.com/branding', 'Branding')
          +mainlink('https://thefemdevs.com/careers', 'Careers')
          +mainlink('mailto:support@thefemdevs.com', 'Contact')(rel="noreferrer" target="_blank")
      .flex.flex-col.space-y-2
        h2.select-none.font-poppins.text-xl.font-medium Legal
        .flex.flex-col.space-y-0
          +mainlink('https://legal.thefemdevs.com/terms', 'Terms')
          +mainlink('https://legal.thefemdevs.com/privacy', 'Privacy')
          +mainlink('https://legal.thefemdevs.com/cookies', 'Cookies')
    .flex.flex-row.items-center.justify-between.pt-8
      h2.select-none.font-poppins.text-lg FemDevs &copy; 2024
      .flex.flex-row.items-center.justify-center.space-x-4
        case status
          when "down"
            +status("Down", "red")
          when "degraded"
            +status("Degraded", "yellow")
          when "maintenance"
            +status("Under Maintenance", "blue")
          when "up"
            +status("Up", "green")
          default
            +status("Unknown", "gray")