include ./mixins.pug
script(defer src='https://cdn.thefemdevs.com/assets/js/ga')
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
+metav1('viewport', 'width%e%device-width, initial-scale%e%1.0')
+metav1('google', 'nositelinkssearchbox')
if meta
  +metav1('title', meta.title)
  +metav1('description', meta.desc)
  +metav2('og:url', meta.url)
  +metav2('og:title', meta.title)
  +metav2('og:description', meta.desc)
  +metav2('twitter:url', meta.url)
  +metav2('twitter:title', meta.title)
  +metav2('twitter:description', meta.desc)
  title= meta.title
+metav1('author', 'The FemDevs')
+metav1('keywords', 'femdevs, femboys, development, benpai, oblong, oblong101, alex, auxiliaryfrfr')
+metav1('language', 'en-us')
+metav1('revisit-after', '2 days')
+metav2('og:type', 'website')
+metav2('og:image', 'https://cdn.thefemdevs.com/assets/misc/thumbnail')
+metav2('twitter:card', 'summary_large_image')
+metav2('twitter:image', 'https://cdn.thefemdevs.com/assets/misc/thumbnail')
+metav1('apple-mobile-web-app-status-bar-style', 'black')
+metav1('apple-mobile-web-app-title', 'The FemDevs Website')
+metav1('google-adsense-account', 'ca-pub-1906373468377810')
+headerlink('https://cdn.thefemdevs.com/assets/images/cus', 'apple-touch-icon', 'image/png')
+headerlink('https://cdn.thefemdevs.com/assets/images/deficon', 'icon', 'image/svg+xml')
+headerlink('https://cdn.thefemdevs.com/assets/css/d', 'stylesheet', 'text/css')
script(type='application/ld+json').
  {
    "@context": "https://schema.org",
    "@type": "Project",
    "name": "The FemDevs",
    "alternateName": "FemDevs",
    "url": "https://thefemdevs.com",
    "logo": "https://thefemdevs.com/assets/images/deficon",
    "sameAs": "https://github.com/femdevs"
  }