include ./mixins.pug
script(defer src='https://cdn.thefemdevs.com/assets/js/ga')
+meta(0)
+meta(3, 'X-UA-Compatible', "IE%e%edge")
+meta(3, 'Content-Type' 'text/html; charset=utf-8')
+meta(1, 'viewport', 'width%e%device-width, initial-scale%e%1.0')
+meta(1, 'google', 'nositelinkssearchbox')
if meta
  +meta(1, 'title', meta.title)
  +meta(1, 'description', meta.desc)
  +meta(2, 'og:url', meta.url)
  +meta(2, 'og:title', meta.title)
  +meta(2, 'og:description', meta.desc)
  +meta(2, 'twitter:url', meta.url)
  +meta(2, 'twitter:title', meta.title)
  +meta(2, 'twitter:description', meta.desc)
  title= meta.title
+meta(1, 'author', 'The FemDevs')
+meta(1, 'keywords', 'femdevs, femboys, development, benpai, oblong, oblong101, alex, auxiliaryfrfr')
+meta(1, 'language', 'en-us')
+meta(1, 'revisit-after', '2 days')
+meta(2, 'og:type', 'website')
+meta(2, 'og:image', 'https://cdn.thefemdevs.com/assets/misc/thumbnail')
+meta(2, 'twitter:card', 'summary_large_image')
+meta(2, 'twitter:image', 'https://cdn.thefemdevs.com/assets/misc/thumbnail')
+meta(1, 'apple-mobile-web-app-status-bar-style', 'black')
+meta(1, 'apple-mobile-web-app-title', 'The FemDevs Website')
+meta(1, 'google-adsense-account', 'ca-pub-1906373468377810')
+headerlink('https://cdn.thefemdevs.com/assets/images/cus', 'apple-touch-icon', 'image/png')
+headerlink('https://cdn.thefemdevs.com/assets/images/deficon', 'icon', 'image/svg+xml')
+headerlink('https://cdn.thefemdevs.com/assets/css/d', 'stylesheet', 'text/css')
script(type='application/ld+json').
  {
    "@context": "https://schema.org",
    "@type": "Project",
    "name": "The FemDevs",
    "alternateName": "FemDevs",
    "url": "https://thefemdevs.com",
    "logo": "https://thefemdevs.com/assets/images/deficon",
    "sameAs": "https://github.com/femdevs"
  }