.sticky.top-0.z-30.flex.flex-row.items-center.justify-center.bg-white
  .flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8
    img.h-12(src='/assets/images/icon' alt='FemDevs Logo' async='')
    .flex.hidden.flex-row.items-center.space-x-6(class='md:flex')
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800' href='/') Home
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800' href='/about') About
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800' href='/products') Products
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800' href='mailto:support@thefemdevs.com' rel="noreferrer" target="_blank") Contact
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800' href='/redirect?dest=https%3A%2F%2Fdonate.stripe.com%2F6oE3ge8OU6hS93OcMM') Donate
