.sticky.top-0.z-30.flex.flex-row.items-center.justify-center.bg-white
  .flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8
    img.h-12(src='https://cdn.thefemdevs.com/assets/images/icon' alt='FemDevs Logo' async='')
    .flex.hidden.flex-row.items-center.space-x-6(class='md:flex')
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800', href='https://thefemdevs.com/') Home
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800', href='https://thefemdevs.com/about') About
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800', href='https://thefemdevs.com/products') Products
      a.select-none.font-poppins.text-lg.transition-all(class='hover:text-neutral-800', href='mailto:support@thefemdevs.com' rel="noreferrer" target="_blank") Contact