.navigation
  nav
    ul
      case page
        when 1
          li.selected Home
          li
            a(href='/socials') Socials
        when 2
          li
            a(href='/') Home
          li.selected Socials
        default
          li
            a(href='/') Home
          li
            a(href='/socials') Socials