nav 
  menu
    ul
      li.menu-item.main-menu 
        a.menubase(href="#") 
          icon.material-symbols-outlined(type='1')  menu
        ul.drop-menu
          li.drop-menu-item
            a(href='/') Home
          li.drop-menu-item
            a(href='/socials') Socials