.sticky.top-0.z-30.flex.flex-row.items-center.justify-center.bg-white
  .flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8
    img.h-12(src='https://cdn.thefemdevs.com/assets/images/icon' alt='FemDevs Logo' async='')
    .flex.hidden.flex-row.items-center.space-x-6(class='md:flex')
      +navlink('https://thefemdevs.com', 'Home')
      +navlink('https://thefemdevs.com/about', 'About')
      +navlink('https://thefemdevs.com/products', 'Products')
      +navlink('mailto:support@thefemdevs.com', 'Contact')(rel="noreferrer" target="_blank")