.navigation
  nav
    ul
      case page
        when 1
          li.selected Home
          li
            a(href='/about-me') About Me
          li
            a(href='/game') Game
          li
            a(href='/socials') Socials
        when 2
          li
            a(href='/') Home
          li.selected About Me
          li
            a(href='/game') Game
          li
            a(href='/socials') Socials
        when 3
          li
            a(href='/') Home
          li
            a(href='/about-me') About Me
          li.selected Game
          li
            a(href='/socials') Socials
        when 4
          li
            a(href='/') Home
          li
            a(href='/about-me') About Me
          li
            a(href='/game') Game
          li.selected Socials
        default
          li
            a(href='/') Home
          li
            a(href='/about-me') About Me
          li
            a(href='/game') Game
          li
            a(href='/socials') Socials