mixin nav()
  .sticky.top-0.z-30.flex.flex-row.items-center.justify-center.bg-white
    .flex.w-full.max-w-6xl.flex-row.items-center.justify-between.p-8
      img.h-12(src='https://cdn.thefemdevs.com/assets/images/icon' alt='FemDevs Logo' async='')
      .flex.hidden.flex-row.items-center.space-x-6(class='md:flex')
        +navlink('https://thefemdevs.com', 'Home')
        +navlink('https://thefemdevs.com/about', 'About')
        +navlink('https://thefemdevs.com/products', 'Products')
        +navlink('mailto:support@thefemdevs.com', 'Contact')(rel="noreferrer" target="_blank")
mixin footer()
  hero.flex.w-full.justify-center.bg-neutral-900.p-12.text-neutral-100
    .flex.w-full.max-w-6xl.flex-col.space-y-8.divide-y.divide-brand-primary.divide-neutral-700.px-8
      .flex.flex-col.justify-between.space-y-4(class='md:flex-row md:space-x-4 md:space-y-0')
        .flex.flex-col.space-y-2
          h2.select-none.font-poppins.text-xl.font-medium About
          .flex.flex-col.space-y-0
            +mainlink('https://thefemdevs.com/about', 'About')
            +mainlink('https://thefemdevs.com/team', 'Team')
            +mainlink('https://thefemdevs.com/products', 'Products')
        .flex.flex-col.space-y-2
          h2.select-none.font-poppins.text-xl.font-medium Community
          .flex.flex-col.space-y-0
            +mainlink('https://discord.gg/FgQvDW8jtr', 'Discord')
            +mainlink('https://x.com/officialfemdevs', 'Twitter')
            +mainlink('https://instagram.com/officialfemdevs', 'Instagram')
            +mainlink('https://tiktok.com/@femdevs', 'TikTok')
            +mainlink('https://reddit.com/r/femdevs', 'Reddit')
            +mainlink('https://femboyland.eu/view-persons-profile/femdevs', 'FemboyLand')
        .flex.flex-col.space-y-2
          h2.select-none.font-poppins.text-xl.font-medium Company
          .flex.flex-col.space-y-0
            +mainlink('https://thefemdevs.com/branding', 'Branding')
            +mainlink('https://thefemdevs.com/careers', 'Careers')
            +mainlink('mailto:support@thefemdevs.com', 'Contact')(rel="noreferrer" target="_blank")
        .flex.flex-col.space-y-2
          h2.select-none.font-poppins.text-xl.font-medium Legal
          .flex.flex-col.space-y-0
            +mainlink('https://legal.thefemdevs.com/terms', 'Terms')
            +mainlink('https://legal.thefemdevs.com/privacy', 'Privacy')
            +mainlink('https://legal.thefemdevs.com/cookies', 'Cookies')
      .flex.flex-row.items-center.justify-between.pt-8
        h2.select-none.font-poppins.text-lg FemDevs &copy; 2024
        .flex.flex-row.items-center.justify-center.space-x-4
          case status
            when 1: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-green-500(title='Service Status: All Systems Functional'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-green-500
            when 2: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-red-500(title='Service Status: System Outage Detected'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-red-500
            when 3: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-yellow-500(title='Service Status: System Preformance Degraded'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-yellow-500
            when 4: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-blue-500(title='Service Status: System is Under Maintenance'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-blue-500
            default: span.relative.flex.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-gray-500(title='Service Status: Unknown'): span.absolute.flex.animate-ping.rounded-full.min-h-3.max-h-3.min-w-3.max-w-3.bg-gray-500
mixin header()
  script(defer src='https://cdn.thefemdevs.com/assets/js/ga')
  +meta(0)
  +meta(3, 'X-UA-Compatible', "IE%e%edge")
  +meta(3, 'Content-Type', 'text/html; charset%e%utf-8')
  +meta(1, 'viewport', 'width%e%device-width, initial-scale%e%1.0')
  +meta(1, 'google', 'nositelinkssearchbox')
  if meta
    +meta(1, 'title', meta.title)
    +meta(1, 'description', meta.desc)
    +meta(2, 'og:url', meta.url)
    +meta(2, 'og:title', meta.title)
    +meta(2, 'og:description', meta.desc)
    +meta(2, 'twitter:url', meta.url)
    +meta(2, 'twitter:title', meta.title)
    +meta(2, 'twitter:description', meta.desc)
    title= meta.title
  +meta(1, 'author', 'The FemDevs')
  +meta(1, 'keywords', 'femdevs, femboys, development, benpai, oblong, oblong101, alex, auxiliaryfrfr')
  +meta(1, 'language', 'en-us')
  +meta(1, 'revisit-after', '2 days')
  +meta(2, 'og:type', 'website')
  +meta(2, 'og:image', 'https://cdn.thefemdevs.com/assets/misc/thumbnail')
  +meta(2, 'twitter:card', 'summary_large_image')
  +meta(2, 'twitter:image', 'https://cdn.thefemdevs.com/assets/misc/thumbnail')
  +meta(1, 'apple-mobile-web-app-status-bar-style', 'black')
  +meta(1, 'apple-mobile-web-app-title', 'The FemDevs Website')
  +meta(1, 'google-adsense-account', 'ca-pub-1906373468377810')
  +headerlink('https://cdn.thefemdevs.com/assets/images/cus', 'apple-touch-icon', 'image/png')
  +headerlink('https://cdn.thefemdevs.com/assets/images/deficon', 'icon', 'image/svg+xml')
  +headerlink('https://cdn.thefemdevs.com/assets/css/d', 'stylesheet', 'text/css')
  script(type='application/ld+json').
    {
      "@context": "https://schema.org",
      "@type": "Project",
      "name": "The FemDevs",
      "alternateName": "FemDevs",
      "url": "https://thefemdevs.com",
      "logo": "https://thefemdevs.com/assets/images/deficon",
      "sameAs": "https://github.com/femdevs"
    }