/* Custom Tags */
[hover] {
    border-radius: 9999px;
    padding: 16px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.8),
        5px 5px 10px rgba(0, 0, 0, 0.25);
}

[hover="bump_in"]:hover {
    animation: bump_in var(--bump-time) linear 0s 1 normal;
    animation-fill-mode: forwards;
}

[hover="bump_out"]:hover {
    animation: bump_out var(--bump-time) linear 0s 1 normal;
    animation-fill-mode: forwards;
}

[glow] {
    font-size: calc(4rem * var(--gscale));
    background-color: var(--trans);
    color: white;
    box-shadow: calc(2px * var(--gscale)) calc(2px * var(--gscale)) calc(2px * var(--gscale)) var(--bk),
        calc(10px * var(--gscale)) calc(2px * var(--gscale)) calc(12px * var(--gscale)) var(--bk),
        calc(2px * var(--gscale)) calc(2px * var(--gscale)) calc(10px * var(--gscale)) var(--bk),
        calc(2px * var(--gscale)) calc(2px * var(--gscale)) calc(3px * var(--gscale)) var(--bk),
        inset calc(2px * var(--gscale)) calc(2px * var(--gscale)) calc(10px * var(--gscale)) var(--bk),
        inset calc(2px * var(--gscale)) calc(2px * var(--gscale)) calc(10px * var(--gscale)) var(--bk),
        inset calc(2px * var(--gscale)) calc(2px * var(--gscale)) calc(10px * var(--gscale)) var(--bk),
        inset calc(2px * var(--gscale)) calc(2px * var(--gscale)) calc(10px * var(--gscale)) var(--bk);
    border-radius: calc(14.5px * var(--gscale));
    padding: calc(7.5px * var(--gscale));
    margin: calc(20px * var(--gscale));
    animation: hue_rotate var(--rot-time) linear infinite;
    text-shadow: 0 0 calc(50px * var(--gscale)) var(--lb),
        0 0 calc(100px * var(--gscale)) var(--lb),
        0 0 calc(150px * var(--gscale)) var(--lb),
        0 0 calc(200px * var(--gscale)) var(--lb);
    width: calc(64px * var(--gscale));
    height: calc(64px * var(--gscale));
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Animation Managers */
@keyframes bump_in {
    from {
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2),
            5px 5px 10px rgba(0, 0, 0, 0.25);
    }

    to {
        box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.2),
            1px 1px 5px rgba(0, 0, 0, 0.3),
            inset -2px -2px 5px rgba(255, 255, 255, 0.8),
            inset 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
}

@keyframes bump_out {
    from {
        box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.2),
            5px 5px 10px rgba(0, 0, 0, 0.25);
    }

    to {
        box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5),
            1px 1px 5px rgba(0, 0, 0, 0.3);
    }
}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes hue_rotate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes rainbow {
    from {
        background-position: 0% 50%
    }

    to {
        background-position: 100% 25%
    }
}

@keyframes scale-up-center {
    to {
        transform: scale(1.1);
    }
}

@keyframes ball-bounce {
    0% {
        transform: scale(1, 0.7)
    }

    40% {
        transform: scale(0.8, 1.2)
    }

    60% {
        transform: scale(1, 1)
    }

    100% {
        bottom: 140px
    }
}

@keyframes loading-step {
    0% {
        box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #fff,
            -35px 50px 0 #fff,
            -70px 90px 0 #fff;
    }

    100% {
        box-shadow: 0 10px 0 #fff,
            -35px 50px 0 #fff,
            -70px 90px 0 #fff,
            -70px 90px 0 rgba(0, 0, 0, 0);
    }
}