noticearea {
    background: rgba(255, 10, 10, 0.5);
    position: absolute;
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    padding: 8px;
    left: 2%;
    right: 2%;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

notice {
    position: relative;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 425;
}

notice>icon[type="3"] {
    transform: translateY(20%);
}

lb {
    display: block;
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: var(--trans);
    color: var(--trans);
}

error {
    position: relative;
    background-color: rgba(255, 0, 0, 0.4);
    text-align: center;
}

errormsg {
    color: orangered;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 1000;
}

errormsg::before,
errormsg::after {
    content: "  ❌  ";
}

error p {
    font-size: 32px;
    font-family: 'Assistant';
    font-weight: 1000;
}

error p::before {
    content: "DETAILS: ";
}