/* Navigation Management */
nav {
    padding-bottom: 10px;
}

menu>ul, .drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

menu {
    display: unset;
    list-style-type: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
}

.menu-item {
    align-self: center;
    display: inline-block;
    background-color: #4285f4;
    position: absolute;
    left: 100%;
    transform: translateX(-120%);
}

.main-menu {
    display: block;
    padding: 0px 0.5675%;
    margin: 0;
    width: max-content;
    height: max-content;
    border: 1px solid black;
    border-radius: 5px;
}

.menu-item a {
    text-decoration: none;
    padding: 10px;
    color: black;
    display: block;
}

.drop-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    right: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.drop-menu-item {
    width: 100%;
}

.drop-menu-item:hover {
    background-color: #eee;
}

.drop-menu-item a {
    color: #555;
}

.menu-item:hover .drop-menu {
    margin-top: 0px;
    display: block;
}

#menu-icon {
    transform: translateY(5%);
    font-size: 24px;
}

/* SVG Background */

html {
    background: white !important;
}

/* Extras */

.title {
    color: black;
    font-size: 48px;
    font-size: bolder;
}

strong,
i,
strike,
b,
del,
ins,
dfn,
em,
s {
    font-style: normal;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background: linear-gradient(135deg, rgba(0, 0, 127, 0.3) 33%, rgba(127, 00, 127, 0.3) 66%, rgba(127, 0, 0, 0.3)) !important;
    color: rgba(4, 4, 4, 1);
    border: 2px solid rgba(18, 18, 18, 0.625);
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.8em;
}