/* Fonts */
@font-face {
    font-family: 'Assistant';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/f/Assisstant1.ttf') format('truetype')
        url('/assets/f/Assisstant1.woff2') format('woff2')
        url('/assets/f/Assisstant2.ttf') format('truetype')
        url('/assets/f/Assisstant2.woff2') format('woff2');
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/f/materialIcons.woff2') format('woff2');
}

@font-face {
    font-family: "IcoFont";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/f/icofont.woff2") format("woff2"),
        url("/assets/f/icofont.woff") format("woff");
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/f/materialSymbolsOutlined.woff2") format('woff2');
}

@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/f/materialSymbolsSharp.woff2") format('woff2');
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/f/materialSymbolsRounded.woff2") format('woff2');
}

icon[type="3"] {
    font-weight: normal;
    font-style: normal;
    font-size: var(--ifs);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 40;
}

icon[type="3"][outline] {
    font-family: 'Material Symbols Outlined';
}

icon[type="3"][rounded] {
    font-family: 'Material Symbols Rounded';
}

icon[type="3"][sharp] {
    font-family: 'Material Symbols Sharp';
}

icon[type="2"] {
    font-family: 'IcoFont';
    font-style: normal;
    font-weight: normal;
    font-size: var(--ifs);
    line-height: 1;
    font-variant: normal;
    text-transform: none;
    display: default;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    transform: translateY(25%);
}

icon[type="1"] {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: var(--ifs);
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    transform: translateY(23%);
}

[dark] {
    color: var(--dark700);
}

[dark][inactive] {
    color: var(--dark300);
}