#login {
    border: 3px solid black;
    border-radius: 8px;
    padding: 16px;
    width: 500px;
    height: 200px;
    background: var(--dark200);
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#login>label {
    font-size: 32px;
    margin-bottom: 15px;
}

#login>input {
    height: 20px;
    border: 2px solid green;
    border-radius: 4px;
    bottom: 3px;
    position: relative;
    font-size: 16px;
}

#login>label,
#login>input {
    top: 10%
}

#login>input:focus {
    background-color: #4B4B4B;
    border: 2px solid green;
    border-radius: 4px;
}

#pswCheck {
    font-size: 32px;
}

#pswCheck>icon[type="3"] {
    transform: translateY(8px);
}

#blocker {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    display: block;
    visibility: visible;
}