:root {
    --bg: #1D4E89;
    --bk: rgba(0, 0, 0, 0.5);
    --lb: rgba(0, 114, 255, 1);
    --gscale: 1;
    --gts: 125ms;
    --rot-multi: 60;
    --rot-time: calc(var(--gts) * var(--rot-multi));
    --bump-multi: 0.5;
    --bump-time: calc(var(--gts) * var(--bump-multi));
    --rtb: linear-gradient(45deg, red, blue);
    --dark000: #696969;
    --dark100: #545454;
    --dark200: #4B4B4B;
    --dark300: #454545;
    --dark400: #404040;
    --dark500: #353535;
    --dark600: #272727;
    --dark700: #1A1A1A;
    --dark800: #121212;
    --dark900: #040404;
    --trans: rgba(0, 0, 0, 0);
    --mvw: 100vw;
    --mvh: 100vh;
    --ma: 100%;
    --ifs: 36px;
    --translatec: translate(-50%, -50%);
    --text: rgb(242, 248, 237);
    --background: rgb(5, 5, 5);
    --primary: rgb(48, 70, 62);
    --secondary: rgb(9, 42, 30);
    --accent: rgb(69, 176, 121);
    min-width: var(--mvw);
    width: var(--mvw);
    max-width: var(--mvw);
    height: var(--mvh);
    font-family: 'Assistant', 'Comic Sans', sans-serif, monospace, serif;
    color: var(--text);
}