openapi: "3.0.0"
info:
  version: "3.2.0"
  title: "FemDevs API Documentation"
  description: |-
    The documentation for the FemDevs API.
    Do note that some routes have permission-based requirements that your user must be quilified for in order to access them.
    Check the description for each route in case you are unsure.

    Permissions Overrides:

    The following permissions will bypass all permissions unless its marked otherwise:
    * `Global::Role.Developer`
    * `Global::Role.Administrator`
    * `Global::Role.Owner`
  termsOfService: "https://legal.thefemdevs.com/terms"
  contact:
    name: "FemDevs"
    url: "https://thefemdevs.com"
    email: "support@thefemdevs.com"
  license:
    name: "GNU Affero General Public License v3.0"
    url: "https://www.gnu.org/licenses/agpl-3.0.en.html"
servers:
  - url: "https://api.thefemdevs.com"
    description: "Production Server"
paths:
  /user/get:
    get:
      operationId: "GetUser"
      description: |-
        Gets the user information for the user with the given ID.
        Returns the user information if the user exists, otherwise returns an error.

        Permissions Required: `Global::User.Read` unless requesting own information"
      summary: "Get User Info by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get information for"
          schema:
            type: string
          example: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
      responses:
        200:
          description: "The user information for the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetUserInfoResponse"
              examples:
                user:
                  summary: "Example User"
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    username: "JohnDoe0001"
                    fullName: "John Doe"
                    email: "example@example.com"
                    permissions: 0
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  summary: "Missing UID Header"
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-User:
                  summary: "Invalid UID Header"
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /user/update:
    patch:
      operationId: "UpdateUser"
      description: |-
        Updates the user information for the user with the given ID.
        Returns the user information if the user exists, otherwise returns an error.

        Permissions Required: `Global::User.Write` unless updating own user information with few field exceptions
      summary: "Update User Info by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get information for"
          schema:
            type: string
          example: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
      requestBody:
        description: "The new user information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserInfo"
            examples:
              displayname:
                value:
                  displayname: "newDisplayName"
              email:
                value:
                  email: "newEmail@example.com"
              password:
                value:
                  password: "newPassword"
              perms:
                value:
                  perms: "0:0:1;0:0:2"
      responses:
        200:
          description: "Successful Response"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateUserInfoResponse"
              examples:
                displayname:
                  summary: "Update Response for Display Name"
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseuid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "newDisplayName"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                email:
                  summary: "Update Response for Email"
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseuid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "newEmail@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                password:
                  summary: "Update Response for Password"
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseuid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 0
                perms:
                  summary: "Update Response for Permissions"
                  value:
                    id: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    updatedUser:
                      id: 19
                      firebaseuid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      firstname: "John"
                      lastname: "Doe"
                      displayname: "JohnDoe0001"
                      email: "example@example.com"
                      dateofbirth: "2000-01-01"
                      permissions: 0
                      betaAccess: 1
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  summary: "Missing UID Header"
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-User:
                  summary: "Invalid UID Header"
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested resource"
        500:
          description: "Unable to update user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 16
                    message: "Unable to update user"
      security:
        - APIToken: []
  /user/create:
    post:
      operationId: "CreateUser"
      description: |-
        Creates a user using the provided information.
        Returns the user information if successful, otherwise returns an error.

        Permissions Required: `Global::User.Create`
      summary: "Create a User"
      requestBody:
        description: "The new user information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUserInfo"
            example:
              value:
                username: "JohnDoe0001"
                firstname: "John"
                lastname: "Doe"
                email: "example@example.com"
                password: "ARandomPassword"
      responses:
        201:
          description: "The user information for the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateUserInfoResponse"
              examples:
                user:
                  summary: "Example User"
                  value:
                    user:
                      uid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      email: "example@example.com"
                      emailVerified: false
                      displayName: "JohnDoe0001"
                      disabled: false
                      metadata:
                        lastSignInTime: "null"
                        creationTime: "Sat, 23 Sep 2023 16:06:10 GMT"
                        lastRefreshTime: "null"
                      tokensValidAfterTime: "Sat, 23 Sep 2023 16:06:10 GMT"
                      providerData:
                        - uid: "example@example.com"
                          displayName: "JohnDoe0001"
                          email: "example@example.com"
                          providerId: "password"
                    username: "JohnDoe0001"
                    fullName: "John Doe"
                    email: "example@example.com"
                    permissions: 0
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
        500:
          description: "Unable to create user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 15
                    message: "Unable to create user"
      security:
        - APIToken: []
  /user/delete:
    delete:
      operationId: "DeleteUser"
      description: |-
        Deletes the user with the given ID.
        Returns `true if successful, otherwise returns an error.

        Permissions Required: `Global::User.Delete`
      summary: "Delete User by ID"
      parameters:
        - in: "header"
          name: "x-uid"
          description: "The Firebase UID of the user to get delete"
          schema:
            type: string
          example: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
      responses:
        200:
          description: "The successful notification of the deletion"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteUserInfoResponse"
              examples:
                deleted:
                  summary: "User Deleted"
                  value:
                    uid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    deleted: true
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  summary: "Missing UID Header"
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-User:
                  summary: "Invalid UID Header"
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested resource"
        500:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 17
                    message: "Unable to delete requested user"
      security:
        - APIToken: []
  /crypto/enc:
    get:
      operationId: "CryptographyEnc"
      description: |-
        API Endpoint for encrypting data

        Permissions Required: `Cryptography::Encrypt`
      summary: "Encryption Endpoint"
      parameters:
        - in: "query"
          name: "data"
          description: "The data to encrypt"
          example: "testing"
          schema:
            type: string
      responses:
        200:
          description: "The Encrypted Data"
          content:
            plain/text:
              schema:
                type: string
              examples:
                data:
                  summary: "Encrypted Data"
                  value: "Pc6W8_h9XSg8LVhZ8yAP4vtui0sJIMNmC_E18ee9JBQyEmBPLZBDz5Jx745u31Pbr2EkS9Z2S8oFB02uwzpWtt3PH48HE-Wj27VkpvV1glrpZ0f_cW0Ema-gT-6S675xCgb9cy0ZTx3rH-kzuVZXaOwrMjMJTVe7ZpyH8zyUNHnDo0xvkhq9Z523azZm1mq1rcJWMJl8iCuZc6TQp5E2-4xiAZF59ZCZyQCtzxryPzX6aR5ENBvBVdkOaNWtmjWc9ZM5Ni9PXc2cVGbi5IDo6RvX5KuU2DUvGpIKvf15xLptPXZPLNtU4syXjXI4vA03EpV1-Dqs6H7FrtXLAu9M5Q7NxaSxynr4oyJC7CzIXJtJVUwrFN9I-zSJCcR9rE90XzolaWICUjfhSkMtPBTkr_ibNFcyPhG-oaMPGuc1Hb8gJzEDDtWTGPZdV2rbGJIw3XBi_h80fj8F_DQujSGsbo2DmBwSF-PZtKG5WHK9cf3rWCIxF1Sc5Hhkd-HnhrFrSv30Kjvede88MmofhchsS9cEn4eFF7rfj35blLBxGKBKzhS0k_k7FWQznK6J24lfUR_Gtkz3IJlTcqQN-ixucjHdI58xheVETAg_PkK3KZIwgabxQRSz96JUANyEPIPdodIF2f4PpEMomjYp8mCc_0F26uUSgsm9_LcJvC9oNZU"
        400:
          description: "Error With Encryption (Client Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                no-data:
                  summary: "Missing Data Parameter"
                  value:
                    code: 6
                    message: "Missing Query Parameter(s)"
                invalid-data:
                  summary: "Invalid Data Parameter"
                  value:
                    code: 7
                    message: "Invalid Query Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        500:
          description: "Error With Encryption (Server Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 12
                    message: "Unable to encrypt data"
      security:
        - APIToken: []
  /crypto/dec:
    get:
      operationId: "CryptographyDecr"
      description: |-
        API Endpoint for decrypting data

        Permissions Required: `Cryptography::Decrypt`
      summary: "Decryption Endpoint"
      parameters:
        - in: "query"
          name: "data"
          description: "The data to decrypt"
          schema:
            type: string
          example: 'Pc6W8_h9XSg8LVhZ8yAP4vtui0sJIMNmC_E18ee9JBQyEmBPLZBDz5Jx745u31Pbr2EkS9Z2S8oFB02uwzpWtt3PH48HE-Wj27VkpvV1glrpZ0f_cW0Ema-gT-6S675xCgb9cy0ZTx3rH-kzuVZXaOwrMjMJTVe7ZpyH8zyUNHnDo0xvkhq9Z523azZm1mq1rcJWMJl8iCuZc6TQp5E2-4xiAZF59ZCZyQCtzxryPzX6aR5ENBvBVdkOaNWtmjWc9ZM5Ni9PXc2cVGbi5IDo6RvX5KuU2DUvGpIKvf15xLptPXZPLNtU4syXjXI4vA03EpV1-Dqs6H7FrtXLAu9M5Q7NxaSxynr4oyJC7CzIXJtJVUwrFN9I-zSJCcR9rE90XzolaWICUjfhSkMtPBTkr_ibNFcyPhG-oaMPGuc1Hb8gJzEDDtWTGPZdV2rbGJIw3XBi_h80fj8F_DQujSGsbo2DmBwSF-PZtKG5WHK9cf3rWCIxF1Sc5Hhkd-HnhrFrSv30Kjvede88MmofhchsS9cEn4eFF7rfj35blLBxGKBKzhS0k_k7FWQznK6J24lfUR_Gtkz3IJlTcqQN-ixucjHdI58xheVETAg_PkK3KZIwgabxQRSz96JUANyEPIPdodIF2f4PpEMomjYp8mCc_0F26uUSgsm9_LcJvC9oNZU'
      responses:
        200:
          description: "The Decrypted Data"
          content:
            plain/text:
              schema:
                type: string
              examples:
                data:
                  summary: "Decrypted Data"
                  value: "testing"
        400:
          description: "Error with Decryption (Client Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                no-data:
                  summary: "Missing Data Parameter"
                  value:
                    code: 6
                    message: "Missing Query Parameter(s)"
                invalid-data:
                  summary: "Invalid Data Parameter"
                  value:
                    code: 7
                    message: "Invalid Query Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        500:
          description: "Error with Decryption (Server Caused)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 13
                    message: "Unable to decrypt data"
      security:
        - APIToken: []
  /token/create:
    post:
      operationId: "CreateToken"
      description: |-
        Creates a token using the provided information.
        Returns the token information if successful, otherwise returns an error.

        Permissions Required: `Global::Token.Create`
      summary: "Create a Token"
      requestBody:
        description: "The new token information"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenCreationRequestBody"
            example:
              value:
                firebaseuid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
      responses:
        201:
          description: "The information on the generated token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenCreationResponse"
              examples:
                token:
                  summary: "Created Token Data"
                  value:
                    token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
        500:
          description: "Unable to create token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 19
                    message: "Unable to create requested token"
      security:
        - APIToken: []
  /token/delete:
    delete:
      operationId: "DeleteToken"
      description: |-
        Deletes the given token.
        Returns `true` if successful, otherwise returns an error.

        Permissions Required: `Global::Token.Delete`
      summary: "Delete Token"
      parameters:
        - in: "query"
          name: "token"
          description: "The token to delete"
          schema:
            type: string
          example: 'afsdjahfljdfhajfkel_fhealufu342_o7ffff7bfew7ofbew.fkdahljekfhuahjfuaeu_awfefudfayvi'
      responses:
        200:
          description: "The successful notification of the deletion"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenDeletionResponse"
              examples:
                deleted:
                  value:
                    message: "Token deleted successfully"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given ID"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
        500:
          description: "Unable to delete token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 21
                    message: "Unable to delete requested token"
      security:
        - APIToken: []
  /token/list:
    get:
      operationId: "ListTokens"
      description: |-
        Lists all API keys along with the information associated with it.
        Returns the list of tokens if successful, otherwise returns an error.

        Permissions Required: `Global::Token.ReadAll`
      summary: "List Tokens"
      responses:
        200:
          description: "The list of tokens"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTokenResponse"
              examples:
                tokens:
                  value:
                    - license: "1234-5678-9012-3456"
                      token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                      associatedfirebaseuid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      username: "JohnDoe0001"
                    - license: "1234-5678-9012-3456"
                      token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                      associatedfirebaseuid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                      username: "JohnDoe0001"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
      security:
        - APIToken: []
  /token/info:
    get:
      operationId: "GetTokenInfo"
      description: |-
        Gets the token information for the given token.
        Returns the token information if the token exists, otherwise returns an error.

        Permissions Required: `Global::Token.Read`
      summary: "Get Token Info"
      parameters:
        - in: "query"
          name: "token"
          description: "The token to get information for"
          schema:
            type: string
          example: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
      responses:
        200:
          description: "The token information for the given token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenData"
              examples:
                token:
                  value:
                    license: "1234-5678-9012-3456"
                    token: "fjkh_fdasABc12.dshfa34287y_FDAS34_2"
                    associatedfirebaseuid: "gPcqw6MAbXbZs6ARohHqT2vapFY2"
                    username: "JohnDoe0001"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
        500:
          description: "Unable to get token information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "An unknown error occurred"
      security:
        - APIToken: []
  /minecraft/hive/player:
    get:
      operationId: "GetHivePlayer"
      description: |-
        Gets the player information for the given username.
        Returns the player information if the player exists, otherwise returns an error.

        Permissions Required: `Minecraft::Hive.Player`
      summary: "Get Hive Player Info"
      parameters:
        - in: "header"
          name: "x-user"
          description: "The Minecraft username of the player to get information for"
          schema:
            type: string
          example: "therealbenpai"
      responses:
        200:
          description: "The player information for the given username"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MinecraftHivePlayerCombinedData"
              examples:
                user:
                  value:
                    hide:
                      xp: 1612
                      played: 13
                      victories: 3
                      first_played: 1600464717
                      deaths: 9
                      hider_kills: 28
                      seeker_kills: 2
                    main:
                      xuid: 2535441321443031
                      username: therealbenpai
                      username_cc: therealbenpai
                      rank: REGULAR
                      first_played: 1597106900
                      daily_login_streak: 0
                      longest_daily_login_streak: 6
                      hub_title_count: 6
                      hub_title_unlocked:
                        - "&cThe Short Sighted"
                        - "&cThe Defender"
                        - "&eAir &aSwimmer"
                        - "&aThe Good Citizen"
                        - "&aThe Snail"
                        - "&eClickety &6Clack"
                      avatar_count: 6
                      avatar_unlocked:
                        - url: https://cdn.playhive.com/avatars/monster-drew.png
                          name: Drew (Monster)
                        - url: https://cdn.playhive.com/avatars/pet-endolotl.png
                          name: Endolotl Pet
                        - url: https://cdn.playhive.com/avatars/monster-harper.png
                          name: Harper (Monster)
                        - url: https://cdn.playhive.com/avatars/monster-reese.png
                          name: Reese (Monster)
                        - url: https://cdn.playhive.com/avatars/monster-riley.png
                          name: Riley (Monster)
                        - url: https://cdn.playhive.com/avatars/grav-zoomies.png
                          name: Zoomies
                      costume_count: 0
                      friend_count: 8
                      equipped_hub_title: "&eClickety &6Clack"
                      equipped_avatar:
                        url: https://cdn.playhive.com/avatars/grav-zoomies.png
                        name: Zoomies
                      quest_count: 20
                      pets:
                        - Rock
                        - Endolotl
                      mounts: []
                      hats: []
                    dr:
                      xp: 4248
                      played: 46
                      victories: 31
                      first_played: 1694643520
                      deaths: 203
                      checkpoints: 264
                      activated: 76
                      kills: 86
                    wars:
                      xp: 1160
                      played: 27
                      first_played: 1612317414
                      final_kills: 5
                      kills: 27
                      treasure_destroyed: 19
                      deaths: 82
                      victories: 1
                    murder:
                      xp: 16914
                      played: 420
                      victories: 308
                      first_played: 1597106959
                      deaths: 192
                      coins: 3193
                      murders: 170
                      murderer_eliminations: 22
                    sg:
                      xp: 65
                      played: 6
                      first_played: 1615497464
                      crates: 40
                      kills: 6
                      deaths: 6
                      cows: 1
                    sky:
                      xp: 320
                      played: 27
                      victories: 5
                      first_played: 1612392245
                      ores_mined: 551
                      deaths: 20
                      kills: 5
                      mystery_chests_destroyed: 1
                      spells_used: 10
                    ctf:
                      xp: 143
                      played: 3
                      victories: 1
                      first_played: 1694295639
                      assists: 4
                      deaths: 7
                      flags_captured: 0
                      kills: 6
                      flags_returned: 1
                    drop:
                      xp: 65
                      played: 1
                      first_played: 1694288117
                      blocks_destroyed: 506
                      powerups_collected: 0
                      vaults_used: 0
                      deaths: 1
                    ground:
                      xp: 0
                      played: 0
                      victories: 0
                      first_played: 0
                      blocks_destroyed: 0
                      powerups_collected: 0
                      vaults_used: 0
                      deaths: 0
                    build:
                      xp: 10
                      played: 2
                      first_played: 1597107129
                      rating_good_received: 5
                      rating_love_received: 0
                      rating_meh_received: 4
                      rating_okay_received: 1
                      rating_great_received: 0
                    party:
                      xp: 1072
                      played: 35
                      victories: 2
                      first_played: 1687883920
                      powerups_collected: 55
                      rounds_survived: 284
                    bridge:
                      xp: 0
                      first_played: 0
                    grav:
                      xp: 658
                      played: 21
                      victories: 7
                      first_played: 1694283594
                      deaths: 413
                      maps_completed: 57
                      maps_completed_without_dying: 15
        400:
          description: "Missing user information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-User:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-User:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given username"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /minecraft/hive/maps:
    get:
      operationId: "GetHiveMaps"
      description: |-
        Gets the list of maps for the given game.
        Returns the list of maps if the game exists, otherwise returns an error.

        Permissions Required: `Minecraft::Hive.Map`
      summary: "Get Hive Maps"
      parameters:
        - in: "header"
          name: "x-game"
          description: "The game to get maps for"
          schema:
            type: string
          example: "hide"
      responses:
        200:
          description: "The list of maps for the given game"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: object
                  $ref: "#/components/schemas/MinecraftHiveMapData"
              examples:
                maps:
                  value:
                    - name: Chroma
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_chroma.jpg
                    - name: Eso Hotel
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_esohotel.jpg
                    - name: Manor
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_manor.jpg
                    - name: Museum
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_museum.jpg
                    - name: Office Party
                      season: WINTERFEST
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_office.winterfest.jpg
                    - name: Office
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_office.jpg
                    - name: Pigment
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_pigment.jpg
                    - name: Remnants
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_remnants.jpg
                    - name: Spaceship
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_spaceship.jpg
                    - name: Ghost House
                      season: HALLOWEEN
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_toyhouse.halloween.jpg
                    - name: Toy House
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_toyhouse.jpg
                    - name: Village
                      season: WINTERFEST
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_village.winterfest.jpg
                    - name: Warehouse
                      season: NO_SEASON
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_warehouse.jpg
                    - name: Witch School
                      season: HALLOWEEN
                      variant: REGULAR
                      image: https://cdn.playhive.com/maps/mm_witchschool.halloween.jpg
        400:
          description: "Missing game information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Game:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Game:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given game"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /dictionary/def:
    get:
      operationId: "GetDictionaryDefinition"
      description: |-
        Gets the definition for the given word.
        Returns the definition if the word exists, otherwise returns an error.

        Permissions Required: `Dictionary::Definition`
      summary: "Get Dictionary Definition"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the definition for"
          schema:
            type: string
          example: "cool"
      responses:
        200:
          description: "The definition for the given word"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: string
              example:
                cool:
                  value:
                    - "moderately cold : lacking in warmth"
                    - "marked by steady dispassionate calmness and self-control"
                    - "lacking ardor or friendliness"
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Word:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /dictionary/syn:
    get:
      operationId: "GetDictionarySynonyms"
      description: |-
        Gets the synonyms for the given word.
        Returns the synonyms if the word exists, otherwise returns an error.

        Permissions Required: `Dictionary::Synonym`
      summary: "Get Dictionary Synonyms"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the synonyms for"
          schema:
            type: string
          example: "smile"
      responses:
        200:
          description: "The synonyms for the given word"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: string
              examples:
                smile:
                  value:
                    syns:
                      - beam
                      - grin
                      - laugh
                      - sneer
                      - snicker
                      - snigger
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Word:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /dictionary/ant:
    get:
      operationId: "GetDictionaryAntonyms"
      description: |-
        Gets the antonyms for the given word.
        Returns the antonyms if the word exists, otherwise returns an error.

        Permissions Required: `Dictionary::Antonym`
      summary: "Get Dictionary Antonyms"
      parameters:
        - in: "header"
          name: "x-word"
          description: "The word to get the antonyms for"
          schema:
            type: string
          example: "happy"
      responses:
        200:
          description: "The antonyms for the given word"
          content:
            application/json:
              schema:
                type: array
                maxItems: 100
                items:
                  type: string
              examples:
                happy:
                  value:
                    ants:
                      - "hapless"
                      - "ill-fated"
                      - "ill-starred"
                      - "luckless"
                      - "star-crossed"
                      - "unfortunate"
                      - "unhappy"
                      - "unlucky"
                      - "displeased"
                      - "dissatisfied"
                      - "joyless"
                      - "sad"
                      - "unhappy"
                      - "unpleased"
                      - "unsatisfied"
                      - "discontent"
                      - "discontented"
                      - "displeased"
                      - "dissatisfied"
                      - "malcontent"
                      - "malcontented"
                      - "unhappy"
                      - "hapless"
                      - "ill-fated"
                      - "ill-starred"
                      - "luckless"
                      - "snakebit"
                      - "star-crossed"
                      - "unfortunate"
                      - "unhappy"
                      - "unlucky"
                      - "improper"
                      - "inapplicable"
                      - "inapposite"
                      - "inappropriate"
                      - "inapt"
                      - "incongruous"
                      - "indecent"
                      - "infelicitous"
                      - "malapropos"
                      - "misbecoming"
                      - "unapt"
                      - "unbecoming"
                      - "unbeseeming"
                      - "unfit"
                      - "unfitting"
                      - "unhappy"
                      - "unmeet"
                      - "unseemly"
                      - "unsuitable"
                      - "wrong"
        400:
          description: "Missing word information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Word:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Word:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given word"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /facts/dog:
    get:
      operationId: "GetDogFact"
      description: |-
        Gets a random dog fact.
        Returns the fact if successful, otherwise returns an error.

        Permissions Required: `Facts::Dog`
      summary: "Get Dog Fact"
      responses:
        200:
          description: "The dog fact"
          content:
            plain/text:
              schema:
                type: string
              examples:
                fact:
                  value: "Dogs have a sense of time. It's been proven that they know the difference between a hour and five. If conditioned to, they can predict future events, such as regular walk times."
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
      security:
        - APIToken: []
  /facts/cat:
    get:
      operationId: "GetCatFact"
      description: |-
        Gets a random cat fact.
        Returns the fact if successful, otherwise returns an error.

        Permissions Required: `Facts::Cat`
      summary: "Get Cat Fact"
      responses:
        200:
          description: "The cat fact"
          content:
            plain/text:
              schema:
                type: string
              examples:
                fact:
                  value: "Cats can't taste sweetness."
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
      security:
        - APIToken: []
  /facts/random:
    get:
      operationId: "GetRandomFact"
      description: |-
        Gets a random fact.
        Returns the fact if successful, otherwise returns an error.

        Permissions Required: `Facts::Random`
      summary: "Get Random Fact"
      responses:
        200:
          description: "The random fact"
          content:
            plain/text:
              schema:
                type: string
              examples:
                fact:
                  value: "The average person spends 6 months of their lifetime waiting on a red light to turn green."
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
      security:
        - APIToken: []
  /location/coords:
    get:
      operationId: "GetLocationByCoords"
      description: |-
        Gets the location for the given coordinates.
        Returns the location if successful, otherwise returns an error.

        Permissions Required: `Location::Coord`
      summary: "Get Location By Coordinates"
      parameters:
        - in: "header"
          name: "x-coordpair"
          description: "The coordinates to get the location for"
          schema:
            type: string
          example: "38.8976633,-77.0365739"
      responses:
        200:
          description: "The location for the given coordinates"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing coordinates information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Coordinates:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Coordinates:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given coordinates"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /location/pluscode:
    get:
      operationId: "GetLocationByPlusCode"
      description: |-
        Gets the location for the given plus code.
        Returns the location if successful, otherwise returns an error.

        Permissions Required: `Location::Pluscode`
      summary: "Get Location By Plus Code"
      parameters:
        - in: "header"
          name: "x-pluscode"
          description: "The pluscode"
          schema:
            type: string
          example: "87G8P9CJ+XQ"
      responses:
        200:
          description: "The location for the given pluscode"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing pluscode information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Pluscode:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Pluscode:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given pluscode"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /location/address:
    get:
      operationId: "GetLocationByAddress"
      description: |-
        Gets the location for the given address.
        Returns the location if successful, otherwise returns an error.

        Permissions Required: `Location::Address`
      summary: "Get Location By Address"
      parameters:
        - in: "header"
          name: "x-address"
          description: "The address to get the location for"
          schema:
            type: string
          example: "1600 Pennsylvania Avenue Northwest, Washington, District of Columbia, United States, 20500"
      responses:
        200:
          description: "The location for the given address"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationData"
              examples:
                location:
                  value:
                    address:
                      houseNumber: "1600"
                      street: "Pennsylvania Avenue Northwest"
                      city: "Washington"
                      state: "District of Columbia"
                      country: "United States"
                      postalCode: "20500"
                    coords:
                      lat: 38.8976633
                      lng: -77.0365739
                    pluscode: "87G8P9CJ+XQ"
        400:
          description: "Missing address information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Address:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Address:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given address"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /phone/details:
    get:
      operationId: "GetPhoneDetails"
      description: |-
        Gets the details for the given phone number.
        Returns the details if successful, otherwise returns an error.

        Permissions Required: `Phone::Lookup`
      summary: "Get Phone Details"
      parameters:
        - in: "header"
          name: "x-number"
          description: "The phone number to get the details for"
          schema:
            type: string
          example: "+8888888888"
      responses:
        200:
          description: "The details for the given phone number"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumberData"
              examples:
                details:
                  value:
                    status: "success"
                    phone: "+8888888888"
                    phone_valid: true
                    phone_type: "fixed_line_or_mobile"
                    phone_region: "Michigan"
                    country: "United States"
                    country_code: "US"
                    country_prefix: "1"
                    international_number: "+1 888-888-888"
                    local_number: "(888) 888-8888"
                    e164: "+18888888888"
                    carrier: ""
        400:
          description: "Missing phone number information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Phone:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Phone:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given phone number"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /quotes/kanye:
    get:
      operationId: "GetKanyeQuote"
      description: |-
        Gets a random Kanye West quote.
        Returns the quote if successful, otherwise returns an error.

        Permissions Required: `Quote::Kanye`
      summary: "Get Kanye Quote"
      responses:
        200:
          description: "The Kanye West quote"
          content:
            plain/text:
              schema:
                type: string
              examples:
                quote:
                  value: "I feel like I'm too busy writing history to read it."
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
      security:
        - APIToken: []
  /quotes/ronswanson:
    get:
      operationId: "GetRonSwansonQuote"
      description: |-
        Gets a random Ron Swanson quote.
        Returns the quote if successful, otherwise returns an error.

        Permissions Required: `Quote::RonSwanson`
      summary: "Get Ron Swanson Quote"
      responses:
        200:
          description: "The Ron Swanson quote"
          content:
            plain/text:
              schema:
                type: string
              examples:
                quote:
                  value: "There's only one thing I hate more than lying: skim milk. Which is water that's lying about being milk."
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
      security:
        - APIToken: []
  /quotes/random:
    get:
      operationId: "GetRandomQuote"
      description: |-
        Gets a random quote.
        Returns the quote if successful, otherwise returns an error.

        Permissions Required: `Quote::Random`
      summary: "Get Random Quote"
      responses:
        200:
          description: "The random quote"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuoteData"
              examples:
                quote:
                  value:
                    quote: "The best way to predict the future is to create it."
                    author: "Abraham Lincoln"
                    tags:
                      - "future"
                      - "inspire"
                      - "life"
                      - "wisdom"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
      security:
        - APIToken: []
  /weather/current:
    get:
      operationId: "GetCurrentWeather"
      description: |-
        Gets the current weather for the given location.
        Returns the weather if successful, otherwise returns an error.

        Permissions Required: `Weather::Current`
      summary: "Get Current Weather"
      parameters:
        - in: "header"
          name: "x-city"
          example: "Washington D.C."
          description: "The city to get the weather for"
          schema:
            type: string
        - in: "header"
          name: "x-coords"
          description: "The coordinates to get the weather for"
          example: "38.8976633,-77.0365739"
          schema:
            type: string
      responses:
        200:
          description: "The weather for the given location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherCurrentData"
              examples:
                WashingtonDC:
                  value:
                    coord:
                      lon: -77.0369
                      lat: 38.9072
                    weather:
                      - id: 803
                        main: "Clouds"
                        description: "broken clouds"
                        icon: "04d"
                    base: "stations"
                    main:
                      temp: 63.32
                      feels_like: 62.83
                      temp_min: 60.82
                      temp_max: 66.13
                      pressure: 1026
                      humidity: 74
                    visibility: 10000
                    wind:
                      speed: 11.5
                      deg: 20
                    clouds:
                      all: 75
                    dt: 1695829210
                    sys:
                      type: 2
                      id: 2084333
                      country: "US"
                      sunrise: 1695812403
                      sunset: 1695855499
                    timezone: -14400
                    id: 4140963
                    name: "Washington D.C."
                    cod: 200
        400:
          description: "Missing location information"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Location:
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
                Invalid-Location:
                  value:
                    code: 9
                    message: "Invalid Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        404:
          description: "Error with the given location"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 22
                    message: "Unable to retreive requested information"
      security:
        - APIToken: []
  /mail/send:
    post:
      operationId: "SendEmail"
      description: |-
        Sends an email to the given recipient.
        Returns a success message if successful, otherwise returns an error.

        By default, the API will send emails out through the `contact@thefemdevs.com` email address.
        In a future update, this will be changed to take 2 headers (`x-user` and `x-context`) to allow for custom email sending.

        Permissions Required: `Global::Role.Owner`
      summary: "Send an Email"
      parameters:
        - in: "header"
          name: 'x-user'
          required: true
          description: "The Account Credentals used to send the email"
          example: "XQGdt1KLapMtFZqGCdzyLw.xcWtsV5Xb4T-yEE0lHtLyC60JC4"
          schema:
            type: string
        - in: "header"
          name: 'x-context'
          required: true
          description: |-
            The context of the email (sender's name, reply-to address, etc)

            Syntax: `oneCharLabel:Value;oneCharLabel:Value...`

            Currently, only 2 values are used; `n` for the sender's name and `r` for the reply-to address.
          example: "n:Example User;r:replyto@example.com"
          schema:
            type: string
      requestBody:
        description: "The email information to send"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailRequest"
            examples:
              Plain-Text:
                value:
                  to: "user@example.com"
                  subject: "Test"
                  text: "This is a test email"
              HTML:
                value:
                  to: "user@example.com"
                  subject: "Test"
                  html: "<h1>This is a test email</h1>"
              Link:
                value:
                  to: "user@example.com"
                  subject: "Test"
                  url: "https://example.com"         
      responses:
        200:
          description: "Ok Response"
          content:
            text/plain:
              schema:
                type: string
              examples:
                Good:
                  value: "OK"
        400:
          description: "Missing Body Parameter(s)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Body:
                  summary: "Missing Body Parameter(s)"
                  value:
                    code: 10
                    message: "Missing Body Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        500:
          description: "Error sending email"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "An unknown error occurred"
      security:
        - APIToken: []
  /mail/globalsend:
    post:
      operationId: "SendGlobalEmail"
      description: |-
        Sends an email to the given recipient.
        Returns a success message if successful, otherwise returns an error.

        This routes uses a global administrative email account that allows the requester to send an email from any username.
      summary: "Send an Email using Global Account"
      parameters:
        - in: "header"
          name: 'x-user'
          required: true
          description: "The Account Credentals used to access the administrative email account"
          example: "XQGdt1KLapMtFZqGCdzyLw.xcWtsV5Xb4T-yEE0lHtLyC60JC4"
          schema:
            type: string
        - in: "header"
          name: 'x-context'
          required: true
          description: |-
            The context of the email (sender's name, reply-to address, etc)

            Syntax: `oneCharLabel:Value;oneCharLabel:Value...`

            Currently, only 2 values are used; `n` for the sender's name and `r` for the reply-to address.
          example: "n:Example User;r:user@example.com"
          schema:
            type: string
        - in: "header"
          name: 'x-from'
          required: true
          description: "The email address to send the email from"
          example: "sender@example.com"
          schema:
            type: string
      requestBody:
        description: "The email information to send"
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailRequest"
            examples:
              Plain-Text:
                value:
                  to: "user@example.com"
                  subject: "Test"
                  text: "This is a test email"
              HTML:
                value:
                  to: "user@example.com"
                  subject: "Test"
                  html: "<h1>This is a test email</h1>"
              Link:
                value:
                  to: "user@example.com"
                  subject: "Test"
                  url: "https://example.com"
      responses:
        200:
          description: "Ok Response"
          content:
            text/plain:
              schema:
                type: string
              examples:
                Good:
                  value: "OK"
        400:
          description: "Missing Body Parameter(s)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Body:
                  summary: "Missing Body Parameter(s)"
                  value:
                    code: 10
                    message: "Missing Body Parameter(s)"
                Missing-Headers:
                  summary: "Missing Header Parameter(s)"
                  value:
                    code: 8
                    message: "Missing Header Parameter(s)"
        401:
          description: "Invalid/Missing API Token"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Token:
                  summary: "Missing API Token"
                  value:
                    code: 3
                    message: "No API key provided"
                Invalid-Token:
                  summary: "Invalid API Token"
                  value:
                    code: 4
                    message: "Invalid API key provided"
        403:
          description: "Missing Permissions"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                Missing-Permissions:
                  value:
                    code: 1
                    message: "You are not authorized to access this resource"
                Blacklisted:
                  value:
                    code: 2
                    message: "You are blacklisted from accessing this resource"
        500:
          description: "Error sending email"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorData"
              examples:
                error:
                  value:
                    code: 0
                    message: "An unknown error occurred"
components:
  securitySchemes:
    APIToken:
      type: "http"
      scheme: "bearer"
      bearerFormat: "JWT"
      description: |-
        JSON Web Token Authentication with information containing your license key

        Permissions:
        - `Global::Data.Read` (0:0:0) - **Unused**
        - `Global::Data.Write` (0:0:1) - **Unused**
        - `Global::Data.Create` (0:0:2) - **Unused**
        - `Global::Data.Delete` (0:0:3) - **Unused**
        - `Global::Token.Read` (0:1:0) - Allows reading of token information
        - `Global::Token.ReadAll` (0:1:1) - Allows reading of all token information
        - `Global::Token.Write` (0:1:2) - **Unused**
        - `Global::Token.Create` (0:1:3) - Allows creating of token information
        - `Global::Token.Delete` (0:1:4) - Allows deleting of token 
        - `Global::User.Read` (0:2:0) - Read user information
        - `Global::User.ReadAll` (0:2:1) - **Unused**
        - `Global::User.Write` (0:2:2) - Write/Update user information
        - `Global::User.Create` (0:2:3) - Create a user profile
        - `Global::User.Delete` (0:2:4) - Delete a user profile
        - `Cryptography::Encrypt` (1:0) - Ability to encrypt data using the `/crypto/enc` endpoint
        - `Cryptography::Decrypt` (1:1) - Ability to decrypt data using the `/crypto/dec` endpoint
        - `Dictionary::Definition` (2:0) - Ability to get the definition of a word using the `/dict/def` endpoint
        - `Dictionary::Synonym` (2:1) - Ability to get the synonyms of a word using the `/dict/syn` endpoint
        - `Dictionary::Antonym` (2:2) - Ability to get the antonyms of a word using the `/dict/ant` endpoint
        - `Facts::Dog` (3:0) - Ability to get a random dog fact using the `/facts/dog` endpoint
        - `Facts::Cat` (3:1) - Ability to get a random cat fact using the `/facts/cat` endpoint
        - `Facts::Random` (3:2) - Ability to get a random fact using the `/facts/random` endpoint
        - `Location::Coord` (4:0) - Ability to get the location of coordinates using the `/location/coords` endpoint
        - `Location::Pluscode` (4:1) - Ability to get the location of a pluscode using the `/location/pluscode` endpoint
[...]
